+component(breadcrumb)

  background: $color-white
  color: $color-almost-black
  border-bottom: 2px solid $color-almost-black
  padding: 1em
  font-size: 15px
  -webkit-border-radius: 0
  border-radius: 0
  text-align: left

  list-style: none

  li
    display: inline-block

  a
    color: $color-light-grey

  li + li:before
    content: '\f105'
    font-family: 'FontAwesome'
    padding: 0 7px
    color: $color-dark-grey
