<div class="page-header">
  <%= link_to collections_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
  <% end %>
  <%= link_to @collection, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Show
  <% end %>
  <h1>Editing collection</h1>
</div>

<%= render 'form' %>
