!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/assets/comp2.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/elastic_grid.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body{:style => "background:#fff;"}
    #elastic_grid_demo
    :javascript
      var temp = 0;
      theUrl = "http://localhost:3000/collections/" + "#{@collection.id}" + ".json";
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", theUrl, false);
      xmlHttp.send(null);
      obj = JSON.parse(xmlHttp.responseText);
      obj = obj.products


      $(function () {


          theUrl = "http://localhost:3000/similarproductsi/" + "#{@product.id}" + "/10.json";
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", theUrl, false);
          xmlHttp.send(null);
          objj = JSON.parse(xmlHttp.responseText);


          $.mina = [];

          for (var i = 0; i < obj.length; i++) {
              $.mina.push({
                  'title': obj[i].name,
                  'description': obj[i].name,
                  'thumbnail': [obj[i].img, objj[1].img, objj[2].img, objj[3].img, objj[4].img, objj[5].img, objj[6].img, objj[7].img, objj[8].img, objj[9].img],
                  'large': [obj[i].img, objj[1].img, objj[2].img, objj[3].img, objj[4].img, objj[5].img, objj[6].img, objj[7].img, objj[8].img, objj[9].img],
                  'button_list': [{
                      'title': 'Demo',
                      'url': 'http://porfolio.bonchen.net/',
                      'new_window': true
                  }, {'title': 'Download', 'url': 'http://porfolio.bonchen.net/', 'new_window': false}],
                  'tags': ['Self Portrait']
              });
          }


          $("#elastic_grid_demo").elastic_grid({
              'showAllText': 'All',

              'items': $.mina
          });
      });
