<div class="col-md-12">
  <div class="row">
    <h3>Action</h3>
    <hr>
  </div>
  <div class="row">

    <%= link_to "Edit this link", edit_admin_link_path(link), class: "text-button --green" %>

  </div>

</div>
