.dialog-icon
  background: $color-green !important

.btn-primary 
  background: $color-green !important
  border-color: $color-green !important

.nav-pills.nav-stacked.nav-arrow > li.active a
  color: #fff !important
  background: $color-green !important
  border-color: $color-green !important

.nav-pills.nav-stacked.nav-arrow > li.active a:after
  background: $color-green !important

.nav-pills.nav-stacked.nav-arrow > li a:hover
  color: $color-green !important

.panel-primary>.panel-heading
  color: #fff !important
  background-color: $color-green !important
  border-color: $color-green !important

.panel-primary
  border-color: $color-green !important

.panel-primary>.panel-heading
  background-image: -o-linear-gradient(top,$color-green 0,$color-green 100%)
  background-image: -webkit-gradient(linear,left top,left bottom,from($color-green),to($color-green))
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-green', endColorstr='$color-green', GradientType=0)

.address-box:hover .address-box-new-icon 
  background: $color-green !important

.address-box-remove:hover, .address-box-edit:hover
  background: $color-green !important

.caret
  color: $color-green !important

.table a
  color: $color-green