.dialog-icon
  background: $color-green !important

.btn-primary 
  background: $color-green !important
  border-color: $color-green !important

.nav-pills.nav-stacked.nav-arrow > li.active a
  color: #fff !important
  background: $color-light-green-2nd !important
  border-color: $color-light-green-2nd !important

.nav-pills.nav-stacked.nav-arrow > li.active a:after
  background: $color-light-green-2nd !important

.nav-pills.nav-stacked.nav-arrow > li a:hover
  color: $color-light-green-2nd !important

.nav-pills.nav-stacked.nav-arrow > li.active a:hover
  color: white !important

.panel-primary>.panel-heading
  color: #fff !important
  background-color: $color-light-green-2nd !important
  border-color: $color-light-green-2nd !important

.panel-primary
  border-color: $color-light-green-2nd !important

.panel-primary>.panel-heading
  background-image: -o-linear-gradient(top,$color-light-green-2nd 0,$color-light-green-2nd 100%)
  background-image: -webkit-gradient(linear,left top,left bottom,from($color-light-green-2nd),to($color-light-green-2nd))
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-light-green-2nd', endColorstr='$color-light-green-2nd', GradientType=0)

.address-box:hover .address-box-new-icon 
  background: $color-light-green-2nd !important

.address-box-remove:hover, .address-box-edit:hover
  background: $color-light-green-2nd !important

.caret
  color: $color-green !important

.table a
  color: $color-green

.panel-info>.panel-heading
  color: #fff !important
  background-color: $color-light-green-2nd !important
  border-color: $color-green !important
  background-image: none !important