+component(flexnav-hook)

  li
    background-color: $color-green !important

  +part(overmenu)
    +padding-vertical(1em)
    margin-top: 1em !important

  +part(button)
    border-left: none; 
    border-bottom: none;
    position: none; 
    display: block; 
    padding: 0;
    color: inherit; 
    background: inherit;
    border-bottom: 0


  +part(submenu)
    padding-top: 1em !important
    li 
      color: black
      padding: 1em !important
      background-color: $color-light-green !important
      border-color: $color-green
      border-width: 2px

.flexnav li a
    position: inherit !important
    display: inherit !important
    padding: inherit !important
    z-index: inherit !important
    overflow: inherit !important
    color: inherit !important
    background: inherit !important
    border-bottom: inherit !important
    font-size: inherit !important
    border-left: inherit !important
    margin: 0em !important
    padding: 0em !important
    line-height: inherit !important
    border: 0px
    height: inherit !important
    border: none !important