<div class="row">
  <div class="col-md-10">
    <h2>Referrers</h2>
    List of all referrers
    <hr>
  </div>
</div>

<div class="+overflow">
  <%= render partial: "admin/referrers/table", :locals => { :referrers => @referrers } %>
</div>
