<div class="row">
  <div class="col-md-10">
    <h2>Referrers</h2>
    List of all referrers
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <%= render partial: "shared/partials/search" %>
  </div>
</div>

<%= render partial: "admin/referrers/table", :locals => { :referrers => @referrers } %>
