<div class="details">

  <div class="row">
    <div class="col-md-10">
      <h2>Inquiry <%= @inquiry.id %></h2>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>

  <div class="+small-spacer"></div>

  <div class="row details__block">
    <%= render partial: "admin/inquiries/form", locals: { inquiry: @inquiry } %>
  </div>

  <div class="row details__block +danger-zone">
    <%= render partial: "admin/inquiries/show/danger_zone", locals: { inquiry: @inquiry } %>
  </div>

</div>
