<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <% if @featured_shop.nil? && @casual_shops.empty? %>

  <!-- There's no shop right now -->
  <div class="+white-box +centered">
    <h4>
     <%= I18n.t(:no_shop_available, scope: :notice) %>
   </h4>
 </div>


  <% else %>

  <!-- Shop Blocks -->
  <div class="shop-blocks">

    <div class="row shop-blocks__main">

      <div class="col-md-5 +nopadding">
        <%= render partial: "guest/categories/show/category", :locals => { :category => @category } %>
      </div>

      <!-- First Shop Display in Front -->
      <% if @featured_shop %>

        <div class="col-md-7 +nopadding">
          <%= render partial: "guest/categories/show/featured_shop", :locals => { :featured_shop => @featured_shop } %>
        </div>

      <% end %>

    </div>

    <div class="row">
      <div class="shop-blocks__secondary">

        <% @casual_shops.each do |casual_shop| %>

        <%= render partial: "guest/categories/show/casual_shop", :locals => { :casual_shop => casual_shop } %>

        <% end %>

      </div>
    </div>

  </div>
  <!-- End of Shop Blocks -->

  <% end %>

</div>

<div class="row +spacer"></div>
