<div class="row">
  <div class="col-md-12">
    <div class="banner lazy" data-original="<%= @category.cover %>" style="background-image:url('/images/grey.jpg');">
      <h1><%= @category.name %></h1>
    </div>
  </div>
</div>

<% @shops.each do |shop| %>

  <%= render partial: "guest/shops/block", :locals => { :shop => shop } %>

<% end %>
