<div class="row">
  <div class="col-md-10">
    <h2>Payment Gateways</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<%= render partial: "admin/payment_gateways/table", :locals => { :payment_gateways => @payment_gateways } %>

<%= will_paginate @payment_gateways, renderer: BootstrapPagination::Rails %>
