<% if addresses.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <th>
        Id #
      </th>
      <th>
        Type
      </th>
      <th>
        City
      </th>
      <th>
        Zip
      </th>
      <th>
        Address
      </th>
      <th>
        Country
      </th>
      <th>
        Action
      </th>
    </thead>
    <tbody>
      <%= render partial: "admin/addresses/table/data", collection: addresses, :as => :address %>
    </tbody>
  </table>
</div>
  <% else %>
  <div class="+white-box +centered">
    <h4>
      No address found
    </h4>
  </div>
  <% end %>
