<div class="row">
  <div class="col-md-10">
    <h2><%= I18n.t('top_menu.legal_and_settings') %></h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div>
  <%= render partial: 'shopkeeper/settings/form', :locals => {:shop => @shop} %>
</div>
