<%= form_for [:shopkeeper, @product], :path => shopkeeper_product_variants_path(@product), :html => {:data => {:toggle => 'validator'}} do |f| %>

  <div class="row details__block">
    <%= render partial: "shopkeeper/products/variants/index/form", :locals => {:f => f} %>
  </div>

  <div class="row">
    <%= f.submit :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>
  </div>

<% end %>
