<%= form_for [:shopkeeper, @product], :html => {:data => {:toggle => 'validator'}} do |f| %>

  <div class="row details__block">
    <%= render partial: "shopkeeper/products/variants/index/form", :locals => {:f => f} %>
  </div>

  <%= f.submit :id => 'edit_product_submit_btn', :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>

<% end %>
