<!DOCTYPE html>
<html lang ="en">
<head>
  <meta name ="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:#659443" id="csstyle">

  <link rel="stylesheet" type="text/css" href="assets/app.css">
  <link rel="stylesheet" type="text/css" href="assets/vendor.css">

  <!-- Base container -->
  <div class="container-fluid page-error +centered">

    <div class="+spacer"></div>
    <img src="assets/logo-white-full.png">
    <div class="+spacer"></div>

    <%= yield %>

  </div>

</body>
</html>