<% if product.shop %>
  <h4>
    <%= link_to "Shop: #{product.shop.shopname}", product.shop %>
  </h4>
<% end %>

<h4>
  <%= product.name %>
</h4>
<p>
  <%= product.decorate.short_desc(200) %> <a href="<%= product_path(product) %>" class="btn btn-primary">See more</a>
</p>