<div class="fotorama" data-allowfullscreen="1" data-nav="thumbs" data-thumbheight="96" data-thumbwidth="96">
  <% product.decorate.get_mas.decorate.all_nonempty_img_fields.each do |f| %>
    <%= image_tag product.decorate.get_mas_img_url(f, :detail) %>
  <% end %>
</div>