<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: customer_referrer_path } %>

    <!-- LINKS LIST -->
    <%= render partial: 'customer/referrer/links/table', :locals => { links: @links, referrer: @referrer } %>

  </div>
</div>
