HERE ARE EXPLANATION HOW TO SHARE STUFF

<div id="weixin-share-link"
      data-title="<%= @link.title %>"
      data-desc="<%= @link.desc %>"
      data-img-url="<%= @link.thumbnail_url %>"
      data-link="<%= @link.wechat.with_login_and_referrer(@referrer) %>">
</div>
