<div class="row">
  <div class="col-md-10">
    <h2>Shipping Rates</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<%= render partial: "admin/shipping_rates/table", :locals => { :shipping_rates => @shipping_rates } %>
