<!-- The logic is in show.html.bk.erb, this one is made for mobile version only -->

<!-- HERE GOES THE BREADCRUMB -->
<div class="row">
  <div class="col-xs-12">
    BACK
  </div>
</div>

<!-- CART -->
<div class="row">
  <div class="col-xs-12">
    <div class="cart">

      <!-- Order Title (Shop or Package Set) -->
      <div class="cart__order-title">
        Shop 1
      </div>

      <hr />

      <!-- Order Item -->
      <div class="cart__order-item">
        <div class="col-xs-3">
          <!-- Image -->
          <div class="cart__order-item-image">
            <img src="/samples/images/product/400x400.png">
          </div>
        </div>
        <div class="col-xs-8">
          <div class="row">

            <div class="col-xs-11">
              <!-- Title -->
              <div class="cart__order-item-title">
                Product 1
              </div>
              <!-- Description -->
              <div class="cart__order-item-description">
                Category - Category
              </div>
            </div>

            <div class="col-xs-1 +nopadding">
              <!-- Remove Item -->
              <div class="cart__order-item-remove">
                X
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-6">
              <!-- Quantity -->
              <div class="cart__order-item-quantity">
                QUANTITY
              </div>
            </div>
            <div class="col-xs-6">
              <!-- Total -->
              <div class="cart__order-item-total">
                TOTAL
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
