<% if cart_manager.products_number > 0 %>

  <%= render partial: 'customer/cart/show/cart', locals: {orders: @cart.orders} %>

<% else %>

  <div class="row col-md-6 col-md-push-3 col-md-pull-3 +white-box +centered">
    <h4>
      <%= I18n.t(:no_products, scope: :cart) %>
    </h4>
  </div>

<% end %>
