<% if cart_manager.products_number > 0 %>

  <%= render partial: 'customer/cart/show/cart', locals: { cart: @cart } %>

<% else %>

  <div class="row col-md-6 col-md-push-3 col-md-pull-3 +white-box +centered">
    <h4>
      <%= I18n.t('cart.no_products') %>
    </h4>
  </div>

<% end %>
