<div class="row">

  <!-- Not keeping memory of this page -->
  <div id="js-navigation-disabled"></div>

  <!-- Data needed for the payment checkout -->
  <%= content_tag(:div, nil, :id => "bank-details", :data => @checkout.hosted_payment_datas.compact) %>
  <div class="+spacer"></div>
</div>

<div class="row">
  <div class="col-md-8 col-md-push-2 col-md-pull-2 +white-box +centered">
  <img src="/images/mascotte/step3.png" width="400px">
  <%= render partial: 'shared/partials/loader', locals: { :options => {} } %>
  <div class="+spacer"></div>
  <h3>
    <%= I18n.t('checkout.redirect_to_payment') %>
  </h3>
</div>
</div>

<div class="row">
  <div class="+spacer"></div>
</div>
