<div class="row">
  <div class="col-md-10">
    <h2>Shop Applications</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<%= render partial: "admin/shop_applications/table", :locals => { :shop_applications => @shop_applications } %>

<%= will_paginate @shop_applications, renderer: BootstrapPagination::Rails %>
