<!-- NOTE : this should be refactored and split in a clean way -->
<% if potential_customer? %>

  <%= render "guest/home/show/landing_page_banner" %>

  <a href="https://friend.germanyinbox.com/start/">
    <img src="/images/stickers/incubator.png" width="300px" />
  </a>

  <% @shops.each do |shop| %>
    <% cache shop do %>
      <%= render partial: "guest/shops/block", :locals => { :shop => shop } %>
    <% end %>
  <% end %>

<% elsif potential_shopkeeper? %>

  <%= render "guest/home/show/marketplace" %>

<% end %>
