<a href="<%= shared_order_path(order, format: "csv") %>"><i class="fa fa-file-excel-o tooltipster buttons buttons__edit" title="Shipment CSV"></i></a>
<a href="<%= shared_order_bill_path(order, format: "pdf") %>"><i class="fa fa-eur tooltipster buttons buttons__edit" title="Informal Bill"></i></a>
