<h2>
  <%= product.name %> 
</h2>
<span class="+red +up +bold">Only 3 left</span>
<p>
  Djlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlkDjlmkj mklj mlkj mlkj lkj mlk
  <%= product.desc %>
</p>