
  <span class="+price-yuan">100¥</span> <span class="+price-euro">10€</span>


<!--
      Price
      <span id="product_price_<%= product.id %>">
        <%= "#{product.decorate.get_mas.price} #{product.shop.currency.code}" %>
      </span>
    </li>

      Stocks
      <span id="product_inventory_<%= product.id %>">
        <%= product.decorate.get_mas.unlimited ? I18n.t(:unlimited, scope: :popular_products) : product.decorate.get_mas.quantity %>
      </span>
-->