<div class="categories-block__brands +centered">

  <h4>海外服务</h4>

  <% brand_filters.each do |brand| %>
    <% if brand == current_brand %>
    <span class="categories-block__brands --selected"><%= brand.name %></span>
    <% else %>
    <a href="<%= guest_services_path(brand_id: brand.slug) %>"><%= brand.name %></a>
    <% end %>
  <% end %>

<hr />
</div>
