<% if current_user&.tester? %>

<p class="categories-block__brands +centered">
  旅游服务 :</span>

<% brand_filters.each do |brand| %>
  <% if brand == current_brand %>
  <span class="+strong +green"><%= brand.name %></span> |
  <% else %>
    <a href="<%= guest_services_path(brand_id: brand.slug) %>"><%= brand.name %></a> |
  <% end %>
<% end %>

</p>

<% end %>
