<div class="row">
  <div class="col-md-10">
    <h2><%= I18n.t(:my_product, scope: :top_menu) %></h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div>
  <%= render partial: 'shopkeeper/products/form', :locals => { product: @product } %>
</div>
