<div class="main-header__avatar" style="background-image:url(<%= current_user.decorate.avatar %>)">

  <% if current_user.decorate.new_notifications? %>
  <div class="main-header__avatar --notification">
    <%= current_user.notifications.unreads.count %>
  </div>
  <% end %>

</div>
