<div class="panel panel-info">
  <div class="panel-heading text-center">
    <label class="<%= (@shop.agb ? '' : 'required') %>">
      Pricing
    </label>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :min_total, I18n.t(:min_total, scope: :edit_shop), :class => 'required' %> (EUR)
      <%= f.text_field :min_total, value: number_with_precision(@shop.min_total ? @shop.min_total : 0, :precision => 2), :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float_equal_or_greater_than_0, scope: :validation) %>
    </div>
  </div>
</div>
