<div class="col-md-12">
  <div class="row">
    <h3>Pricing</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">

    <!-- Merchant ID -->
    <div class="row">
      <div class="col-md-4">
        <%= f.label :min_total, I18n.t(:min_total, scope: :edit_shop), :class => 'required' %> (EUR)
      </div>
      <div class="col-md-8">
        <%= f.text_field :min_total, value: number_with_precision(@shop.min_total ? @shop.min_total : 0, :precision => 2), :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float_equal_or_greater_than_0, scope: :validation) %>
      </div>
    </div>

    </div>
  </div>

</div>
