+component(main-table)

  +classy-shadow
  +overflow
  margin-bottom: 1em
  border: 1px solid $color-super-light-grey

  table
    background-color: $color-white
    +border-radius(4px)
    word-wrap: break-word
    width: 100%
    vertical-align: middle

    #{$a-tags}
      color: $color-blue
      // border-bottom: 1px dashed $color-blue

    tr:nth-child(even)
      background-color: $color-almost-white

    >thead >tr >th
      vertical-align: middle
      padding: 0.5em
      white-space: nowrap

    >tbody >tr >td
      vertical-align: middle
      padding: 0.5em
      border-bottom: $color-grey solid 1px

    >thead
      border-bottom: $color-grey solid 2px

    img
      +border-radius(5px)
