+component(pagination)

  #{$a-tags}
    color: $color-black

  .active
    #{$a-tags}
      color: $color-white
      cursor: default
      background-color: $color-black
      border-color: $color-black

    span
      #{$a-tags}
      color: $color-white
      cursor: default
      background-color: $color-black
      border-color: $color-black
