+component(pagination)

  #{$a-tags}
    color: $color-almost-black

  .active
    #{$a-tags}
      color: $color-white
      cursor: default
      background-color: $color-almost-black
      border-color: $color-almost-black

    span
      #{$a-tags}
      color: $color-white
      cursor: default
      background-color: $color-almost-black
      border-color: $color-almost-black
