+component(search)

  input
    &[type="submit"]
      color: $color-white
      background-color: $color-black

    &[type="text"]
      padding-left: 0.5em
      width: 300px
      border: 1px dashed $color-light-grey
    height: 35px
