+component(search)

  margin-bottom: 1em
  height: 30px

  button
    color: $color-white
    background-color: $color-almost-black
    text-decoration: none
    border: 0
    +border-radius(2px)

  input
    height: 30px
    +border-radius(2px)
    &[type="text"]
      padding-left: 0.5em
      width: 300px
      border: 1px solid $color-grey
