<div class="row">
  <div class="col-md-10">
    <h2>Shops</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= emails_admin_shops_path %>"><i class="fa fa-envelope-o tooltipster" title="Shopkeepers Email List"></i></a>
  </div>
</div>

<%= render partial: "admin/shops/table", :locals => { :shops => @shops } %>

<%= will_paginate @shops, renderer: BootstrapPagination::Rails %>
