<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.decorate.full_name %></h1>
    <p>
      You just got a new notification from our site about "<%= @title %>"<br>
    </p>
    <p>
      To read more: <a href="<%= root_url %><%= @url %>">click here</a>.
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>