<div class="row">
  <div class="col-xs-122">

    <!-- SUBHEADER (BACK BUTTON) -->
    <%= render partial: 'customer/orders/addresses/subheader' %>

    <div class="col-xs-12">
      <div class="addresses">

        <!-- Shop Name -->
        <div class="addresses__title">
          请从以下地址中选择
        </div>

        <div class="row addresses__list">
          <div class="col-xs-12">

            <div class="addresses__address">
              <div class="addresses__infos">
                <div class="addresses__address-name">Laurent Schaffner</div>
                <div class="addresses__address-street">18 allée pierre corneille</div>
                <div class="addresses__address-city">33470, Gujan-Mestras</div>
                <div class="addresses__address-country">Gironde, France</div>
                <div class="addresses__address-phone">+33640380562</div>
              </div>
              <div class="addresses__remove">X</div>
              <div class="addresses__use">Use this address</div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- ADDRESSES LIST -->
    <!-- < @addresses.each do |address| %>
      <= render partial: 'customer/orders/addresses/address', :locals => { :address => address } %>
    < end %> -->

  </div>
</div>
