<div class="row">
  <div class="col-xs-12">

    <!-- SUBHEADER (BACK BUTTON) -->
    <%= render partial: 'customer/orders/addresses/subheader' %>

      <div class="row addresses">
        <div class="col-xs-12">

        <!-- Title -->
        <div class="addresses__title">
            请从以下地址中选择
        </div>

        <div class="row addresses__list">

          <!-- Address block -->
          <div class="col-xs-12">
            <div class="addresses__address">
              <div class="addresses__address-infos">
                <div class="addresses__address-name">Laurent Schaffner</div>

                <div class="addresses__address-details">
                  <div class="addresses__address-street">18 allée pierre corneille</div>
                  <div class="addresses__address-city">33470, Gujan-Mestras</div>
                  <div class="addresses__address-country">Gironde, France</div>
                  <div class="addresses__address-phone">+33640380562</div>
                </div>

              </div>
              <div class="addresses__address-remove">X</div>
              <div class="addresses__address-use">Use this address</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- ADDRESSES LIST -->
    <!-- < @addresses.each do |address| %>
      <= render partial: 'customer/orders/addresses/address', :locals => { :address => address } %>
    < end %> -->

  </div>
</div>
