<% @shops.each do |shop| %>
<!-- Shop Box -->
<div class="row">
  <div class="col-md-12 shop-box">

    <!-- Cover shop -->
    <div class="col-md-6 shop-box__cover" style="background-image:url(<%= shop.banner %>);">

      <div class="shop-box__overlay">
      </div>

      <div class="row shop-box__cover --text">

      <h2><%= shop.shopname %></h2>
      <%= shop.desc %>
      </div>

    </div>

    <!-- Produts Mini List -->
    <div class="col-md-6 shop-box__products +centered">

        <% shop.products.take(3).each do |product| %>
        <div class="col-md-4 shop-box__products --product">
        <img src="<%= product.decorate.product_cover_url %>">
        </div>
        <% end %>
        <!--
        <div class="col-md-4 shop-box__products --product">
        <img src="/assets/demo-product.jpg">
        </div>

        <div class="col-md-4 shop-box__products --product">
        <img src="/assets/demo-product.jpg">
        </div>
        -->
    </div>

  </div>
</div>
<div class="+spacer"></div>

<% end %>