  <div class="row text-center">
    <% image_fields.each do |image_field| %>
    <div class="col-md-3">
      <%= image_tag @shop.decorate.image_url(image_field, :thumb), :class => 'thumbnail-img', :id => "#{image_field}_#{@shop.id}" %>
    </div>
    <% end %>
  </div>
  <div class="row text-center">
    <% image_fields.each do |image_field| %>
    <div class="col-md-3">
      <div class="fileUpload btn btn-default">
        <span>
          <i class="fa fa-cloud-upload"></i>
          <%= I18n.t(:upload, scope: :image_upload) %>
        </span>
        <%= form.file_field image_field, :accept => "image/png, image/jpeg, image/jpg", :img_id => "##{image_field}_#{@shop.id}", :class => 'img-file-upload upload' %>
      </div>
      <%= link_to I18n.t(:remove), shop_destroy_image_path(@shop, image_field: image_field), :method => :delete, :class => 'btn btn-default' %>
    </div>
    <% end %>
  </div>
