<% 3.times do %>
<!-- Shop Box -->
<div class="row">
  <div class="col-md-12 shop-box">

    <!-- Cover shop -->
    <div class="col-md-6 shop-box__cover" style="background-image:url(/assets/demo-shop.jpg);">

      <div class="shop-box__overlay">
      </div>

      <div class="row shop-box__cover --text">

      <h2>My Shop</h2>
      This a short description of the shop bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
      </div>

    </div>

    <!-- Produts Mini List -->
    <div class="col-md-6 shop-box__products +centered">

        <div class="col-md-4 shop-box__products --product">
        <img src="/assets/demo-product.jpg">
        </div>
        <div class="col-md-4 shop-box__products --product">
        <img src="/assets/demo-product.jpg">
        </div>

        <div class="col-md-4 shop-box__products --product">
        <img src="/assets/demo-product.jpg">
        </div>
    </div>

  </div>
</div>
<div class="+spacer"></div>

<% end %>