<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <!-- Shop Blocks -->
  <div class="shop-page">

    <div class="row">

      <!-- Shop Page Cover -->
      <div class="col-md-12 shop-page-cover" style="background-image:url(https://pixabay.com/static/uploads/photo/2015/12/08/00/26/coffee-shop-1081713_960_720.jpg);">
        <div class="+overlay"></div>

        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-page-cover__content +centered">

            <img src="https://www.menashion.de/wp-content/uploads/2015/06/Cardi-Bob-2015sw-300x300.jpg">

            <div class="+small-spacer"></div>

            <h2>Shop Name</h2>
            <div class="shop-page-cover__author">by Lorenzo Schaffnero</div>

            <div class="+small-spacer"></div>
            Shop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description hereShop description here

            <div class="+small-spacer"></div>

          </div>
          <!-- End of Content -->

        </div>

      </div>
      <!-- End of Shop Page Cover -->

    </div>

    <div class="row">

      <div class="+small-spacer"></div>

      <% 3.times do %>

      <!-- Start Product -->
      <div class="col-md-4 shop-page-product">

        <div class="col-md-1 col-md-push-11 shop-page-product__purchase">

          <a href="#heart">
          <div class="row shop-page-product__purchase --like">
            <i class="fa fa-heart"></i>
          </div>
          </a>

        </div>

      <a href="<%= product_path(Product.first) %>">

        <div class="col-md-12 shop-page-product__image +centered">

          <img src="http://7xt4mc.com1.z0.glb.clouddn.com/uploads/sku/img0/571568c18066513c0b4a43f2/200712181054552_2.jpg?e=1465413736&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:BsLPP8cLNLJLg247j2GJ-isEgOs=&imageView2/2/w/400/h/400">

        </div>

        <div class="col-md-12 shop-page-product__description">

          <h2>Product Name</h2>
          <div class="shop-page-product__description --text">
            Description of the product on 2 lines maximum and ...
          </div>
          <div class="shop-page-product__description --prices">
            <span class="+price-yuan">100¥</span> <span class="+price-euro">10€</span>
          </div>

        </div>

      </a>
      </div>
      <!-- End Product -->

      <% end %>

    </div>

    <div class="+spacer"></div>

  </div>
  <!-- End of Shop Blocks -->

</div>