<div class="details">
  <div class="row details__block">
    <h3>Edit banner <%= @banner.id %></h3>
    <hr>

    <%= render partial: "admin/banners/form", locals: { banner: @banner } %>

  </div>
</div>
