<div class="row">
  <div class="col-md-10">
    <h2>Banners</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/partials/search" %>
  </div>
</div>

<%= render partial: "admin/banners/table", :locals => { :banners => @banners } %>

<%= will_paginate @banners, renderer: BootstrapPagination::Rails %>
