<div>
  <% if sku.discount? %>

  <span id="product_discount_with_currency_yuan" class="+barred-price">
    <%= sku.product.decorate.preview_price_yuan_html.html_safe %>
  </span>

  <% end %>

  <span id="product_price_with_currency_yuan" class="+price-yuan"><%= sku.decorate.price_after_discount_in_yuan_html.html_safe %></span>
</div>

<span id="product_price_with_currency_euro" class="+price-euro"><%#= sku.decorate.price_after_discount_in_euro_html.html_safe %></span>
<span class="+red">(<%= I18n.t('product_box.taxes_included') %>)</span>

<br />
