<div>
  <% if sku.discount? %>
  <span id="product_discount_with_currency_yuan" class="+barred-price">
    <%= sku.price_with_taxes.in_euro.to_yuan.display_html.html_safe %>
  </span>
  <% end %>

  <% if sku.decorate.custom_price? %>
  <span id="product_discount_with_currency_yuan" class="+barred-price">
    <%= sku.decorate.casual_total_price.in_euro.to_yuan.display_html.html_safe %>
  </span>
  <% end %>

  <span id="product_price_with_currency_yuan" class="+price-yuan"><%= sku.decorate.after_discount_price.in_euro.to_yuan.display_html.html_safe %></span>
</div>

<span class="+red">(<%= I18n.t('product_box.taxes_included') %>)</span>

<br />
