<div class="col-md-12">
  <div class="row">
    <h3>Delivery Options</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-2">
    <%= form.label :hermes_pickup, :class => 'switch' do %>
      <%= form.check_box :hermes_pickup %>
      <div class="switch__slider"></div>
    <% end %>
    </div>
    <div class="col-md-10">
      Hermes Pickup Service
    </div>
  </div>

</div>
