<div class="row">
  <div class="col-md-4 col-md-push-4 col-md-pull-4">
    <div class="+divider">OR</div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-push-4 col-md-pull-4 connect__alternative-login +centered">
    <a href="<%= user_omniauth_authorize_path(:wechat) %>">
      <img src="/images/logos/wechat.png">
    </a>
  </div>
</div>
