<div class="row +nomargin">

  <% if @favorites.count > 0 %>

    <%= render partial: "guest/shops/show/products", :locals => { :products => @favorites } %>

  <% else %>

    <div class="+white-box +centered">
      <h4>
       <%= I18n.t('result.not_found') %>
     </h4>
   </div>

 <% end %>

</div>

<div class="+spacer"></div>
