<h2><%= Settings.instance.package_sets_title %></h2>
<p><%= Settings.instance.package_sets_description %></p>
<a href="<%= guest_package_sets_path %>" class="main-button__hollow"><%= I18n.t(:see_our_campaigns, scope: :package_set) %></a>
