<h2><%= Setting.instance.package_sets_title %></h2>
<p><%= Setting.instance.package_sets_description %></p>
<a href="<%= Setting.instance.package_sets_link %>" class="main-button__hollow"><%= Setting.instance.package_sets_button %></a>
