<div class="row">
  <!-- Data needed for the payment checkout -->
  <%= content_tag(:div, nil, :id => "bank-details", :data => @checkout.hosted_payment_datas.compact) %>
</div>

<div class="row col-md-8 col-md-push-2 col-md-pull-2 +white-box +centered">
  <h4>
    <%= I18n.t(:redirect_to_payment, scope: :checkout) %>
  </h4>
</div>
