#scrollUp

  bottom: 20px
  right: 20px
  padding: 7px 15px
  background-color: $color-light-green
  color: $color-very-light-green
  +border-radius(10%)

  i
    font-size: 35px

#cart
  z-index: 11 // right above the flash messages

.js-editable
  button
    color: $color-blue !important
  a
    color: $color-black !important

.col-centered
  float: none
  margin: 0 auto

.tips-template
  display: none

html
  box-sizing: border-box

input, textarea, select, a, button
  outline: none !important

.content
  margin: 0 auto

.content-customer
  max-width: 1230px

.content-shopkeeper
  max-width: 1500px

.content-admin
  max-width: 1700px

*, *:before, *:after
  box-sizing: inherit

h4
  margin-top: 0.8em
  margin-bottom: 0.8em
  color: $color-black
  a
    color: $color-black
    &:hover
      color: $color-black

body
  background-color: $color-grey
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

textarea, input, a
  outline: none

*:focus
  outline: none

#{$a-tags}
  text-decoration: none !important
  outline: none !important

.thumbnail-img
  width: auto !important
  max-height: 200px !important
  max-width: 200px !important

.detail-img
  width: auto
  max-height: 400px

.icon-img
  width: auto
  max-height: 100px

.logo-img
  width: auto
  max-height: 96px

.logo-img-large
  width: auto
  max-height: 256px


// OFFCANVAS
// html, body
//   height: 100%
