+component(main-menu)
  +padding-vertical(1em)

  +part(logo)
    img
      max-width: 200px

+component(product-menu)
  background-color: $color-green
  color: #ecf0f1
  font-weight: 600
  text-transform: uppercase

+component(main-footer)
  +padding-vertical(1em)
  background-color: $color-green
  color: #ecf0f1 !important
  min-height: 100px
  text-transform: uppercase
  position: absolute // remove it when mobile
  bottom: 0
  left: 0

  +part(logo)
    img
      max-width: 70px


+component(sliding)
  background: url("slider/1.jpg") no-repeat center center fixed; 
  position: relative
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover