+tweak(centered)
  text-align: center
  margin: 0 auto

+tweak(vertical-centered)
  padding-top: 35px

+tweak(spacer)
  margin: 1em

+tweak(red)
  color: #e74c3c

+tweak(blue)
  color: #3498db

+tweak(grey)
  color: #95a5a6

+tweak(strong)
  font-weight: 600