<div class="row" id="messages-container">
  <% if flash[:error] %>
  <div id="message-error" class="col-md-4 col-md-push-4 col-md-pull-4 message message__error +centered">
    <%= flash[:error] %>
  </div>
  <% end %>

  <% if flash[:success] %>
  <div id="message-success" class="col-md-4 col-md-push-4 col-md-pull-4 message message__success +centered">
    <%= flash[:success] %>
  </div>
  <% end %>
</div>
