<div class="navbar-fixed-top" id="message-area">

  <%= render partial: "layouts/customer/subheader/messages/template", :locals => { message: :error } %>
  <%= render partial: "layouts/customer/subheader/messages/template", :locals => { message: :success } %>

</div>
