<div class="col-md-10 +white-box col-md-push-1 col-md-pull-1 +centered">
  <div class="+big-spacer"></div>
  <%= render partial: 'shared/partials/loader', locals: { :options => {} } %>
  <div id="external-script">
    <%= yield %>
  </div>
</div>
