<div class="col-md-10 +white-box col-md-push-1 col-md-pull-1 +centered">
  <div class="+big-spacer"></div>
  <%= render 'shared/partials/loader' %>
  <div id="external-script">
    <%= yield %>
  </div>
</div>
