<div class="col-md-10 +white-box col-md-push-1 col-md-pull-1 +centered">
<%= render 'shared/partials/loader' %>
<div id="external-script">
  <script type="text/javascript" src="https://www.wenjuan.com/iframe/57ce8ec6a320fc02dd2ec732/"></script>
</div>
</div>
