<div class="col-md-10 +white-box col-md-push-1 col-md-pull-1 +centered">
<%= render 'shared/partials/loader' %>
<div id="external-script">
  <script type="text/javascript" src="https://www.wenjuan.com/iframe/57cfd315a320fc539bf5e589/"></script>
</div>
</div>
