<div class="col-md-8 col-md-push-2 col-md-pull-2 category-blocks">

  <div class="row">
    <a href="<%= bug_report_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2>Bug Report</h2>
        </div>
      </div>
    </a>

    <a href="<%= payment_speed_report_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2>Payment Speed Report</h2>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a href="<%= overall_rate_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2>Overall Rate</h2>
        </div>
      </div>
    </a>

    <a href="<%= product_suggestions_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2>Product Suggestions</h2>
        </div>
      </div>
    </a>
  </div>

</div>
