= inside_layout do
  .row
    %div{:class => "+spacer"}
    .col-md-3
      %aside.sidebar-left
        %ul.nav.nav-pills.nav-stacked.nav-arrow
          = render partial: "layouts/sublayout/menu/customer"
    .col-md-8
      = yield