<div class="row">
  <div class="col-md-10">
    <h2><%= @product.name %></h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div>
  <%= render partial: 'admin/shops/products/form', :locals => { product: @product } %>
</div>
