<div class="remodal" data-remodal-options="hashTracking: false" data-remodal-id="wechat-qrcode">
  <div class="product-miniblock">
    <!-- Close Action -->
    <button data-remodal-action="close" class="remodal-close"></button>
    <img src="/images/stickers/wechat.jpg" />
  </div>
</div>

<a data-remodal-target="wechat-qrcode">
  <img src="/images/logos/wechat-logo-white.png">
</a>
