<div id="wechat-qr-code" class="hidden">
  <div class="social-medias__qr-code">
    <img src="/images/stickers/wechat.png" %>
    <!-- <img src="/images/logos/wechat-qr-code.png"> -->
  </div>
  <div class="social-medias__triangle"></div>
</div>

<div id="wechat-qr-code-trigger">
  <img src="/images/logos/wechat-logo-white.png">
</div>
