<div id="weibo-qr-code" class="hidden">
  <div class="social-medias__qr-code">
    <img src="/images/stickers/weblog.png">
  </div>
  <div class="social-medias__triangle"></div>
</div>

<div id="weibo-qr-code-trigger">
  <img src="/images/logos/weibo-logo-white.png">
</div>
