<div class="row">
  <div class="col-md-10">
    <h2>New Brand</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div>
  <%= render partial: 'admin/brands/form', :locals => { brand: @brand } %>
</div>
