<div class="row">
  <div class="col-md-10">
    <h2><%= @brand.name %></h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div>
  <div class="row details__block">
    <%= render partial: "admin/brands/form/products", :locals => {:brand => @brand} %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/brands/form/action", :locals => {:brand => @brand} %>
  </div>

  <div class="row details__block +danger-zone">
    <%= render partial: "admin/brands/form/danger_zone", :locals => {:brand => @brand} %>
  </div>
</div>
