@charset "UTF-8";

#left_menu,
#left_menu ul,
#left_menu li,
#left_menu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 12px;
    position: relative;
}
#left_menu a {
    line-height: 1.3;
}
#left_menu {
    width: 200px;
    background: #fff;
    padding: 3px;
}
#left_menu > ul > li {
    margin: 0 0 2px 0;
}
#left_menu > ul > li:last-child {
    margin: 0;
}
#left_menu > ul > li > a {
    font-size: 12px;
    display: block;
    color: #ffffff;
    background: #333;
    border: none;
}
#left_menu > ul > li > a > i {
    border: none;
    padding: 6px 10px;
}
#left_menu > ul > li > a:hover {
    text-decoration: none;
}
#left_menu > ul > li.active {
    border-bottom: none;
}
#left_menu > ul > li.active > a {
    background: #2a8fbd;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    border: 1px solid;
}
#left_menu > ul > li.active > a i {
    border: none;
}
#left_menu > ul > li > a > span {
    background: #2a8fbd;
    padding: 1px 2px;
    border-radius: 3px;
}
#left_menu ul ul {
    padding: 5px 12px;
    display: none;
}
#left_menu ul ul li {
    padding: 3px 0;
}
#left_menu ul ul a {
    display: block;
    color: #595959;
}
#left_menu ul ul a:hover {
    color: #2a8fbd;
}