<div class="row"><h3><%= I18n.t('top_menu.language') %></h3></div>
<div class="row"><%= link_to I18n.t('top_menu.chinese'), language_path('zh-CN'), method: :put %></div>
<div class="row"><%= link_to I18n.t('top_menu.german'), language_path("de"), method: :put %></div>
