<div class="+small-spacer"></div>

<div class="row +nomargin">
  <div class="col-md-8 col-md-push-2 col-md-pull-2 category-blocks">

    <% @categories.in_groups_of(2, false).each do |category_groups| %>

    <div class="row +nomargin">

      <% category_groups.each do |category| %>

      <%= render partial: "guest/home/show/category_block", :locals => {:category => category} %>

      <% end %>

    </div>

    <% end %>

    <div class="+spacer"></div>

  </div>
</div>
