<a href="<%= guest_category_path(category) %>">
  <div class="col-md-6 category-blocks__block">
    <!-- hvr-bob -->
    <div class="category-blocks__block --<%= category.slug %> +centered">
      <div class="hvr-pulse +block">
        <img src="/images/categories/<%= category.slug %>.png">
        <h2><%= category.name %></h2>
      </div>
    </div>
  </div>
</a>
