<!-- Big banner container -->
<% if Setting.instance.landing_page_cover.present? %>
<div class="row +desktop">
  <div class="col-md-12">
    <div class="landing-banner-desktop lazy" style="background-image:url('<%= Setting.instance.landing_page_cover %>')">
      <div class="landing-banner-desktop__content">

        <a href="<%= solve_incubator_url %>">
          <img src="/images/stickers/incubator.jpg" class="+logo-on-banner" />
        </a>

      </div>
    </div>
  </div>
</div>
<div class="row +mobile">
  <div class="col-xs-12">
    <div class="landing-banner-mobile" data-original="" style="background-image:url('<%= Setting.instance.landing_page_cover %>')">

      <a href="<%= solve_incubator_url %>">
        <img src="/images/stickers/incubator.jpg" class="+logo-on-banner" />
      </a>

    </div>
  </div>
</div>
<% end %>
