<!-- Big banner container -->
<% if landing_page_highlight? %>
  <div class="row +desktop">
    <div class="col-md-12">
      <div class="landing-banner-desktop lazy" style="background-image:url('<%= Setting.instance.landing_page_cover %>')">
        <div class="landing-banner-desktop__content">

            <a href="https://friend.germanyinbox.com/start/">
              <img src="/images/stickers/incubator.png" width="300px" />
            </a>
            
          <% if Setting.instance.landing_page_title.present? %>
          <%= render partial: "guest/home/show/landing_page_banner/content" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row +mobile">
    <div class="col-xs-12">
      <div class="landing-banner-mobile" data-original="" style="background-image:url('<%= Setting.instance.landing_page_cover %>')">
      </div>
    </div>
    <div class="col-xs-12">
      <% if Setting.instance.landing_page_title.present? %>
      <div class="landing-banner-mobile__content">
        <%= render partial: "guest/home/show/landing_page_banner/content" %>
      </div>
      <% end %>
  </div>
  </div>
<% end %>
