<!-- Big banner container -->
<div class="row">
  <div class="col-md-12">
    <div class="landing-banner" style="background-image:url('images/categories/category-banner-sample.jpg');">
      <div class="landing-banner__content">
        <h2>ALL CAP</h2>
        <p>Description</p>
        <a href="#" class="main-button__hollow">CLICK HERE</a>
      </div>
    </div>
  </div>
</div>
