<!-- Big banner container -->
<% if any_package_set? %>
  <div class="row +desktop">
    <div class="col-md-12">
      <div class="landing-banner-desktop lazy" data-original="<%= Settings.instance.package_sets_cover %>" style="background-image:url('/images/grey.gif');">
        <div class="landing-banner-desktop__content">
          <%= render partial: "guest/home/show/landing_banner/content" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row +mobile">
    <div class="col-xs-12">
      <div class="landing-banner-mobile lazy" data-original="<%= Settings.instance.package_sets_cover %>" style="background-image:url('/images/grey.gif');">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="landing-banner-mobile__content">
        <%= render partial: "guest/home/show/landing_banner/content" %>
      </div>
  </div>
  </div>
<% end %>
