<!-- Big banner container -->
<% if Settings.instance.highlight_title&.present? %>
<div class="row">
  <div class="col-md-12">
    <div class="landing-banner" style="background-image:url('images/categories/category-banner-sample.jpg');">
      <div class="landing-banner__content">
        <h2><%= Settings.instance.highlight_title %></h2>
        <p><%= Settings.instance.highlight_description %></p>
        <a href="<%= guest_products_highlight_path %>" class="main-button__hollow"><%= Settings.instance.highlight_button %></a>
      </div>
    </div>
  </div>
</div>
<% end %>
