<div class="row">
<div class="col-md-10 col-md-push-1 col-md-pull-1">

  <div class="row">

    <div class="col-md-8">
      <%= render partial: 'customer/cart/show/order', locals: {order: @order} %>
    </div>

    <div class="+spacer"></div>

    <div class="col-md-4">
      <%= render partial: 'customer/cart/show/total/list', locals: {order: @order} %>
    </div>

  </div>

  <div class="row">
    <div class="+spacer"></div>
    <div class="+white-box">
      <%= render partial: "customer/orders/show/address", :locals => { :address => @order.shipping_address} %>
    </div>
  </div>

</div>
</div>
