<div class="row">
  <div class="col-md-8 col-md-push-2">
    <%= render partial: 'customer/cart/show/order', locals: {order: @order, action: false} %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-push-2">
    <% if !@order.decorate.paid? %>
    <div align="center">
      <%= link_to '继续购买', customer_order_continue_path(@order), method: :patch, class: 'big-button --blue' %>
    </div>
    <% end %>
  </div>
</div>

<!-- TODO : this must be refactored, it's fugly -->
<div class="row">
  <div class="col-md-8 col-md-push-2">
    <div class="+white-box">
      <%= render partial: "customer/orders/show/address", :locals => { :address => @order.shipping_address} %>
    </div>
  </div>
</div>
