// ===========================================================
// Base
// ===========================================================
//
#scrollUp
  bottom: 20px
  right: 20px
  padding: 7px 15px
  background-color: $color-blue
  color: $color-white
  +border-radius(10%)

  i
    font-size: 35px

.btn-primary
  background: $color-blue !important
  border-color: $color-blue !important
