<div class="row">
  <div class="subheader">

    <!-- Categories filtering -->
    <div class="col-xs-12 col-md-12">
      <div class="page-navigation__right">
        <% shop.categories.each_with_index do |category, index| %>
          | <%= link_to category.name, guest_shop_path(shop, category_id: category) %>
        <% end %>
      </div>
    </div>

  </div>
</div>
