<div class="row">
  <div class="col-md-12">
    <div class="shop-page-footer">

      <div class="shop-page-footer__content">

        <!-- Details about the Shop -->
        <%= render partial: "guest/shops/show/footer/details", :locals => {shop: shop} %>

        <!-- Details about the shopkeeper (address, etc.) -->
        <%= render partial: "guest/shops/show/footer/shopkeeper", :locals => {shop: shop} %>

        <!-- Images of the shop -->
        <%= render partial: "guest/shops/show/footer/images", :locals => {shop: shop} %>

      </div>
      <!-- End of Content -->
    </div>
  </div>
</div>
