<% if products.count > 0 %>

  <div class="+small-spacer"></div>
  <div class="products-list">

  <!-- Sorted by category -->
  <% products.categories_array.each do |category_id, fetched_products| %>
    <% category = Category.find(category_id) %>

      <% if products.categories_array.size > 1 %>
        <a name="<%= category.slug_name %>"></a>
        <h3><%= category.name %></h3>
        <div class="+small-spacer"></div>
      <% end %>

      <div class="row">
        <% fetched_products.each do |product| %>
          <div class="col-md-3 col-xs-6">
            <div class="shop-page-product">
              <%= render partial: 'guest/products/product_box', :locals => {product: product} %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="+spacer"></div>

  <% end %>

  </div>

<% else %>

  <div class="+white-box +centered">
    <h4>
      <%= I18n.t('result.not_found') %>
    </h4>
  </div>

<% end %>
