<% if products.count > 0 %>

  <div class="products-list">

  <!-- Sorted by category -->
  <% products.categories_array.each do |category_id, fetched_products| %>
    <% category = Category.find(category_id) %>

      <% if products.categories_array.size > 1 %>
      <h3><%= category.name %></h3>
      <hr>
      <% end %>

      <!-- Grouped by 3 products -->
      <%= render partial: "guest/shops/show/products_list/grouped", :locals => {:products => fetched_products} %>

      <div class="+spacer"></div>

  <% end %>

  </div>

<% else %>

  <div class="+white-box +centered">
    <h4>
     <%= I18n.t(:no_products, scope: :cart) %>
   </h4>
  </div>

<% end %>
