<% if products.count > 0 %>

<div class="products-list">

  <!-- Grouped by 4 products -->
  <%= render partial: "guest/shops/show/products_list/grouped", :locals => {:products => products} %>

</div>

<% else %>

<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_products, scope: :cart) %>
  </h4>
</div>

<% end %>
