<div class="row">
  <div class="subheader">

    <!-- BACK -->
    <div class="col-xs-3 col-md-3">
      <div class="subheader__left">
        <a href="<%= back %>">
          <i class="digpanda-back"></i><%= I18n.t(:back) %>
        </a>
      </div>
    </div>

    <!-- Number of products -->
    <div class="col-xs-3 col-md-3">
      <div class="page-navigation__middle +desktop">
      </div>
    </div>

    <div class="col-xs-6 col-md-6">
      <div class="page-navigation__right">
        <%= I18n.t('navigation.products', num: shop.products.count) %>
      </div>
    </div>

  </div>
</div>
