<!-- Big banner container -->
<% if Setting.instance.package_sets_cover.present? %>
  <div class="row +desktop">
    <div class="col-md-12">
      <div class="landing-banner-desktop lazy" data-original="<%= Setting.instance.package_sets_cover %>" style="background-image:url('/images/grey.jpg');">
      </div>
      <hr />
    </div>
  </div>
  <div class="row +mobile">
    <div class="col-xs-12">
      <div class="landing-banner-mobile lazy" data-original="<%= Setting.instance.package_sets_cover %>" style="background-image:url('/images/grey.jpg');">
      </div>
    </div>
    <div class="col-xs-12">
      <hr />
  </div>
  </div>
<% end %>
