<div class="row">
  <div class="col-md-6 col-xs-6 +nopadding">
    <%= select_tag('category[id]', options_for_select(category_package_set_filter, selected), { :include_blank  => "全部类别", :class => "nice js-package-set-category-filter" }) %>
  </div>
</div>
