<div class="col-md-6 col-xs-6">
  <%= select_tag('category[id]', options_for_select(category_package_set_filter, params[:category_slug]), { :include_blank  => "全部类别", :class => "nice js-package-set-category-filter" }) %>
</div>

<div class="col-md-6 col-xs-6">
  <% if category %>
    <%= select_tag('brand[id]', options_for_select(brand_package_set_filter(category), params[:brand_id]), { :include_blank  => "全部类别", :class => "nice js-package-set-brand-filter" }) %>
  <% end %>
</div>
