<p class="categories-block__brands +centered">
  Service brands :</span>

<% services_brand_filters.each do |brand| %>
  <% if brand == current_brand %>
  <span class="+strong +green"><%= brand.name %></span> |
  <% else %>
    <a href="<%= guest_package_sets_path(brand_id: brand.slug) %>"><%= brand.name %></a> |
  <% end %>
<% end %>

</p>
