<div class="col-md-12">
  <a data-remodal-target="wechat-qrcode" class="+wechat-qrcode" href="#">

    <div class="">
      <img src="/images/logos/wechat-logo.png">
    </div>

    <div class="">
      <span>微信扫码访问公众号
        <br />获取优惠奖励</span>
      </div>
    </a>

  </div>
  <div class="+spacer"></div>
