<div class="remodal" data-remodal-options="hashTracking: false" data-remodal-id="wechat-qrcode">
  <div class="product-miniblock">
    <!-- Close Action -->
    <button data-remodal-action="close" class="remodal-close"></button>
    <img src="/images/stickers/wechat.jpg" />
  </div>
</div>
<div class="+left">
  <a data-remodal-target="wechat-qrcode" class="+wechat-qrcode" href="#">

    <div class="col-md-6 col-sm-6 col-xs-6 +left">
      <img src="/images/logos/wechat-logo.png">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 +left">
      <span>微信扫码访问公众号
        <br />获取优惠奖励</span>
      </div>
    </a>

  </div>
</div>
<div class="+spacer"></div>
<div class="+small-spacer"></div>
