<%= render "guest/package_sets/package_set_banner" %>

<div class="+spacer"></div>

<% Category.each_with_index do |category, index| %> <!-- .with_package_sets -->

  <%= render "guest/package_sets/categories/block", :options => { :reversed => (index % 2 != 0) }, :category => category %>

<% end %>
