<%= render partial: "guest/package_sets/index/navigation", :locals => { package_sets: @package_sets, back: guest_package_sets_categories_path  } %>

<%= render "guest/package_sets/package_set_banner" %>

<div class="row">
<% @package_sets.each_with_index do |package_set, index| %>

  <%= render "guest/package_sets/index/block", :options => { :reversed => (index % 2 != 0) }, :package_set => package_set %>

<% end %>
</div>

<div class="+small-spacer"></div>
