<h3>Actions</h3>
<hr>

<!-- Destroy user -->
<%= link_to "Destroy this user", admin_user_path(@user), method: :delete, data: { confirm: "Are you sure you want to destroy this user ? It cannot be undone." } , class: "btn btn-danger" %>
