.numberCircle {
    border-radius: 50px;
    behavior: url(PIE.htc);
    padding: 4px;
    background: red;
    border: 1px;
    color: black;
    text-align: center;
    font: 12px Arial, sans-serif;
}