---
http_interactions:
- request:
    method: get
    uri: https://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"payment":{"merchant-account-id":{"value":"dfc3a296-3faf-4a1d-a075-f72f1b67dd2a","ref":"http://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a"},"transaction-id":"af3864e1-0b2b-11e6-9e82-00163e64ea9f","request-id":"ca077aff-b2e0-0e0b-3be2-08aa3b888b52","transaction-type":"debit","transaction-state":"success","completion-time-stamp":1461619293000,"statuses":{"status":[{"code":"201.0000","description":"The
        resource was successfully created.","severity":"information"}]},"requested-amount":{"value":1.010000,"currency":"CNY"},"parent-transaction-id":"90806161-0b2b-11e6-9e82-00163e64ea9f","account-holder":{"first-name":"John","last-name":"Doe","email":"john.doe@wirecard.com","phone":"1
        555 555 5555","address":{"street1":"123 test","city":"Toronto","state":"ON","country":"CA","postal-code":"M4P1E8"}},"ip-address":"127.0.0.1","order-number":"123456","order-detail":"1
        widget","payment-methods":{"payment-method":[{"name":"upop"}]},"authorization-code":"134417","api-id":"elastic-payment-page-nvp","processing-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=processing&","cancel-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=cancel&","fail-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=failed&","success-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=success&","locale":"en","self":"http://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f"}}'
  recorded_at: Wed, 10 Aug 2016 11:30:14 GMT
[...]
- request:
    method: get
    uri: https://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/fake-transaction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Aug 2016 12:02:38 GMT
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/paymentmethods.json
    body:
      encoding: UTF-8
      string: "<xml></xml>"
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"payment":{"transaction-state":"failed","statuses":{"status":[{"code":"403.1166","description":"Access
        Denied - User doesn''t have the access for the requested operation!","severity":"error"}]}}}'
  recorded_at: Wed, 10 Aug 2016 16:17:23 GMT
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/paymentmethodskk.json
    body:
      encoding: UTF-8
      string: "<xml></xml>"
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.62 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 404 - </h1><HR size="1" noshade="noshade"><p><b>type</b> Status report</p><p><b>message</b>
        <u></u></p><p><b>description</b> <u>The requested resource is not available.</u></p><HR
        size="1" noshade="noshade"><h3>Apache Tomcat/7.0.62</h3></body></html>'
  recorded_at: Wed, 10 Aug 2016 16:19:09 GMT
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/payment.json
    body:
      encoding: UTF-8
      string: merchant-account-id=dfc3a296-3faf-4a1d-a075-f72f1b67dd2a&request-id=000&transaction-type=refund-capture&parent-transaction-id=af3864e1-0b2b-11e6-9e82-00163e64ea9f&ip-address=127.0.0.1
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 404
      message: Not Found
    headers[...]
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/payment/af3864e1-0b2b-11e6-9e82-00163e64ea9f/refund-capture.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      st[...]
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f/refund-capture.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
   [...]
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Allow:
      - GET
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.62 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 405 - Request method ''POST'' not supported</h1><HR size="1" noshade="noshade"><p><b>type</b>
        Status report</p><p><b>message</b> <u>Request method ''POST'' not supported</u></p><p><b>description</b>
        <u>The specified HTTP method is not allowed for the requested resource.</u></p><HR
        size="1" noshade="noshade"><h3>Apache Tomcat/7.0.62</h3></body></html>'
  recorded_at: Wed, 10 Aug 2016 16:33:33 GMT
- request:
    method: post
    uri: https://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string[...]
[...]
- request:
    method: get
    uri: https://api-test.wirecard.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NzAwMDAtQVBJTFVITi1DQVJEOjhtaHdhdktWYjkxVA==
      Content-Type:
      - text/xml
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"payment":{"transaction-state":"failed","statuses":{"status":[{"code":"403.1166","description":"Access
        Denied - User doesn''t have the access for the requested operation!","severity":"error"}]}}}'
  recorded_at: Thu, 18 Aug 2016 14:16:39 GMT
- request:
    method: get
    uri: https://api-test.wirecard.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/fake-transaction.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic NzAwMDAtQVBJTFVITi1DQVJEOjhtaHdhdktWYjkxVA==
      Content-Type:
      - text/xml
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"payment":{"transaction-state":"failed","statuses":{"status":[{"code":"403.1166","description":"Access
        Denied - User doesn''t have the access for the requested operation!","severity":"error"}]}}}'
  recorded_at: Thu, 18 Aug 2016 14:16:39 GMT
recorded_with: VCR 3.0.3
