<div class="+small-spacer"></div>

<!--
<div style="z-index:10;position: absolute;top: 321px;left: 181Px;">
  <img src="/images/arrows/type1.png">
  <br />
  <div style="left: -55px;position: absolute;color:  #659443;font-weight: bold;">
    Click here to know more
  </div>
</div>
-->

<div class="row +nomargin">
  <div class="col-md-8 col-md-push-2 col-md-pull-2 category-blocks">

    <% @categories.in_groups_of(2, false).each do |category_groups| %>

    <div class="row +nomargin">

      <% category_groups.each do |category| %>

      <%= render partial: "pages/home/category_block", :locals => {:category => category} %>

      <% end %>

    </div>

    <% end %>

    <div class="+spacer"></div>

  </div>
</div>
