<div class="+spacer"></div>
<div class="row">
  <div class="+centered home-steps">
    <div class="home-steps__container">
      <div class="col-md-push-2 col-md-8 col-md-pull-2">
        <div class="row">
          <div class="col-md-4 home-steps__container --step">
            <div class="row">
              <img src="/images/mascotte/step1.png">
            </div>
            <div class="row home-steps__container --paragraph">
              精选德国本土品牌，商品由卖家直接发货，去中间化，来因盒给你最具优势的价格！
            </div>
          </div>
          <div class="col-md-4 home-steps__container --step">
            <div class="row">
              <img src="/images/mascotte/step2.png">
            </div>
            <div class="row home-steps__container --paragraph">
              100%保证货源，空运阳光清关，下单后在来因盒里全程追踪物流。
            </div>
          </div>
          <div class="col-md-4 home-steps__container --step">
            <div class="row">
              <img src="/images/mascotte/step3.png">
            </div>
            <div class="row home-steps__container --paragraph">
              来因盒用最实惠的价格把德国高品质送到你手上，轻松拥有德国品质卓越产品。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
