+component(announcement-landing)

    +part(products)
      +white-box

    +part(products-inside)
      margin-top: -17em // opposite of the margin of the products-arrow

    +part(products-title)
      color: $color-purple
      text-align: center

    +part(products-arrow)
      +left-arrow($color-white, 20px)
      margin-left: -2.5em
      margin-top: 15em

    +part(more)

    +part(bubble)
      +white-box
      font-weight: bold
      font-size: 20px
      text-align: center
      color: $color-purple

    +part(bubble-arrow)
      +bottom-arrow($color-white, 20px)
      text-align: center
      margin-left: 4em

    +part(girl)
      img
        width: 90%
