+component(category-blocks)

  padding: 0

  +part(block)
    min-height: 13em
    padding: 0
    border: 2px white solid
    color: $color-white
    +border-radius(1.5em)

    img
      height: 100px

    h2
      color: $color-black
      text-transform: uppercase
      font-family: inherit
      
    +option(food)
      padding: 1em
      background-color: $color-grey
      //background-image: url(https://images.unsplash.com/photo-1446034730750-a0b64d06ad13?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cfec14f7b7a5269458ce76d08cb7696d)
      //background-position: center center
      //background-size: cover

    +option(medicine)
      padding: 1em
      background-color: $color-grey

    +option(cosmetics)
      padding: 1em
      background-color: $color-grey

    +option(fashion)
      padding: 1em
      background-color: $color-grey