+component(category-menu)

  line-height: 2
  
  +part(search)
    color: $color-black
    input
      border: 0
    button
      border: 0
      background-color: transparent
    i
      color: $color-blue

  background-color: $color-light-white
  font-weight: 400
  border-top: 2px solid $color-green
  border-bottom: 2px solid $color-grey
  font-family: 'Raleway', sans-serif

  +navbar-system-borders($color-black, $color-green, $color-green,  $color-light-white)