+component(category-menu)

  +part(search)
    color: $color-black
    input
      border: 0
    button
      border: 0
      background-color: transparent
    i
      color: $color-blue

  background-color: $color-white //$color-green
  font-weight: 400
  border-top: 2px solid $color-grey
  //text-transform: uppercase
  font-family: 'Raleway', sans-serif

  +navbar-system-borders($color-black, $color-green, $color-green, $color-white)