+component(category-header)

  a
    color: $color-green
    &:hover
      color: $color-green

  +part(first)
    margin-top: -2em
    min-height: 5em
    background-color: $color-light-green
    color: $color-white
