+component(file-upload)

  img
    cursor: pointer
    width: auto
    max-height: 96px
    
  +part(browser)
    input
      display: none

  +part(arrow-up)
    color: $color-green
    font-size: 50px
