+component(home-steps)

  //background-color: $color-green

  img
    max-width: 100%

  a
    color: $color-green

    &:hover
      color: $color-green

  li
    margin-left: -1.5em

  +part(container)
    //background-color: $color-green
    color: $color-black
    margin-top: -3em

    +option(step)
      padding-top: 5em
      img
        max-width: 200px

    +option(paragraph)
      margin-top: 2em
      margin-left: auto
      margin-right: auto
      max-width: 70%
      text-align: left
