+component(home-steps)

  background-color: $color-green

  img
    max-width: 100%

  a
    color: $color-green

    &:hover
      color: $color-green

  li
    margin-left: -1.5em

  +part(container)
    background-color: $color-green
    color: $color-white
    margin-top: -3em
    min-height: 8em

    h2
      //line-height: 3em
      color: $color-white
      font-size: 2.8em

    +option(paragraphs)
      text-align: left
