+component(home-marketplace)


  +part(first)
    min-height: 8em
    background-color: $color-light-green-2nd
    color: $color-white
    h2
      line-height: 3em
      font-size: 3em
      color: $color-white

    +option(paragraphs)
      text-align: left
      
  +part(second)
    min-height: 8em
    background-color: $color-white
    h2
      line-height: 3em
      font-size: 3em
      color: $color-black

    +option(paragraphs)
      text-align: left