+component(home-marketplace)

  a
    color: $color-green
    &:hover
      color: $color-green

  li
    margin-left: -1.5em

  +part(first)
    margin-top: -2em
    min-height: 8em
    background-color: $color-green
    color: $color-white
    h2
      //line-height: 3em
      font-size: 2.8em
      color: $color-white

    +option(paragraphs)
      text-align: left
      
  +part(second)
    min-height: 8em
    background-color: $color-white
    h2
      line-height: 3em
      font-size: 3em
      color: $color-black

    +option(paragraphs)
      text-align: left

  +part(third)

    h2
      color: $color-green