+component(main-header)

  +padding-vertical(1em)

  +part(account)
    // nothing

  +part(logo)
    img
      max-width: 200px

  +part(search)
    i
      color: $color-blue

  +part(likes)
    i
      color: $color-red

  +part(cart)
    i
      color: $color-grey