+component(main-header)

  border-bottom: 2px solid $color-green
  background-color: $color-white
  +padding-vertical(1em)

  a
    width: 100%
    
  +part(logo)
    color: $color-black
    img
      max-width: 200px

  +part(avatar)
    margin-top: -0.5em
    img
      border-radius: 25px
      width: 50px

    +option(notification)

      right: 15px
      top: -5px
      z-index: 5
      position: absolute
      width: 20px
      height: 20px
      margin-bottom: 2px
      background-color: $color-red
      color: $color-white
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      a
        color: $color-white
        &:hover
          color: $color-white

  +part(likes)
    font-size: $header-buttons-text-size
    color: $color-black
    i
      font-size: $header-buttons-icon-size
      display: block
      color: $color-red

  +part(account)
    font-size: $header-buttons-text-size
    color: $color-black
    display: block
    i
      font-size: $header-buttons-icon-size
      display: block
      color: $color-black

  +part(cart)
    font-size: $header-buttons-text-size
    color: $color-black
    i
      font-size: $header-buttons-icon-size
      display: block
      color: $color-black