+component(mobile-category-menu)

  +part(left)

    float: left
    padding-top: 0.3em

    +option(checkout)
      position: relative
      background-color: $color-blue
      text-align: center

      outline: 0
      border: 1px
      //border-bottom: 9px solid $color-dark-blue
      -webkit-border-radius: 5px
      -khtml-border-radius: 5px
      -moz-border-radius: 5px
      -ms-border-radius: 5px
      -o-border-radius: 5px
      border-radius: 5px
      color: #fff
      display: block
      padding: 5px 20px
      font-size: 18px
      -moz-transition: border .1s
      -o-transition: border .1s
      -webkit-transition: border .1s
      transition: border .1s
      font-weight: 900
      cursor: pointer

      font-family: 'Open Sans', Arial, helvetica, sans-serif
      color: #fff
      font-weight: bold
      text-shadow: 0 1px 3px #000
      
      text-transform: uppercase
