+component(page-static)

  pre
    word-wrap: break-word
    white-space: -moz-pre-wrap
    white-space: pre-wrap

  h1
    color: $color-green
    font-size: 28px

  a
    color: $color-green
    &:hover
      color: $color-green