+component(payment-methods)
  img
    max-width: 95%
    +breakpoint('mobile')
      max-width: 30%
    opacity: 0.9
  +part(block)
    +option(visa)
    +option(mastercard)
    +option(chinaunionpay)
