+component(payment-methods)
  img
    max-width: 60%
    opacity: 0.4
  +part(block)
    text-align: center

    +option(visa)
      margin-top: 1.2em
    +option(mastercard)
      margin-top: 0.2em
    +option(chinaunionpay)
