+component(product-quantity)

  #{$a-tags}
    color: $color-green
    font-size: 28px

  input
    width: 40px
    text-align: center
    outline: none
    display: inline-block
    line-height: 30px
    -webkit-border-radius: 4px
    border-radius: 4px
    border: 2px solid #ccc
    -webkit-box-shadow: none
    box-shadow: none
    font-size: 20px

    +part(add-to-cart)
      background-color: $color-green
