+component(shop-page-cover)

  background: no-repeat center center
  background-size: cover

  color: $color-white

  border: 2px $color-grey solid
  +border-radius(0.5em)

  h2
    color: $color-white
    text-transform: uppercase
    
  +part(content)

    +option(avatar)
      +avatar(120px)

  h3
    margin-top: 1.5em
    color: $color-white

  +part(content)

  +part(author)
    font-size: 12px
    margin-top: -1em
    text-transform: uppercase

  +part(shop)

    background-color: $color-white
    background-position: center center
    background-size: cover

    min-height: 200px