+component(shop-page-footer)

  //+cover-block
  min-height: 200px

  h3
    color: lighten($color-black, 10%)
    text-transform: uppercase

  +part(content)

    color: lighten($color-black, 20%)
    text-align: justify
    margin: 1em