+component(shop-page-header)

  +cover-block

  h2
    color: $color-white
    text-transform: uppercase
    
  +part(content)

    +option(avatar)
      +avatar(120px)

  h3
    margin-top: 1.5em
    color: $color-white

  +part(content)

  +part(author)
    font-size: 12px
    margin-top: -1em
    text-transform: uppercase

  +part(shop)

    background-color: $color-white
    background-position: center center
    background-size: cover

    min-height: 200px