+component(shop-page-product)

  background-color: grey
  min-height: 150px
  padding: 0

  +part(image)
    background-color: blue

    img
      max-width: 15em
      max-height: 15em

  +part(description)
    background-color: yellow

  +part(purchase)
    background-color: red
