+component(shop-page-product)

  padding: 0.5em
  border: 5px $color-grey solid
  +border-radius(0.5em)

  background-color: white
  
  color: $color-black
  a
    color: $color-black

  h2
    margin: 0em
    font-size: 1.8em

  +part(image)
    background-color: $color-light-grey
    height: 17em
    width: 12em
    margin: 0 auto
    display: block
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    background-position: center center

    img
      max-width: 100%
      max-height: 22em

  +part(description)

    width: 95%
    margin: 0 auto
    margin-top: 0.3em
    margin-bottom: 1em

    +option(text)
      width: 100%
      font-size: 13px

    +option(prices)
      width: 100%

  +part(purchase)

    +option(like)
      z-index: 3
      color: $color-red
      min-height: 30px
      line-height: 1.5em
      text-align: center
      font-size: 20px

    +option(buy)
      z-index: 3
      color: $color-blue
      min-height: 30px
      line-height: 1.5em
      text-align: center
      font-size: 20px