+component(shop-blocks)
  
  +part(main)

    +option(content)
      color: $color-white

      img
        +avatar
        max-width: 100px
        background: white

      h3
        margin-top: 1.5em
        color: $color-white

    +option(category)
      padding: 2em
      border: 2px white solid
      background-color: $color-green
      min-height: 200px

      color: $color-white
      h2
        color: $color-white
        text-transform: uppercase

    +option(shop)
      border: 2px white solid
      background-color: white

      background-position: center center
      background-size: cover

      min-height: 200px

  +part(secondary)

    +option(shop)
      border: 2px white solid
      background-color: yellow
      min-height: 200px

      background-position: center center
      background-size: cover
      background-image: url(https://images.unsplash.com/photo-1446034730750-a0b64d06ad13?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cfec14f7b7a5269458ce76d08cb7696d)
