+component(shop-page-footer)

  +cover-block
  min-height: 200px
  color: $color-black
  padding: 0
  background-color: white

  h3
    margin-top: 1em
    color: $color-black
    text-transform: uppercase

  +part(content)

    //margin: 0
    //text-align: justify

  +part(images)
    margin: auto

    +option(image)
      +cover-block
      height: 13em
      width: 13em
      margin: 1em
      text-align: center
