<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style type='text/css'>
    <!-- Please don't load the vendor, it makes problem with UTF-8 encoding -->
    <!-- wicked_pdf_inject 'stylesheets/app.css' -->
    </style>
  </head>
  <body style="background-color:white !important;" onload='number_pages'>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
