<div id="footer" style="color:grey;font-size:14px;">

  <div style="width:30%;float:left;text-align:left;">
  Landsberger Str. 183<br />
  80687, München
  </div>

  <div style="width:35%;float:left;text-align:center;">
  HRB 211133 | Ust.ID: DE294/808/567<br />
  Geschäftsführer: Dr. Sha He
  </div>

  <div style="width:35%;float:left;text-align:right;">
  customer@germanyinthebox.com<br />
  www.germanyinthebox.com
  </div>

</div>
