<!-- Sku for product select -->
<div class="product-select">

  <span>
    <%= I18n.t('cart.variant_option') %>
  </span>

  <%= select_tag 'sku[id]', options_from_collection_for_select(product.skus, :id, :display_option_names, product.featured_sku.id), :class => 'form-control product-select__dropdown', :data => { :product_id => "#{product.id}" } %>

</div>


<div class="clearfix"></div>
