<div class="col-md-10 +white-box">

  Liebe(r) Herstellerin / Hersteller,<br /><br />

  wenn Ihre Export Daten nicht stimmen oder Fragen haben, können Sie GBox Support Hotline anrufen: <span class="+green">089 2193 4711</span> oder <span class="+green">0151 6334 6257</span><br /><br />

  Sie können auch uns Email schreiben: <a href="mailto:shop@germanyinthebox.com" class="+green">shop@germanyinthebox.com</a><br /><br />

  Wir sind gerne für Sie da!<br /><br />

  Ihre GBox Team
</div>