<% unless render_breadcrumbs.empty? %>
  <div class="row">
    <div class="col-md-7 col-md-push-3">
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
  </div>
<% end %>
