<div class="row"><h3>Language</h3></div>
<div class="row"><%= link_to "Chinese", set_session_locale_path(locale: "zh-CN") %></div>
<div class="row"><%= link_to "German", set_session_locale_path(locale: "de") %></div>
