<div class="col-md-12">
  <div class="row">
      <h3>Orders status</h3>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h4>Orders</h4>
      <%= Order.count %>
    </div>

    <div class="col-md-3">
      <h4>Paid</h4>
      XXX
    </div>

    <div class="col-md-3">
      <h4>Cancelled</h4>
      XXX
    </div>

    <div class="col-md-3">
      <h4>X</h4>
      XXX
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
