#csstyle .\+small-padding {
  padding-left: 5px;
  padding-right: 5px; }

#csstyle .\+small-text {
  font-size: 14px; }

#csstyle .\+large {
  width: 100%; }

#csstyle .\+danger-zone {
  border: 2px dashed #d6506c; }
  #csstyle .\+danger-zone hr {
    border-top: 1px dashed #f29cae; }

#csstyle .\+classy-shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

#csstyle .\+notif-bubble {
  position: absolute;
  background-color: #d6506c;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 14px;
  top: -15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold; }

#csstyle .\+anti-margin {
  margin-left: -15px;
  margin-right: -15px; }

#csstyle .\+small-margin {
  margin: 1em; }

#csstyle .\+notif-bubble-inline {
  display: inline-block;
  background-color: #d6506c;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: bold; }

#csstyle .\+block-right {
  float: right;
  clear: right; }

@media (max-width: 994px) {
  #csstyle .\+desktop {
    display: none; } }

@media (min-width: 995px) {
  #csstyle .\+mobile {
    display: none; } }

#csstyle .\+border-radius-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

#csstyle .\+border-radius-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

#csstyle .\+inline {
  display: inline; }

#csstyle .\+sticking {
  position: absolute;
  float: right;
  text-align: right;
  margin-left: 85%;
  top: 30%;
  clear: both;
  opacity: 0.5; }
  @media (max-width: 994px) {
    #csstyle .\+sticking {
      display: none; } }
  #csstyle .\+sticking img {
    max-width: 150px; }

#csstyle .\+block {
  display: block; }

#csstyle .\+stick {
  min-height: inherit; }

#csstyle .\+clear-button {
  border: none;
  background: none; }

#csstyle .\+checkout-label {
  margin: auto;
  margin-top: -3em;
  margin-left: -0.5em;
  text-transform: uppercase; }

#csstyle .\+overflow {
  overflow-x: auto; }

#csstyle .\+delete-checkout-button {
  position: relative;
  background-color: #d6506c;
  text-align: center;
  outline: 0;
  border: 1px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: block;
  padding: 5px 20px;
  font-size: 22px;
  -moz-transition: border .1s;
  -o-transition: border .1s;
  -webkit-transition: border .1s;
  transition: border .1s;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Open Sans', Arial, helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }

#csstyle .\+discount-button {
  position: relative;
  background-color: #732c51;
  text-align: center;
  outline: 0;
  border: 1px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: block;
  padding: 5px 20px;
  font-size: 22px;
  -moz-transition: border .1s;
  -o-transition: border .1s;
  -webkit-transition: border .1s;
  transition: border .1s;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Open Sans', Arial, helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }

#csstyle .\+divider {
  display: table;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  color: #b1c2c6;
  vertical-align: top;
  font-family: Lato,sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase; }
  #csstyle .\+divider:before, #csstyle .\+divider:after {
    border-top: 3px solid #c9d4d7;
    display: table-cell;
    position: relative;
    top: 10px;
    width: 45%;
    content: " "; }

#csstyle .\+right {
  text-align: right; }

#csstyle .\+left {
  text-align: left; }

#csstyle .\+down {
  vertical-align: bottom; }

#csstyle .\+centered {
  text-align: center;
  margin: 0 auto; }

#csstyle .\+vertical-centered {
  padding-top: 2.5em; }

#csstyle .\+micro-spacer {
  padding: 0.2em; }

#csstyle .\+small-spacer {
  padding: 0.5em; }

#csstyle .\+spacer {
  padding: 1em; }

#csstyle .\+big-spacer {
  padding: 4.3em; }

#csstyle .\+bold {
  font-weight: 600; }

#csstyle .\+small-gap {
  display: block;
  position: relative;
  margin: 0.2em 0 0.2em 0;
  clear: both;
  overflow: hidden; }

#csstyle .\+white-box {
  background-color: white;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

#csstyle .\+nomargin {
  margin: 0; }

#csstyle .\+nopadding {
  padding: 0; }

#csstyle .\+nopadding-right {
  padding-right: 0; }

#csstyle .\+nopadding-left {
  padding-left: 0; }

#csstyle .\+green {
  color: #33965e; }

#csstyle .\+dark-grey {
  color: #ABABA8; }

#csstyle .\+light-grey {
  color: #919191; }

#csstyle .\+blue {
  color: #3498db; }

#csstyle .\+red {
  color: #d6506c; }

#csstyle .\+pink {
  color: #f29cae; }

#csstyle .\+green {
  color: #33965e; }

#csstyle .\+grey {
  color: #bdc3c7; }

#csstyle .\+strong {
  font-weight: 600; }

#csstyle .\+up {
  text-transform: uppercase; }

#csstyle .\+hidden {
  display: none; }

#csstyle .\+empty-space {
  height: 50px; }

#csstyle .\+grey {
  color: #bdc3c7; }

#csstyle .\+black {
  color: #666666; }

#csstyle .\+discount {
  background-color: #d6506c;
  color: white;
  font-weight: 600;
  padding-left: 0.3em;
  font-size: 18px;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em; }

#csstyle .\+big {
  font-size: 20px; }

#csstyle .\+medium {
  font-size: 1.3em; }

#csstyle .\+barred {
  color: #d6506c;
  text-decoration: line-through; }

#csstyle .\+barred-price {
  text-decoration: line-through;
  color: #919191;
  font-weight: bold;
  font-size: 1.2em; }

#csstyle .\+crossed {
  text-decoration: line-through; }

#csstyle .\+unread {
  background-color: #fffff0; }

#csstyle .\+price-yuan {
  font-size: 1.6em;
  color: #d6506c;
  font-weight: bold; }

#csstyle .\+price-euro {
  font-size: 1em;
  color: #d6506c; }

#csstyle .\+quoted {
  font-family: 'Raleway', sans-serif;
  font-style: italic; }

#csstyle .\+menu-bordering {
  border-right: 1px solid #bdc3c7; }

#csstyle .\+overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

#csstyle .\+onoverlay {
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

#csstyle .\+blurred {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); }

#csstyle .\+avatar {
  margin-top: 1em;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 2em !important;
  width: 70px;
  height: 70px;
  background: white;
  background-position: center center;
  background-size: cover;
  background-color: #919191;
  border: 3px white solid; }

.nice {
  font-size: 20px;
  height: 1.5em;
  line-height: 1.5em;
  border: 0; }

.nice ul.list {
  position: absolute;
  box-shadow: 0px 5px 20px 3px rgba(139, 139, 139, 0.32); }

@media (min-width: 768px) {
  .navbar-toggle {
    display: block; } }

#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 7px 15px;
  background-color: #3498db;
  color: white;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%; }
  #scrollUp i {
    font-size: 35px; }

.btn-primary {
  background: #3498db !important;
  border-color: #3498db !important; }

.buttons {
  display: inline-block;
  text-align: center;
  color: white !important;
  background-color: #464646;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em; }
  .buttons__purple:hover {
    background-color: #732c51; }
  .buttons__delete:hover {
    background-color: #d6506c; }
  .buttons__delete.\--small {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em; }
  .buttons__edit:hover {
    background-color: #3498db; }
  .buttons__cancel:hover {
    background-color: #e67e22; }
  .buttons__add:hover {
    background-color: #33965e; }
  .buttons__quantity {
    background-color: transparent;
    color: #ABABA8 !important; }
    .buttons__quantity:hover {
      color: #3498db !important; }

.address-popup {
  text-align: left; }
  .address-popup__remodal {
    max-width: 40em; }

.announcement-landing__products {
  background-color: white;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.announcement-landing__products-inside {
  margin-top: -17em; }

.announcement-landing__products-title {
  color: #732c51;
  text-align: center; }

.announcement-landing__products-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
  margin-left: -2.5em;
  margin-top: 15em; }

.announcement-landing__bubble {
  background-color: white;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #732c51; }

.announcement-landing__bubble-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  text-align: center;
  margin-left: 4em; }

.announcement-landing__girl img {
  width: 90%; }

.announcement {
  line-height: 2;
  color: white;
  background-color: #d6506c;
  text-align: center; }

.big-button {
  color: white;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: block;
  padding: 5px 20px;
  font-size: 22px;
  -moz-transition: border .1s;
  -o-transition: border .1s;
  -webkit-transition: border .1s;
  transition: border .1s;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Open Sans', Arial, helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  outline: 0;
  border: 1px;
  width: 100%; }
  .big-button:link {
    color: white; }
  .big-button:hover {
    color: white; }
  .big-button:active {
    color: white; }
  .big-button:visited {
    color: white; }
  .big-button.\--blue {
    background-color: #3498db; }
  .big-button.\--green {
    background-color: #33965e; }
  .big-button.\--purple {
    background-color: #732c51; }
  .big-button.\--grey {
    color: #464646;
    background-color: #e1e1e1; }
    .big-button.\--grey:link {
      color: #464646; }
    .big-button.\--grey:hover {
      color: #464646; }
    .big-button.\--grey:active {
      color: #464646; }
    .big-button.\--grey:visited {
      color: #464646; }

.page-static {
  background-color: white;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin: 2em; }
  .page-static__text {
    word-wrap: normal;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    padding: 1em;
    padding-top: 0em;
    margin-bottom: 1em; }
  .page-static__tag {
    padding-top: 9em; }
  .page-static h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 1em;
    color: #666666;
    margin-bottom: 0em; }
  .page-static a {
    color: #33965e; }
    .page-static a:hover {
      color: #33965e; }

.payment-methods__block {
  margin-bottom: 1em; }
  @media (max-width: 994px) {
    .payment-methods__block {
      margin-bottom: 0; } }

.category-blocks {
  padding: 0; }
  .category-blocks__block {
    min-height: 13em;
    padding: 0;
    border: 2px #bdc3c7 solid;
    color: white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }
    .category-blocks__block img {
      margin-top: 1em;
      height: 100px; }
    .category-blocks__block h2 {
      margin-top: 0.3em;
      color: #666666;
      text-transform: uppercase;
      font-family: inherit; }
    .category-blocks__block.\--food {
      padding: 1em;
      background-color: white; }
      .category-blocks__block.\--food:hover {
        background-color: #33965e; }
        .category-blocks__block.\--food:hover h2 {
          color: white; }
        .category-blocks__block.\--food:hover img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }
    .category-blocks__block.\--medicine {
      padding: 1em;
      background-color: white; }
      .category-blocks__block.\--medicine:hover {
        background-color: #33965e; }
        .category-blocks__block.\--medicine:hover h2 {
          color: white; }
        .category-blocks__block.\--medicine:hover img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }
    .category-blocks__block.\--cosmetics {
      padding: 1em;
      background-color: white; }
      .category-blocks__block.\--cosmetics:hover {
        background-color: #33965e; }
        .category-blocks__block.\--cosmetics:hover h2 {
          color: white; }
        .category-blocks__block.\--cosmetics:hover img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }
    .category-blocks__block.\--fashion {
      padding: 1em;
      background-color: white; }
      .category-blocks__block.\--fashion:hover {
        background-color: #33965e; }
        .category-blocks__block.\--fashion:hover h2 {
          color: white; }
        .category-blocks__block.\--fashion:hover img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }
    .category-blocks__block.\--household {
      padding: 1em;
      background-color: white; }
      .category-blocks__block.\--household:hover {
        background-color: #33965e; }
        .category-blocks__block.\--household:hover h2 {
          color: white; }
        .category-blocks__block.\--household:hover img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.shop-blocks {
  color: white; }
  .shop-blocks a, .shop-blocks a:active, .shop-blocks a:hover, .shop-blocks a:visited {
    color: white; }
  .shop-blocks__avatar {
    margin-top: 1em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2em !important;
    width: 70px;
    height: 70px;
    background: white;
    background-position: center center;
    background-size: cover;
    background-color: #919191;
    border: 3px white solid;
    margin-top: 2em !important;
    max-width: 100px;
    background: white; }
    .shop-blocks__avatar.\--big {
      margin-top: 1em;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-top: 2em !important;
      width: 110px;
      height: 110px;
      background: white;
      background-position: center center;
      background-size: cover;
      background-color: #919191;
      border: 3px white solid; }
  .shop-blocks__main.\--content-text {
    margin-bottom: 2em; }
  .shop-blocks__main.\--author {
    font-size: 12px;
    margin-top: -1em;
    text-transform: uppercase; }
  .shop-blocks__main-category {
    padding: 1.5em;
    border: 2px #bdc3c7 solid;
    background-color: #33965e;
    color: white;
    min-height: 250px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em; }
    .shop-blocks__main-category img {
      height: 95px;
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      color: white; }
    .shop-blocks__main-category h2 {
      margin-top: 0.3em;
      color: white;
      text-transform: uppercase;
      font-family: inherit; }
  .shop-blocks__featured-shop {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    border: 2px #bdc3c7 solid;
    background-color: #bdc3c7;
    background-position: center center;
    background-size: cover;
    min-height: 250px; }
    .shop-blocks__featured-shop img {
      width: 110px; }
  .shop-blocks__secondary.\--content {
    color: white; }
  .shop-blocks__secondary.\--content-text {
    margin-bottom: 2em; }
  .shop-blocks__secondary.\--avatar {
    margin-top: 1em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2em !important;
    width: 90px;
    height: 90px;
    background: white;
    background-position: center center;
    background-size: cover;
    background-color: #919191;
    border: 3px white solid; }
  .shop-blocks__secondary h3 {
    margin-top: 1.3em;
    color: white; }
  .shop-blocks__secondary.\--author {
    font-size: 10px;
    margin-top: -1em;
    text-transform: uppercase; }
  .shop-blocks__secondary.\--shop {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    border: 2px #bdc3c7 solid;
    background-color: #bdc3c7;
    background-position: center center;
    background-size: cover;
    min-height: 200px; }

.category-menu {
  line-height: 2;
  background-color: white;
  font-weight: 400;
  border-bottom: 2px solid #bdc3c7;
  font-family: 'Raleway', sans-serif; }
  .category-menu__search {
    color: #666666; }
    .category-menu__search input {
      border: 0;
      max-width: 8.9em; }
    .category-menu__search button {
      border: 0;
      background-color: transparent; }
    .category-menu__search i {
      color: #3498db; }
  .category-menu nav {
    z-index: 5;
    position: relative; }
    .category-menu nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .category-menu nav ul a {
        display: block;
        color: #666666;
        text-decoration: none;
        line-height: 32px; }
      .category-menu nav ul li:hover > ul {
        width: 100%;
        display: block;
        border-top: 2px solid #33965e; }
      .category-menu nav ul li:hover a {
        color: #666666; }
        .category-menu nav ul li:hover a:hover {
          color: #33965e; }
      .category-menu nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        padding: 0; }
        .category-menu nav ul ul li {
          padding-left: 15px;
          padding-right: 15px;
          float: none;
          width: 100%; }
        .category-menu nav ul ul ul {
          top: 0;
          left: 100%; }

.connect__alternative-login img {
  max-width: 75px; }

.connect__alternative-login a {
  color: #33965e; }

.coupon__field {
  border: 1px dashed #33965e;
  background-color: #f9f9f9;
  width: 100%; }

.coupon__apply {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  color: white !important;
  background-color: #ABABA8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: 0; }
  .coupon__apply:hover {
    background-color: #3498db; }

.dashboard-layout__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #666666; }
  .dashboard-layout__menu img {
    max-width: 60px;
    margin-top: 1em;
    margin-left: 2.5em; }
  .dashboard-layout__menu .active {
    font-weight: bold; }
  .dashboard-layout__menu a, .dashboard-layout__menu a:active, .dashboard-layout__menu a:hover, .dashboard-layout__menu a:visited {
    color: white;
    display: block; }
  .dashboard-layout__menu ul {
    padding-top: 1em;
    padding-left: 2em; }
  .dashboard-layout__menu li {
    padding: 0.5em;
    font-size: 13px; }

.dashboard-layout__footer {
  background: white;
  color: #666666;
  border-top: 2px solid #666666;
  padding: 1em; }

.details__action {
  text-align: right;
  font-size: 22px; }
  .details__action a {
    color: #666666; }

.details__block {
  background-color: white;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-left: 0;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em; }
  .details__block h4 {
    font-weight: bold; }

.feedback-blocks {
  padding: 0; }
  .feedback-blocks__block {
    min-height: 7em;
    padding: 0;
    border: 2px #bdc3c7 solid;
    color: white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }
    .feedback-blocks__block img {
      margin-top: 1em;
      height: 100px; }
    .feedback-blocks__block h2 {
      margin-top: 0.3em;
      color: #666666;
      text-transform: uppercase;
      font-family: inherit; }
    .feedback-blocks__block.\--general {
      padding: 1em;
      background-color: white; }
      .feedback-blocks__block.\--general:hover {
        background-color: #33965e; }
        .feedback-blocks__block.\--general:hover h2 {
          color: white; }
        .feedback-blocks__block.\--general:hover img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.file-upload {
  text-align: center; }
  .file-upload img {
    cursor: pointer;
    width: auto;
    max-height: 200px; }
  .file-upload__browser input {
    display: none; }

#message-area {
  max-width: 65%;
  margin: auto; }

.message {
  margin: auto auto;
  width: 30em;
  max-width: 90%;
  display: block;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  font-weight: 400;
  z-index: 10; }
  .message__content {
    max-width: 90%;
    display: inline-block; }
  .message__remove {
    max-width: 10%;
    float: right; }
  .message__simple {
    padding: 1em;
    font-size: 15px;
    color: #666666; }
  .message__neutral {
    padding: 1em;
    font-size: 15px;
    color: #666666;
    background-color: #e6fbd7; }
  .message__error {
    padding: 1em;
    background-color: #d6506c;
    font-size: 16px;
    color: white; }
  .message__success {
    padding: 1em;
    background-color: #3498db;
    font-size: 20px;
    color: white; }
  .message__green {
    padding: 1em;
    background-color: #33965e;
    font-size: 20px;
    color: white; }

.mobile-category-menu__right {
  float: right;
  padding-top: 0.3em; }
  .mobile-category-menu__right.\--checkout {
    position: relative;
    background-color: #3498db;
    text-align: center;
    outline: 0;
    border: 1px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 5px 20px;
    font-size: 18px;
    -moz-transition: border .1s;
    -o-transition: border .1s;
    -webkit-transition: border .1s;
    transition: border .1s;
    font-weight: 900;
    cursor: pointer;
    font-family: 'Open Sans', Arial, helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
    text-transform: uppercase; }

.notes textarea {
  width: 100%; }

.notes input {
  float: right;
  clear: both; }

.notes__author {
  font-size: 11px;
  text-align: right; }
  .notes__author a, .notes__author a:active, .notes__author a:hover, .notes__author a:visited {
    color: white; }

.notes__message {
  padding: 0.5em; }

.notes__general {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  padding: 1em;
  font-size: 13px;
  background-color: #3498db;
  color: white; }

.main-footer {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: #33965e;
  color: white !important;
  min-height: 100px; }
  .main-footer a {
    color: white !important; }
  .main-footer h3 {
    font-size: 18px;
    color: #e6fbd7; }
  .main-footer__logo img {
    max-width: 70px; }

.main-header {
  border-bottom: 2px solid #33965e;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .main-header a {
    width: 100%; }
  .main-header__right-side {
    padding-top: 2em; }
  .main-header__logo {
    color: #666666; }
    .main-header__logo img {
      max-width: 200px; }
  .main-header__avatar {
    margin-top: 1em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2em !important;
    width: 50px;
    height: 50px;
    background: white;
    background-position: center center;
    background-size: cover;
    background-color: #919191;
    border: 3px white solid;
    margin-top: -0.3em !important; }
    .main-header__avatar.\--notification {
      right: 15px;
      top: -5px;
      z-index: 5;
      position: absolute;
      width: 25px;
      height: 25px;
      margin-bottom: 2px;
      background-color: #d6506c;
      color: white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .main-header__avatar.\--notification a {
        color: white; }
        .main-header__avatar.\--notification a:hover {
          color: white; }
  .main-header__likes {
    font-size: 14px;
    color: #666666; }
    .main-header__likes i {
      font-size: 20px;
      display: block;
      color: #d6506c; }
  .main-header__account {
    font-size: 14px;
    color: #666666;
    display: block; }
    .main-header__account i {
      font-size: 20px;
      display: block;
      color: #666666; }
  .main-header__cart {
    font-size: 14px;
    color: #666666; }
    .main-header__cart i {
      font-size: 20px;
      display: block;
      color: #666666; }

.product-box__thumb {
  min-height: 430px;
  z-index: 1;
  background-color: white;
  position: relative;
  text-decoration: none !important;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #33965e; }
  .product-box__thumb:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-box-shadow: 0 4px 2px #e6fbd7;
    box-shadow: 0 4px 2px #e6fbd7; }

.product-box__like a {
  font-size: 20px;
  color: #bdc3c7; }
  .product-box__like a:hover {
    color: #d6506c; }

.product-box__header img {
  display: block;
  margin: 0 auto;
  max-width: 65%;
  max-height: 200px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.product-box__inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 20px 22px;
  border-top: none;
  position: relative;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
  .product-box__inner.\--title {
    margin: 0em;
    padding: 0.5em;
    font-size: 16px; }
  .product-box__inner.\--description {
    color: #858585;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.4em; }

.product-box__meta {
  margin-top: 15px; }
  .product-box__meta.\--price {
    font-weight: 600;
    color: #33965e;
    padding: 0 7px;
    background: #49D2BE;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    font-size: 18px; }

.product-box__location {
  border-top: 1px dashed #e6e6e6;
  margin-top: 13px;
  padding-top: 8px;
  line-height: 1em;
  margin-bottom: 0;
  color: #a3a3a3;
  font-size: 12px; }
  .product-box__location a, .product-box__location a:active, .product-box__location a:hover, .product-box__location a:visited {
    color: #bdc3c7; }

.shop-box {
  background-color: white;
  padding: 1.5em;
  min-height: 15em; }
  .shop-box__overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-image: url("https://www-assets.carwow.co.uk/assets/beta-responsive/1x1-black-layer-41d38ffd1f9a359560152772ab4100f0.png"); }
  .shop-box__cover {
    background-size: cover;
    height: 15em; }
    .shop-box__cover h2 {
      color: white;
      font-family: Raleway, sans-serif; }
    .shop-box__cover.\--text {
      margin: 0.5em;
      color: white;
      position: relative;
      font-family: Raleway, sans-serif; }
  .shop-box__products {
    background-color: white;
    height: 15em;
    line-height: 13em; }
    .shop-box__products img {
      max-height: 100%; }
    .shop-box__products.\--product {
      padding: 1em; }

.shops-list {
  background-color: #F7F7F7; }

.product-page {
  box-shadow: 0px 5px 20px 3px rgba(139, 139, 139, 0.32);
  padding: 2em;
  margin-bottom: 2em; }
  @media (max-width: 994px) {
    .product-page ol {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 1em; } }
  .product-page__fullsize-image {
    min-height: 25em;
    margin-bottom: 1em; }
  .product-page__thumbnail-image {
    background-position: center center;
    background-size: cover;
    height: 7em;
    min-width: 5em;
    margin-bottom: 1em; }
  .product-page__description h3 {
    font-weight: bold; }
  .product-page__actions * {
    text-align: left; }
  .product-page__actions h2 {
    margin-top: 0.5em;
    font-size: 1.7em;
    font-weight: bold; }
  .product-page__actions h3 {
    margin-top: -0.5em;
    font-size: 1.2em;
    color: #ABABA8;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%; }
  .product-page__actions p {
    margin-top: -0.5em;
    color: #919191; }

.products-list hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-top: 1px solid #919191; }

.server-menu {
  line-height: 2;
  color: white;
  background-color: #83be58; }
  @media (max-width: 994px) {
    .server-menu {
      display: none; } }

.slider {
  position: relative;
  z-index: 1; }
  .slider ul {
    padding-bottom: 0 !important; }
  .slider__image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; }
  .slider__content {
    min-height: 200px; }
  .slider__bottom-border {
    border-bottom: thick solid #33965e; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .switch input {
    display: none; }
    .switch input:checked + .switch__slider {
      background-color: #33965e; }
    .switch input:focus + .switch__slider {
      box-shadow: 0 0 1px #33965e; }
    .switch input:checked + .switch__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }
  .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; }
    .switch__slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    .switch__slider:before {
      border-radius: 50%; }

.tags {
  padding: 0.8em; }
  .tags__tag {
    background-color: #3498db;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em; }
    .tags__tag a, .tags__tag a:active, .tags__tag a:hover, .tags__tag a:visited {
      color: white; }

.total {
  color: #666666; }
  .total td {
    padding: 0.2em;
    min-width: 5em; }
  .total__total-discount {
    color: #3498db;
    font-weight: bold; }
  .total__end-price {
    font-weight: bold;
    font-size: 17px; }
    .total__end-price.\--cross {
      color: #d6506c;
      text-decoration: line-through; }

.text-button {
  padding: 0.7em;
  text-align: center;
  border-width: 0;
  color: white !important;
  background-color: #464646;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .text-button:hover {
    color: white !important; }
  .text-button:active {
    color: white !important; }
  .text-button:visited {
    color: white !important; }
  .text-button.\--delete {
    background-color: #d6506c;
    border-bottom: 2px solid #ac4157; }
  .text-button.\--blue {
    background-color: #3498db;
    border-bottom: 2px solid #0b62a4; }
  .text-button.\--purple {
    background-color: #732c51; }
  .text-button.\--green {
    background-color: #33965e;
    border-bottom: 2px solid #29754a; }

.variant-box {
  border: 2px solid #bdc3c7;
  border-top: 0;
  padding: 0; }
  .variant-box__variant-name {
    font-weight: 600;
    border-bottom: 2px solid #666666;
    padding: 1em;
    background-color: #bdc3c7; }
    .variant-box__variant-name input {
      max-width: 140px; }
  .variant-box__option-name {
    padding: 1em; }
    .variant-box__option-name input {
      max-width: 110px; }
  .variant-box__add-option {
    background-color: #666666;
    text-align: center;
    font-size: 20px; }
    .variant-box__add-option a, .variant-box__add-option a:active, .variant-box__add-option a:hover, .variant-box__add-option a:visited {
      color: white !important; }

.home-steps {
  background-color: white;
  min-height: 450px; }
  .home-steps img {
    max-width: 100%; }
  .home-steps a {
    color: #33965e; }
    .home-steps a:hover {
      color: #33965e; }
  .home-steps li {
    margin-left: -1.5em; }
  .home-steps__container {
    background-color: white;
    color: #33965e; }
    .home-steps__container.\--step {
      padding-top: 5em; }
      .home-steps__container.\--step img {
        max-width: 200px; }
    .home-steps__container.\--paragraph {
      margin-top: 2em;
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
      text-align: left; }

.home-marketplace {
  margin-top: -3.5em !important; }
  .home-marketplace img {
    max-width: 100%; }
  .home-marketplace a {
    color: #33965e; }
    .home-marketplace a:hover {
      color: #33965e; }
  .home-marketplace li {
    margin-left: -1.5em; }
  .home-marketplace__first {
    margin-top: -3em;
    min-height: 8em;
    background-color: #33965e;
    color: white; }
    .home-marketplace__first h2 {
      font-size: 2.8em;
      color: white; }
    .home-marketplace__first.\--paragraphs {
      text-align: left; }
  .home-marketplace__second {
    min-height: 8em;
    background-color: #bdc3c7; }
    .home-marketplace__second h2 {
      line-height: 3em;
      font-size: 3em;
      color: #666666; }
    .home-marketplace__second.\--paragraphs {
      text-align: left; }
  .home-marketplace__third {
    background-color: #bdc3c7; }
    .home-marketplace__third h2 {
      color: #33965e; }

.breadcrumb {
  background: white;
  color: #666666;
  border-bottom: 2px solid #666666;
  padding: 1em;
  font-size: 15px;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align: left;
  list-style: none; }
  .breadcrumb li {
    display: inline-block; }
  .breadcrumb a {
    color: #ABABA8; }
  .breadcrumb li + li:before {
    content: '\f105';
    font-family: 'FontAwesome';
    padding: 0 7px;
    color: #919191; }

.main-table {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  overflow-x: auto;
  margin-bottom: 1em; }
  .main-table table {
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    word-wrap: break-word;
    width: 100%;
    vertical-align: middle; }
    .main-table table input {
      background-color: white;
      border: 1px dashed #3498db; }
    .main-table table a, .main-table table a:active, .main-table table a:hover, .main-table table a:visited {
      color: #3498db; }
    .main-table table tr:nth-child(even) {
      background-color: #f9f9f9; }
    .main-table table > thead > tr > th {
      vertical-align: middle;
      padding: 0.3em;
      white-space: nowrap; }
    .main-table table > tbody > tr > td {
      vertical-align: middle;
      padding: 0.5em;
      border-bottom: #bdc3c7 solid 1px; }
    .main-table table > thead {
      border-bottom: #bdc3c7 solid 2px; }
    .main-table table img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }

@media (max-width: 994px) {
  .connect__separator {
    display: none !important; } }

@media (max-width: 994px) {
  .magnify-lens {
    display: none !important; } }

@media (max-width: 994px) {
  .main-header__logo img {
    max-width: 170px; } }

@media (max-width: 994px) {
  .main-footer__logo {
    display: none; } }

@media (max-width: 994px) {
  .main-footer div[class^=col-md-] {
    margin-bottom: 2em; } }

.slicknav_menu {
  display: none; }

@media (max-width: 994px) {
  .category-menu {
    display: none; } }

@media (max-width: 994px) {
  .main-header__right-side {
    display: none; } }

@media (max-width: 994px) {
  .slicknav_menu {
    display: block; } }

#categories-menu {
  display: none; }

.slicknav_btn {
  margin-right: 1em;
  background-color: #33965e; }

.slicknav_menu {
  background: #83be58; }

.slicknav_nav a:hover {
  color: white;
  background: transparent; }

.js-editable-field input {
  background-color: white;
  border: 1px dashed #3498db; }

.intl-tel-input .country-list .country.highlight {
  color: #666666; }

.intl-tel-input {
  width: 100%; }

.iti-flag {
  background-image: url("/images/flags/flags.png"); }

h3 {
  font-weight: bold;
  color: #464646; }

.form-control {
  border: 1px solid #bdc3c7;
  background-color: #f9f9f9;
  border-width: 0px 0px 1px 0px; }
  .form-control:focus {
    border: 1px solid #33965e;
    border-width: 0px 0px 1px 0px; }

.js-editable button {
  color: #3498db !important; }

.js-editable a {
  color: #666666 !important; }

.col-centered {
  float: none;
  margin: 0 auto; }

.tips-template {
  display: none; }

html {
  box-sizing: border-box; }

input, textarea, select, a, button {
  outline: none !important; }

.content {
  margin: 0 auto; }

.content-customer {
  max-width: 1230px; }

.content-shopkeeper {
  max-width: 1500px; }

*, *:before, *:after {
  box-sizing: inherit; }

h4 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  color: #666666; }
  h4 a {
    color: #666666; }
    h4 a:hover {
      color: #666666; }

body {
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

textarea, input, a {
  outline: none; }

*:focus {
  outline: none; }

a, a:active, a:hover, a:visited {
  text-decoration: none !important;
  outline: none !important; }

.thumbnail-img {
  width: auto !important;
  max-height: 200px !important;
  max-width: 200px !important; }

.detail-img {
  width: auto;
  max-height: 400px; }

.icon-img {
  width: auto;
  max-height: 100px; }

.logo-img {
  width: auto;
  max-height: 96px; }

.logo-img-large {
  width: auto;
  max-height: 256px; }


/*# sourceMappingURL=shopkeeper.css.map*/