<div class="row">
  <div class="col-md-10">
    <h2>Orders</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= admin_orders_path(format: "csv") %>"><i class="fa fa-download tooltipster" title="Download CSV format"></i></a>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="+white-box">
      <%= render partial: "shared/partials/search" %>
    </div>
    <div class="+small-spacer"></div>
  </div>
</div>

<div class="+overflow">
  <%= render partial: "admin/orders/table", :locals => { :orders => @orders } %>
</div>

<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
