<div class="row">
  <div class="col-md-10">
    <h2>On-Going Orders</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>

</div>

<div class="row">
  <div class="col-md-12">
      <%= render partial: "shared/partials/search" %>
  </div>
</div>

<%= render partial: "admin/orders/table", :locals => { :orders => @orders } %>

<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
