<div class="row">
  <div class="subheader">

    <!-- BACK -->
    <div class="col-xs-3 col-md-4">
      <div class="subheader__left">
        <a href="<%= back %>">
          <i class="digpanda-back"></i><%= I18n.t(:back) %>
        </a>
      </div>
    </div>

    <!-- Number of package sets -->
    <div class="col-md-4">
      <div class="page-navigation__middle +desktop">
        <%= I18n.t('navigation.packages', num: package_sets.count) %>
      </div>
    </div>

    <!-- Categories filtering -->
    <div class="col-xs-9 col-md-4">
      <div class="page-navigation__right">
        <%= render partial: "guest/package_sets/navigation_filters", locals: { category: category } %>
      </div>
    </div>

  </div>
</div>
