<div class="row">
  <div class="subheader">

    <!-- BACK -->
    <div class="col-xs-4 col-md-4">
      <div class="subheader__left">
        <a href="<%= back %>">
          <i class="digpanda-back"></i><%= I18n.t(:back) %>
        </a>
      </div>
    </div>

    <!-- Number of package sets -->
    <div class="col-md-4">
      <div class="page-navigation__middle +desktop">
        <%= I18n.t(:packages, scope: :navigation, num: package_sets.count) %>
      </div>
    </div>

    <!-- Categories filtering -->
    <div class="col-xs-8 col-md-4">
      <div class="page-navigation__right">
        <%= select_tag('category[id]', options_for_select(category_package_set_filter), { :selected => params[:category_slug], :include_blank  => "全部类别", :class => "nice js-package-set-category-filter" }) %>
      </div>
    </div>

  </div>
</div>
