<div class="row">
  <div class="col-md-12">
    <div class="page-navigation">
      <div class="row">
        <!-- Breadcrumb -->
        <div class="col-md-4">
          <div class="page-navigation__breadcrumb">
            BREADCRUMB
          </div>
        </div>

        <!-- Number of package sets -->
        <div class="col-md-4">
          <div class="page-navigation__content">
            NUMBER
          </div>
        </div>

        <!-- Categories filtering -->
        <div class="col-md-4">
          <div class="page-navigation__filtering">
            FILTERING
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
