<div class="row">
  <div class="col-md-12">
    <div class="page-navigation">
      <div class="row">

        <!-- Breadcrumb -->
        <div class="col-md-4 col-xs-6">
          <div class="page-navigation__left">
            <%= render partial: "layouts/customer/subheader/breadcrumb" %>
          </div>
        </div>

        <!-- Number of package sets -->
        <div class="col-md-4">
          <div class="page-navigation__middle +desktop">
            <%= I18n.t(:packages, scope: :navigation, num: package_sets.count) %>
          </div>
        </div>

        <!-- Categories filtering -->
        <div class="col-md-4 col-xs-6">
          <div class="page-navigation__right">
            <%= collection_select(:category, :id, Category.with_package_sets, :slug, :name, { :selected => params[:category_slug], :include_blank  => "全部类别" }, :class => "nice js-package-set-category-filter") %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
