<div class="col-md-12">
  <div class="row">
    <h3>Addresses</h3>
    <hr>
  </div>
  <div class="row">
    <%= render partial: "admin/addresses/table", :locals => { :addresses => addresses } %>
  </div>
</div>
