<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3><%= I18n.t(:variants, scope: :edit_product_variant) %></h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <hr>
    </div>
  </div>
  <div class="row">
    <%= I18n.t(:variant_usage, scope: :edit_product_variant).html_safe %>
  </div>

  <div class="+small-spacer"></div>

  <!-- Variant boxes -->
  <div class="row form-group">
    <%= f.fields_for :options do |field_option| %>
        <div class="col-md-4">
          <%= render partial: "shopkeeper/products/variants/index/form/variant_box", :locals => {:form => field_option} %>
        </div>
    <% end %>
  </div>

</div>
