+component(big-button)

  +link-color($color-white)
  +special-button

  position: relative
  text-align: center
  outline: 0
  border: 1px
  width: 100%

  +option(green-hollow)
    background-color: $color-white
    border: 2px solid $color-green
    +link-color($color-green)


  +option(blue)
    background-color: $color-blue

  +option(green)
    background-color: $color-dark-green

  +option(purple)
    background-color: $color-purple

  +option(grey)
    +link-color($color-black)
    background-color: $color-super-light-grey
