+component(buttons)

  display: inline-block
  text-align: center
  color: $color-white !important
  background-color: $color-black
  +transition(0.3s)
  +border-radius(50%)
  +button-size(2em)

  +part(purple)
    &:hover
      background-color: $color-purple

  +part(delete)
    &:hover
      background-color: $color-red

    +option(small)
      +button-size(1.2em)

  +part(edit)
    &:hover
      background-color: $color-blue

  +part(cancel)
    &:hover
      background-color: $color-orange

  +part(add)
    &:hover
      background-color: $color-dark-green

  +part(quantity)
    background-color: transparent
    color: $color-light-grey !important
    &:hover
      color: $color-blue !important
