+component(category-menu)

  line-height: 2
  
  +part(search)
    color: $color-almost-black
    input
      border: 0
      max-width: 8.9em // extreme limit before mobile sizing
    button
      border: 0
      background-color: transparent
    i
      color: $color-blue

  background-color: $color-white
  font-weight: 400
  border-bottom: 2px solid $color-grey
  font-family: 'Raleway', sans-serif

  +navbar-system-borders($color-almost-black, $color-dark-green, $color-dark-green,  $color-white)