+component(coupon)

    +part(field)
      border: 1px dashed $color-dark-green
      background-color: $color-almost-white
      width: 100%

    +part(apply)
      text-transform: uppercase
      display: inline-block
      text-align: center
      color: $color-white !important
      background-color: $color-light-grey
      +transition(0.3s)
      border: 0
      //+border-radius(10%)
      &:hover
        background-color: $color-blue
