+component(details)

  +part(action)
    text-align: right
    font-size: 22px
    a
      color: $color-black

  +part(block)
    +white-box
    +classy-shadow
    margin-left: 0
    margin-top: 1em
    margin-right: 1em
    margin-bottom: 1em
