+component(home-marketplace)

  // Hook linked to the front end as quick fix to avoid gap
  margin-top: -3.5em !important

  img
    max-width: 100%

  a
    color: $color-dark-green
    &:hover
      color: $color-dark-green

  li
    margin-left: -1.5em

  +part(first)
    margin-top: -3em
    min-height: 8em
    background-color: $color-dark-green
    color: $color-white
    h2
      //line-height: 3em
      font-size: 2.8em
      color: $color-white

    +option(paragraphs)
      text-align: left

  +part(second)
    min-height: 8em
    background-color: $color-grey
    h2
      line-height: 3em
      font-size: 3em
      color: $color-almost-black

    +option(paragraphs)
      text-align: left

  +part(third)

    background-color: $color-grey

    h2
      color: $color-dark-green
