+component(main-header)

  border-bottom: 2px solid $color-dark-green
  background-color: $color-white
  +padding-vertical(0.5em)

  a
    width: 100%

  +part(right-side)
    padding-top: 2em

  +part(logo)
    color: $color-almost-black
    img
      max-width: 200px

  +part(avatar)

    +avatar(50px)
    margin-top: -0.3em !important

    +option(notification)

      right: 15px
      top: -5px
      z-index: 5
      position: absolute
      width: 25px
      height: 25px
      margin-bottom: 2px
      background-color: $color-red
      color: $color-white
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      a
        color: $color-white
        &:hover
          color: $color-white

  +part(likes)
    font-size: $header-buttons-text-size
    color: $color-almost-black
    i
      font-size: $header-buttons-icon-size
      display: block
      color: $color-red

  +part(account)
    font-size: $header-buttons-text-size
    color: $color-almost-black
    display: block
    i
      font-size: $header-buttons-icon-size
      display: block
      color: $color-almost-black

  +part(cart)
    font-size: $header-buttons-text-size
    color: $color-almost-black
    i
      font-size: $header-buttons-icon-size
      display: block
      color: $color-almost-black
