+component(main-table)

  table

    background-color: $color-white
    +border-radius(4px)
    word-wrap: break-word

    #{$a-tags}
      color: $color-green

    width: 100%
    vertical-align: middle

    tr:nth-child(even)
      background-color: $color-nearly-white

    >thead >tr >th
      vertical-align: middle
      padding: 0.3em
      white-space: nowrap

    >tbody >tr >td
      vertical-align: middle
      padding: 0.5em
      border-bottom: $color-grey solid 1px

    >thead
      border-bottom: $color-grey solid 2px

    img
      +border-radius(5px)
