+component(main-table)

  //+shadow-lightbox
  background-color: $color-white
  +border-radius(4px)
  word-wrap: break-word

  #{$a-tags}
    color: $color-green

  width: 100%
  padding: 2em
  margin-bottom: 1em
  vertical-align: middle

  tr:nth-child(even)
    background-color: $color-nearly-white


  >thead >tr >th
    vertical-align: middle
    padding: 0.3em
    white-space: nowrap

  >tbody >tr >td
    vertical-align: middle
    padding: 0.5em
    border-bottom: $color-grey solid 1px

  >thead
    border-bottom: $color-grey solid 2px

  img
    +border-radius(5px)

  +part(quantity)
    input
      width: 25px
      text-align: center
      outline: none
      display: inline-block
      line-height: 20px
      margin: 0 7px
      -webkit-border-radius: 4px
      border-radius: 4px
      border: 1px solid #ccc
      -webkit-box-shadow: none
      box-shadow: none
