+component(message)

  padding: 0.5em
  margin-top: 0.5em
  font-weight: 400
  z-index: 10
  top: 0.5em

  +part(remove)

  +part(simple)
    padding: 1em
    font-size: 18px
    color: $color-black

  +part(neutral)
    padding: 1em
    font-size: 18px
    color: $color-black
    background-color: $color-light-green

  +part(error)
    padding: 1em
    background-color: $color-red
    font-size: 20px
    color: $color-white

  +part(success)
    padding: 1em
    background-color: $color-blue
    font-size: 20px
    color: $color-white

  +part(green)
    padding: 1em
    background-color: $color-green
    font-size: 20px
    color: $color-white
