#message-area
  max-width: 65%
  margin: auto

+component(message)

  margin: auto auto
  width: 30em
  max-width: 90%
  display: block
  text-align: center
  padding: 1em
  margin-top: 1em

  font-weight: 400
  z-index: 10

  +part(content)
    max-width: 90%
    display: inline-block

  +part(remove)
    max-width: 10%
    float: right

  +part(simple)
    padding: 1em
    font-size: 15px
    color: $color-almost-black

  +part(neutral)
    padding: 1em
    font-size: 15px
    color: $color-almost-black
    background-color: $color-light-green

  +part(error)
    padding: 1em
    background-color: $color-red
    font-size: 20px
    color: $color-white

  +part(success)
    padding: 1em
    background-color: $color-blue
    font-size: 20px
    color: $color-white

  +part(green)
    padding: 1em
    background-color: $color-dark-green
    font-size: 20px
    color: $color-white
