+component(page-error)

  h1
    color: $color-white
    
  img
    width: 450px

  a
    //font-family: Raleway, sans-serif
    font-size: 20px
    color: $color-white
    &:hover
      color: $color-white
