+component(page-static)

  +white-box
  margin: 2em

  +part(text)
    word-wrap: normal
    white-space: -moz-pre-wrap
    white-space: pre-wrap
    padding: 1em
    padding-top: 0em
    margin-bottom: 1em

  +part(tag)
    padding-top: 9em

  h1
    font-size: 24px
    font-weight: bold
    margin: 1em
    color: $color-black
    margin-bottom: 0em

  a
    color: $color-green
    &:hover
      color: $color-green
