+component(product-page)

  +shadow-box
  padding: 2em
  margin-bottom: 2em

  // for breadcrumb in mobile
  ol
    +breakpoint('mobile')
      +centered
      margin-bottom: 1em

  +part(fullsize-image)
    min-height: 25em
    margin-bottom: 1em

  +part(thumbnail-image)
    background-position: center center
    background-size: cover
    height: 7em
    min-width: 5em
    margin-bottom: 1em

  +part(description)
    h3
      font-weight: bold

  +part(actions)

    *
      text-align: left

    h2
      margin-top: 0.5em
      font-size: 1.7em
      font-weight: bold
    h3
      margin-top: -0.5em
      font-size: 1.2em
      color: $color-light-grey
      +truncate(100%)

    p
      margin-top: -0.5em
      color: $color-dark-grey
