+component(text-button)

  padding: 0.7em
  text-align: center

  border-width: 0

  color: $color-white !important
  &:hover
    color: $color-white !important
  &:active
    color: $color-white !important
  &:visited
    color: $color-white !important

  background-color: $color-black
  +transition(0.2s)
  +border-radius(3px)
  //+button-size(2em)

  +option(small)
    font-size: 14px

  +option(delete)
    background-color: $color-red
    border-bottom: 2px solid #ac4157

  +option(purple)
    background-color: $color-light-purple
    border-bottom: 2px solid $color-purple

  +option(blue)
    background-color: $color-blue
    border-bottom: 2px solid $color-dark-blue

  +option(green)
    background-color: $color-dark-green
    border-bottom: 2px solid $color-very-dark-green

  +option(black)
    background-color: $color-almost-black
    border-bottom: 2px solid $color-black
