<span>
<%= I18n.t('cart.quantity') %>
</span>

  <% if product.can_buy? %>

      <div class="product-quantity">

        <div class="col-md-10 col-xs-6">
          <div class="row">

            <!-- Minus -->
            <a id="quantity-minus" class="product-quantity__minus" href="#"><i class="fa fa-minus"></i></a>

            <!-- Current quantity -->
            <input id="quantity" name="sku[quantity]" data-max="<%= product.featured_sku.max_added_to_cart %>" class="product-quantity__quantity" type="text" value="1">

            <!-- Plus -->
            <a id="quantity-plus" class="product-quantity__plus" href="#"><i class="fa fa-plus"></i></a>

          </div>

          <div class="row">
            <div class="+small-spacer">
          </div>

          <button type="submit" class="btn btn-primary btn-lg" <%= enough_inventory?(product.decorate.featured_sku, 1) ? '' : 'disabled' %> ><i class="fa fa-shopping-cart"></i> <%= "#{I18n.t('popular_products.add_to_cart')}" %></button>

          </div>

        </div>

      </div>

      <div class="row">
        <div class="+small-spacer"></div>
      </div>

  <% end %>
