<!-- Footer -->
<div class="row">
</div>

<div class="row js-footer-stick">

  <div class="col-md-12 main-footer">

    <div class="main-footer__logo col-md-1">
      <img src="/images/logo-min-white.png">
    </div>

    <div class="col-md-2">
      <%= render "layouts/admin/footer/language_switch" %>
    </div>

  </div>

</div>
<!-- End of footer -->
