<%= inside_layout do %>
  <div class="row">
    <div class="+small-spacer"></div>
    <div class="col-md-2">
      <div class="+static-menu +desktop">

        <div>
          <img src="/images/logo-min-white.png">
        </div>

        <ul>
          <%= render partial: "layouts/#{solve_section}/submenu/list" %>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="+spacer"></div>
  </div>
<% end %>
