<%= inside_layout do %>
  <div class="row">
    <div class="+small-spacer"></div>
    <div class="col-md-2">
      <aside class="sidebar-left">
        <ul class="nav nav-pills nav-stacked nav-arrow">
          <%= render partial: "layouts/#{solve_section}/submenu/list" %>
        </ul>
      </aside>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="+spacer"></div>
  </div>
<% end %>
