<%= inside_layout do %>
  <div class="row">
    <div class="+small-spacer"></div>
    <div class="col-md-2">
      <div class="dashboard-layout__menu +desktop">

        <div>
          <a href="<%= admin_home_path %>">
            <img src="/images/logo-min-white.png">
          </a>
        </div>

        <ul>
          <%= render partial: "layouts/#{solve_section}/submenu/list" %>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="+spacer"></div>
  </div>
<% end %>
