<% if order_payments.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <th>
        Request #
      </th>
      <th>
        Transaction #
      </th>
      <th>
        Shop
      </th>
      <th>
        Order #
      </th>
      <th>
        Delivery Address Name
      </th>
      <th>
        Status
      </th>
      <th>
        Amount (CNY)
      </th>
      <th>
        Amount (EUR)
      </th>
      <th>
        Payment Method
      </th>
      <th>
        Date
      </th>
      <th>
        Action
      </th>
    </thead>
    <tbody>
      <%= render partial: "admin/order_payments/order_payments", collection: order_payments, :as => :order_payment %>
    </tbody>
  </table>
</div>
  <% if order_payments.respond_to?(:total_page) %>
  <%= will_paginate order_payments, renderer: BootstrapPagination::Rails %>
  <% end %>
<% else %>
<div class="+white-box +centered">
  <h4>
    No payment
  </h4>
</div>
<% end %>
