<div class="row">
  <div class="col-md-10">
    <h2>Order Payments</h2>

    <%= render partial: "admin/order_payments/chart" %>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <%= render partial: "shared/partials/search" %>
  </div>
</div>

<%= render partial: "admin/order_payments/table", :locals => { :order_payments => @order_payments } %>


<%= will_paginate @order_payments, renderer: BootstrapPagination::Rails %>
