<div class="row">
  <div class="col-md-10">
    <h2>Order Payments</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="+white-box">
      <%= render partial: "shared/partials/search" %>
    </div>
    <div class="+small-spacer"></div>
  </div>
</div>

<div class="+overflow">
  <%= render partial: "admin/order_payments/table", :locals => { :order_payments => @order_payments } %>
</div>

<%= will_paginate @order_payments, renderer: BootstrapPagination::Rails %>
