<div class="row">
  <!-- Data needed for the payment partner -->
  <%= content_tag(:div, nil, :id => "shop-details", :data => @wirecard.apply_partnership_datas.compact) %>
</div>

<div class="row col-md-8 col-md-push-2 col-md-pull-2 +white-box +centered">
  <h4>
    <%= I18n.t(:being_redirected_to_payment_partner, scope: :notice) %>
  </h4>
</div>