<div class="row">

  <div class="col-xs-12 col-md-12">

    <h2><%= I18n.t('top_menu.my_address') %></h2>
    <hr class="+anti-margin" />

    <%= render partial: "customer/orders/addresses/address", locals: { address: address, action: false } %>

  </div>

</div>
