<div class="row">

  <div class="col-xs-12 col-md-12">

    <h2><%= I18n.t(:my_payment, scope: :top_menu) %></h2>
    <hr class="+anti-margin" />

    <%= render partial: "customer/checkout/payment_method/payment/choose", locals: { shop: shop } %>

  </div>

</div>
