<hr class="+anti-margin" />

<div class="row">

  <div class="col-xs-12 col-md-12">

    <h2><%= I18n.t('edit_order.special_instructions_title') %></h2>

    <!-- Special instructions -->
    <div class="row">
      <div class="col-md-12 form-group">
        <%= text_field_tag :special_instructions, order.special_instructions, :class => 'form-control', :required => false, data: { order_id: "#{order.id}" } %>
        <div class="help-block with-errors"></div>
      </div>
    </div>

    <hr class="+anti-margin" />

  </div>

</div>
