.container
  .col-md-3
    %aside.sidebar-left
      %ul.nav.nav-pills.nav-stacked.nav-arrow
        - if current_user.shop && current_user.shop.agb
          %li{:class => params[:user_info_edit_part] ? (params[:user_info_edit_part] == :edit_account.to_s ? 'active' : '') : 'active'}
            =link_to I18n.t(:my_account, scope: :top_menu),  edit_user_path(current_user, :user_info_edit_part => :edit_account)
        %li{:class => params[:user_info_edit_part] ? (params[:user_info_edit_part] == :edit_producer.to_s ? 'active' : '') : 'active'}
          =link_to I18n.t(:my_producer, scope: :top_menu),  edit_user_path(current_user, :user_info_edit_part => :edit_producer)
        %li{:class => params[:user_info_edit_part] == :edit_shopkeeper_agb.to_s ? 'active' : ''}
          =link_to I18n.t(:my_agb, scope: :top_menu),  edit_user_path(current_user, :user_info_edit_part => :edit_shopkeeper_agb)
        - if current_user.shop && current_user.shop.agb
          %li{:class => params[:user_info_edit_part] == :edit_shop.to_s ? 'active' : ''}
            =link_to I18n.t(:my_shop, scope: :top_menu),  edit_user_path(current_user, :user_info_edit_part => :edit_shop)
          - if current_user.shop
            %li{:class => [:edit_product.to_s, :edit_product_update.to_s, :edit_product_new.to_s, :edit_product_detail.to_s, :edit_product_detail_new.to_s, :edit_product_detail_update.to_s, :edit_product_variant.to_s, :edit_product_variant_new.to_s, :edit_product_variant_update.to_s].include?(params[:user_info_edit_part]) ? 'active' : ''}
              =link_to I18n.t(:my_product, scope: :top_menu),  edit_user_path(current_user, :user_info_edit_part => :edit_product)
          %li{:class => [:edit_collection.to_s, :edit_collection_update.to_s, :edit_collection_new.to_s].include?(params[:user_info_edit_part]) ? 'active' : ''}
            =link_to I18n.t(:my_collection, scope: :top_menu),  edit_user_path(current_user, :user_info_edit_part => :edit_collection)

  .col-md-9
    = yield
