.large-10.large-centered.columns
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-5.users
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
    %li
      %img{:src => "http://www.telikin.com/blog/components/com_joomblog/images/user.png"}
      %p Mina Sedra
      %button Follow
