<div class="details">

  <div class="row">
    <div class="col-md-10">
      <h2>Wechat URL Adjuster</h2>
      <em>Small tool to generate Wechat ready URLs</em>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>

  <div class="+small-spacer"></div>

  <div class="row details__block">
    <%= text_field_tag :raw_url, nil, id: "wechat-url-adjuster" %>
    <div id="wechat-url-adjuster-result" class="+blue"></div>
  </div>


</div>
