<div class="details">
  <div class="row details__block">
    <h3>New link</h3>
    <hr>

    <%= form_for [:admin, @link] do |form| %>

      <%= render partial: "admin/links/form", :locals => { :form => form } %>

      <%= form.submit "Create link", {:class => "btn btn-primary"} %>

    <% end %>

  </div>
</div>
