.translation {
    text-decoration: underline;
}

.nopadding-lr {
    padding: 6px 0px 6px 0px !important;
}

.popover{
    max-width:512px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
}

img[src=""] {
    display:none;
}

.required:after {
    content: ' *'; color: red
}

.required-info:before {
    content: '* ';
    color: red;
}


body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid,
.row-fluid { height: inherit; }

.invalidBorderClass{
    border-color: #A94442 !important;
    border-width:1px !important;
    border-style: solid !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

textarea {
    resize: none;
}

.panel-group .panel {
    overflow: visible;
}

.scrollable-menu {
    height: auto;
    max-height: 80px;
    overflow-x: hidden;
}

.i-check.disabled.checked,
.i-radio.disabled.checked {
    background: #49D2BE;
}

.numberCircle {
    border-radius: 3px;
    behavior: url(PIE.htc);
    padding: 1px 2px;
    background: #49D2BE;
    border: 1px;
    color: white;
    text-align: center;
    font: 10px;
}

.product_categoires {
    max-height: 400px;
}

.ui-autocomplete {
    position: absolute;
    z-index: 2000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete > li {
    padding: 3px 20px;
}

.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.shared_header_logo {
    left: 10px;
    height: 50px;
    padding-top: 4px;
    text-align: left;
    width: 100%;
    display: block;
    position: absolute;
}

.shared_header_logo_mobile {
    left: 2px;
    height: 50px;
    padding-top: 4px;
    text-align: left;
    width: 100%;
    display: none;
    position: absolute;
}


.bannerImg_shopkeeper {
    background-color:#edefed;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15%;
    padding-right: 15%;

    width:100%;
    height:auto;
}
.bannerImg_shopkeeper.orig {
    border-top: 3px solid #edefed;
    border-bottom: 3px solid #edefed;
    border-right: 230px solid #edefed;
    border-left: 230px solid #edefed;
    width:100%;
    height:auto;
}
