<!-- Logo -->
<div class="+centered">
  <% if @freeze_header %>
    <img src="/images/logo-half.png">
  <% else %>
    <a href="<%= root_path %>">
      <img src="/images/logo-half.png">
    </a>
  <% end %>
</div>
