<!-- Logo -->
<div class="+centered">
  <% if @freeze_header %>
    <a href="<%= identity_solver.secondary_domain? ? guest_package_sets_path : root_path %>">
      <img src="/images/logo-half.png">
    </a>
  <% else %>
    <a href="<%= root_path %>">
      <img src="/images/logo-half.png">
    </a>
  <% end %>
</div>
