<!-- Logo -->
<div class="+centered">
  <% if @freeze_header %>
    <a href="<%= identity_solver.origin_url %>">
      <img src="/images/logos/germany-in-the-box.svg">
    </a>
  <% else %>
    <a href="<%= root_path %>">
      <img src="/images/logos/germany-in-the-box.svg">
    </a>
  <% end %>
</div>
