<div class="container-fluid header-mobile">
  <div class="row">

    <!-- Left Slide Menu -->
    <div class="col-xs-2 header-mobile__categories">
      <div class="row">
        <%= render partial: "layouts/customer/header/mobile/menu/slide", locals: { categories: @categories } %>
      </div>
    </div>

    <!-- Central Logo -->
    <div class="col-xs-7 header-mobile__logo">
      <%= render partial: "layouts/customer/header/shared/logo" %>
    </div>

    <!-- Right menu -->
    <div class="col-xs-3 header-mobile__menu">
      <div class="row">
        <%= render partial: "layouts/customer/header/mobile/menu/buttons", locals: { categories: @categories } %>
      </div>
    </div>
  </div>

  <!-- Down search bar -->
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "layouts/customer/header/shared/search" %>
    </div>
  </div>

</div>
