<div class="container-fluid header-mobile">
  <div class="row">

    <!-- Categories -->
    <div class="col-xs-2 header-mobile__categories">
      <div class="row">

        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#mobile-menu" data-canvas="body">
          <i class="fa fa-bars"></i>
        </button>

        <%= render partial: "layouts/customer/header/mobile/categories_menu", :locals => { :categories => @categories } %>

      </div>
    </div>

    <!-- Logo -->
    <div class="col-xs-7 header-mobile__logo">
      <%= render partial: "layouts/customer/header/logo" %>
    </div>

    <!-- Menu -->
    <div class="col-xs-3 header-mobile__menu">
      <div class="row">

        <%= render partial: "layouts/customer/header/mobile/buttons_menu", :locals => { :categories => @categories } %>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "layouts/customer/header/search_bar" %>
    </div>
  </div>
</div>
