<div class="+sticking">
  <div>欢迎手机扫码<br />关注我们的公众号</div>
  <div class="+small-spacer"></div>
  <img src="/images/stickers/wechat.png">
  <div class="+small-spacer"></div>
  <img src="/images/stickers/weblog.png">
</div>
