<% if brand.footer_slides.count > 0 %>
<div id="slider-vue">

  <swiper :options="swiperOption" class="slider">

    <% brand.footer_slides.each do |image| %>
    <swiper-slide>
      <% if image.url.present? %>
        <a href="<%= image.url %>" target="_blank">
          <img src="<%= image.file %>" />
        </a>
      <% else %>
        <img src="<%= image.file %>" />
      <% end %>
    </swiper-slide>
    <% end %>

    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>

</div>
<% end %>
