<% if brand.images.count > 0 %>
<div id="slider-vue">

  <swiper :options="swiperOption" class="slider">

    <% brand.images.each do |image| %>
    <swiper-slide>
      <a href="#">
        <img src="<%= image.file %>" />
      </a>
    </swiper-slide>
    <% end %>

    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>

</div>
<% end %>
