<div class="panel panel-info">
  <div class="panel-heading text-center">
    <label class="<%= (@shop.agb ? '' : 'required') %>">
      Delivery Options
    </label>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="row-fluid">
          <%= f.check_box :hermes_pickup %>
          Hermes PickUp Service
      </div>
    </div>
  </div>
  </div>
