<h3>Danger Zone</h3>
<hr>

<!-- Destroy link -->
<%= link_to "Delete this inquiry", admin_inquiry_path(inquiry), method: :delete, data: { confirm: "Are you sure you want to delete this inquiry ? It cannot be undone." } , class: "text-button --delete" %>
