+component(addresses)

  hr
    border-top: 1px solid $color-grey
    margin-top: 1em
    margin-bottom: 1em
    +anti-margin
  
  +part(title)
      +strong-title

  +part(new)
    margin-top: 1em
    margin-bottom: 1em

  +part(list)
    border-top: 1px solid $color-grey

  +part(address)
    margin-top: 1em
    margin-bottom: 1em
    background-color: #F8F8F8

  +part(address-infos)
    padding: 1em
    text-align: left

  +part(address-name)
    font-weight: bold
    font-size: 18px

  +part(address-details)
    color: #919191
    font-size: 13px

  +part(address-street)
  +part(address-city)
  +part(address-country)
  +part(address-phone)
    color: $color-light-grey
    font-weight: bold

  +part(address-remove)
    float: right
    a
      color: #464646
      font-size: 20px

  +part(address-use)
    float: right
    margin-top: 4em
    a
      border: none
      background-color: $color-dark-green
      padding: 0.6em 1.3em 0.6em 1.3em
      color: $color-white
