+component(addresses)

  +part(title)
      +strong-title

  +part(list)
    border-top: 1px solid $color-grey
    

  +part(address)
    margin-top: 1em
    background-color: #F8F8F8

  +part(address-infos)
    padding: 1em
    text-align: left

  +part(address-name)
    font-weight: bold
    font-size: 18px

  +part(address-details)
    color: #919191
    font-size: 13px

  +part(address-street)
  +part(address-city)
  +part(address-country)
  +part(address-phone)
    color: $color-dark-grey
    font-weight: bold

  +part(address-remove)
  +part(address-use)
