+component(big-button)

  color: $color-white
  &:hover
    color: $color-white

  position: relative
  text-align: center
  outline: 0
  border: 1px
  +special-button

  +option(blue)
    background-color: $color-blue
