+component(big-button)

  +link-color($color-white)
  +special-button

  position: relative
  text-align: center
  outline: 0
  border: 1px

  +option(blue)
    background-color: $color-blue

  +option(green)
    background-color: $color-dark-green
