+component(header-desktop)

  +breakpoint('mobile')
    display: none

  +breakpoint('desktop')
    display: block

  +row-without-margin
  +shadow

  min-height: 4em
  background-color: $color-white

  +part(total-products)
    font-weight: bold
    position: absolute
    bottom: 1em
    left: 0.9em

  +part(logo)
    padding-top: 0.7em
    min-height: 4em
    padding-left: 3em

    img
      height: 80px


  +part(categories)
    +no-horizontal-padding
    min-height: 4em
    padding-top: 2.9em

    a
      color: $color-dark-grey

    ul
      list-style-type: none

  +part(menu)
    min-height: 4em
    padding-top: 2.5em

    ul
      list-style-type: none

    a
      font-size: 1.6em

    +option(pink)
      color: $color-pink

    +option(green)
      i
        color: $color-dark-green
      color: $color-dark-green
