+component(landing-banner)

  +header-banner

  +part(content)

    color: $color-white

    text-align: center
    margin: 0 auto
    padding-top: 8em

    h2
      font-size: 3em
    p
      font-size: 1.7em
      padding-bottom: 0.5em
