+component(landing-banner)

  background-color: $color-grey
  background-size: cover
  background-position: center center
  +border-radius(5px)
  +shadow-box

  min-height: 400px

  +part(content)

    color: $color-white

    text-align: center
    margin: 0 auto
    padding-top: 8em

    h2
      font-size: 3em
    p
      font-size: 1.7em
      padding-bottom: 0.5em
