+component(landing-banner-mobile)

  +header-banner

  border-radius: 0
  +border-radius-top(4px)

  +part(content)

    +shadow-box

    text-align: center
    padding: 1em
    +border-radius-bottom(4px)

    h2
      font-size: 3em
    p
      font-size: 1.7em
      padding-bottom: 0.5em
