+component(main-button)

  +part(hollow)

    background-color: $color-white
    padding: 0.7em 2em 0.7em 2em
    border: 4px
    border: 2px solid $color-flash-green
    +border-radius(5px)

    color: $color-flash-green

    &:link, &:hover, &:active, &:visited
      color: $color-flash-green

    &:active
      background-color: #c7ef9a
