+component(menu-dropdown)

    position: relative
    display: inline-block

    a
      padding: 2em

    &:hover .menu-dropdown__content
      display: block

    +part(content)
      display: none
      position: absolute
      top: 38px
      background-color: $color-white
      min-width: 10em
      +shadow-box
      padding: 12px 16px
      z-index: 1
