+component(package-set-list-block)

  +shadow
  +border-radius(4px)
  font-size: 18px
  margin-bottom: 1em

  a
    color: $color-almost-black

  +part(header-content)
    margin: 1em
    margin-bottom: 0.2em

  +part(header-title)
    +trim-word
    font-weight: 400
    letter-spacing: 0.2px

  +part(header-category)
    color: $color-grey
    font-weight: 300
    text-align: right

  +part(central-image)
    +centered
    height: 23vw
    +breakpoint('mobile')
      height: 72vw
    max-height: 672px

    background-position: center center
    background-size: contain
    background-repeat: no-repeat

  +part(footer-content)
    margin: 1em
    margin-top: 0.2em
    margin-bottom: 0

  +part(footer-price)
    color: $color-red
    font-weight: 300

  +part(footer-cart)
    text-align: right
    a
      color: $color-grey
      font-size: 22px
      &:hover
        color: $color-blue
      &:focus
        color: $color-blue
