+component(package-set-list-block)

  +part(promotion-text)

    background-color: $color-flash-red
    color: $color-white
    text-align: center

    +breakpoint('desktop')
      margin-top: 2.2em
      margin-left: -4em
      padding: 0.3em
      font-weight: bold
      +rotate(-25deg)
      width: 100%

    +breakpoint('mobile')
      margin-top: 2.2em
      margin-left: -2em
      padding: 0.3em
      font-size: 10px
      font-weight: bold
      +rotate(-25deg)
      width: 10%

  //+shadow
  //+border-radius(4px)
  font-size: 15px
  margin-bottom: 1em
  +breakpoint('mobile')
    margin-bottom: 0

  a
    color: $color-almost-black

  +part(header-content)
    margin: 1em
    margin-bottom: 0.2em
    +breakpoint('mobile')
      margin-bottom: 0

  +part(header-title)
    +trim-word
    font-weight: 400
    letter-spacing: 0.2px
    font-size: 14px

  +part(header-category)
    color: $color-grey
    font-weight: 300
    text-align: right

  +part(central-promotion)
    position: absolute
    top: 0
    width: 100%
    +overflow
    +centered

    height: 17vw
    +breakpoint('mobile')
      height: 36vw

  +part(central-image)
    +overflow
    +centered

    img
      z-index: 0
      height: 17vw
      +breakpoint('mobile')
        height: 36vw
        //max-width: 50%

  +part(footer-content)
    margin: 1em
    margin-top: 0.1em

  +part(footer-note)
    color: $color-grey
    font-size: 14px
    +breakpoint('mobile')
      font-size: 12px

  +part(footer-barred-price)
    text-decoration: line-through
    color: $color-light-grey
    font-size: 12px

  +part(footer-price)
    color: $color-red
    font-weight: 300

    +breakpoint('mobile')
      font-size: 15px

  +part(footer-cart)
    text-align: right
    //+breakpoint('mobile')
    padding-right: 0.3em
    a
      color: $color-grey
      +breakpoint('mobile')
        font-size: 16px
      font-size: 18px
      &:hover
        color: $color-blue
      &:focus
        color: $color-blue
