+component(package-set-infos)

  +shadow-box
  +border-radius(4px)
  padding: 1.1em
  margin-top: 1em
  margin-bottom: 1em

  +part(introduction-header)
    color: $color-grey
    text-align: right

  +part(introduction)
    h1
      font-size: 27px
    +centered
    p
      text-align: justify
  +part(product)
    //float: right

  +part(products)
    +padding-vertical(2em)

  +part(actions)
    hr
      width: 50%

  +part(original-price)
    color: $color-dark-grey
    font-weight: bold
    font-size: 18px
    +crossed

  +part(new-price)
    color: $color-red
    font-weight: bold
    font-size: 26px
    margin-top: -0.3em

  +part(euro-price)
    color: $color-red
    margin-top: -0.5em
