// NOTE : this is not in use anymore.
// Laurent, 08/08/2017
+component(package-set-block)

  +breakpoint('mobile')
    padding-bottom: 2em // for the button

  +shadow-box

  +breakpoint('desktop')
    +border-radius-left(4px)
    +border-radius-right(4px)
  +breakpoint('mobile')
    +border-radius-top(4px)
    +border-radius-bottom(4px)

  +part(no-padding-left)
    +breakpoint('desktop')
      padding-left: 0
    & > div
      +breakpoint('desktop')
        +border-radius-right(4px)
      +breakpoint('mobile')
        +border-radius-top(4px)

  +part(no-padding-right)
    +breakpoint('desktop')
      padding-right: 0
    & > div
      +breakpoint('desktop')
        +border-radius-left(4px)
      +breakpoint('mobile')
        +border-radius-top(4px)

  +part(price)
    color: $color-red
    font-weight: bold
    font-size: 23px
    margin: 0 0.5em 0.5em 0.5em

  +part(original-price)
    color: $color-dark-grey
    font-weight: bold
    font-size: 18px
    +crossed

  +part(wrapper)
    width: 95%
    +breakpoint('mobile')
      display: inline-block

  +part(content-header)
    color: $color-grey
    +breakpoint('desktop')
      margin-top: 0.5em

    +option(right)
      text-align: right
      margin-right: 1em
    +option(left)
      text-align: left
      margin-left: 1em

  +part(content)
    width: 100%
    +breakpoint('mobile')
      display: inline-block
      height: 75vw

    position: relative
    padding: 2em
    height: 60vw

    max-height: 672px
    +centered

    +breakpoint('mobile')
      +border-radius-bottom(4px)
      //min-height: 33em

    background-color: $color-white

    h2
      font-size: 1.5em

    p
      font-size: 1em

  +part(image)

    height: 50vw
    max-height: 672px
    +breakpoint('mobile')
      height: 75vw

    background-position: center center
    background-size: contain
    background-repeat: no-repeat
