+component(package-set-list-block)

  //+shadow
  //+border-radius(4px)
  font-size: 15px
  margin-bottom: 1em
  +breakpoint('mobile')
    margin-bottom: 0

  a
    color: $color-almost-black

  +part(header-content)
    margin: 1em
    margin-bottom: 0.2em
    +breakpoint('mobile')
      margin-bottom: 0

  +part(header-title)
    +trim-word
    font-weight: 400
    letter-spacing: 0.2px

  +part(header-category)
    color: $color-grey
    font-weight: 300
    text-align: right

  +part(central-image)
    +centered
    height: 22vw
    +breakpoint('mobile')
      height: 40vw

    max-height: 672px

    background-position: center center
    background-size: contain
    background-repeat: no-repeat

  +part(footer-content)
    margin: 1em
    margin-top: 0.2em
    margin-bottom: 0

  +part(footer-note)
    color: $color-grey
    font-size: 14px
    +breakpoint('mobile')
      font-size: 12px

  +part(footer-price)
    color: $color-red
    font-weight: 300

    +breakpoint('mobile')
      font-size: 15px

  +part(footer-cart)
    text-align: right
    +breakpoint('mobile')
      padding-right: 0.3em
    a
      color: $color-grey
      +breakpoint('mobile')
        font-size: 16px
      font-size: 22px
      &:hover
        color: $color-blue
      &:focus
        color: $color-blue
