+component(package-set-block)

  +shadow-box

  +part(content)
    padding: 4em
    +centered
    height: 400px
    background-color: $color-white

    h2
      font-size: 35px

    p
      font-size: 13px
      padding-bottom: 1em

  +part(image)
    height: 400px
    background-position: center center
    background-size: cover
