+component(page-navigation)

  //margin-top: 1em
  margin-bottom: 1em
  min-height: 3em
  padding: 0.5em
  font-size: 20px
  a:hover, a:focus
    color: $color-blue
    i
      color: $color-blue

  // +border-radius(3px)
  // +shadow-box

  color: $color-grey

  a
    color: $color-grey
  i
    color: $color-grey

  +part(left)
    margin-top: 0.2em
    ol
      margin-top: 0.4em

  +part(middle)
    +centered
    ol
      text-align: center
    //margin-top: 0.5em

  +part(right)
    float: right
    //margin-top: 0.2em
