+component(product-miniblock)

  +part(image)
    height: 200px
    background-size: cover
    background-position: center center

  +part(content)

    h3
      margin-top: 0.2em
      font-weight: bold
    p
      margin-top: -0.8em

  +part(extra)
    margin-top: -0.8em
