+component(provision)

  font-size: 20px

  +part(title)
    +strong-title

  +part(title-button)
    border-bottom: 1px dashed $color-dark-green
    float: right
    margin-top: 0.9em
    font-size: 15px
    font-weight: normal
    a
      color: $color-dark-green


  +part(orders)

  +part(list)

    +option(green)
      color: $color-dark-green
      font-weight: bold

    +option(blue)
      color: $color-blue
      font-weight: bold

    +option(link)
      border-bottom: 1px dashed $color-dark-green
      padding-bottom: 3px
      font-size: 17px

    +anti-margin

    font-size: 15px
    a
      display: block
    th
      +centered
      padding: 1em
      font-weight: bold
      font-size: 16px

    +part(small)
        width: 10%
    +part(large)
      min-width: 20%

    tr
      border-top: 1px solid $color-grey

    tbody
      tr
        &:hover
          background-color: $color-ultra-light-grey
          cursor: pointer

    td
      +centered
      padding: 1em

    table
      width: 100%
      table-layout: fixed

    thead
      border-top: 1px solid $color-grey

  +part(insight)
    font-size: 20px

  +part(insight-details)
    +anti-margin

    padding-top: 1em
    padding-bottom: 1em
    border-top: 1px solid $color-grey
    border-bottom: 1px solid $color-grey

  +part(insight-details-note)
    color: $color-very-light-grey
    font-size: 14px
    max-width: 150px
    +centered

  +part(insight-details-total-earned)
    text-align: center

    +option(digits)
      color: $color-dark-grey // originally green
      font-weight: bold
      font-size: 24px

  +part(insight-details-current-balance)
    text-align: center
    border-left: 1px solid $color-grey

    +option(digits)
      color: $color-blue
      font-weight: bold
      font-size: 24px
