+component(product-miniblock)

  padding-bottom: 5em
  +breakpoint('mobile')
    min-height: 10em // 35em

  a
    color: $color-dark-grey

  +part(remodal)
    max-width: 300px
    text-align: left

  +part(image)
    height: 130px
    max-width: 300px
    //max-width: 200px
    +background-cover
    +centered

  +part(content)

    h3
      margin-top: 0.2em
      font-weight: bold
      font-size: 20px
    p
      margin-top: -0.8em

  +part(name)

    font-size: 16px
    margin-top: -0.7em

  +part(desc)
    color: $color-light-grey
    font-size: 13px

  +part(extra)
    margin-top: -0.8em
    color: $color-light-grey
