+component(service-infos)

  h1
    font-size: 28px

  +shadow-box
  +border-radius(4px)
  padding: 1.1em
  margin-top: 1em
  margin-bottom: 1em
  text-align: center

  +part(introduction-header)
    color: $color-grey
    text-align: right

  +part(actions)
    hr
      width: 50%
