+component(shop-block)

  +part(container)

    padding: 2em 1em 1em 1em
    margin-top: 1em
    margin-bottom: 1em
    +border-radius(5px)
    +shadow-box

  +part(thumbnail)

    min-height: 280px
    background-size: contain
    background-repeat: no-repeat
    background-position: center center

  +part(button)
    margin-bottom: 1.2em
    margin-right: 1.5em

  +part(title)

    margin: 0
    font-weight: 800
    font-size: 18px

  +part(subtitle)

    margin-top: 0
    font-weight: 400
    font-size: 13px

  +part(items)

  +part(item)
    margin: 0.5em
    min-height: 120px
    background-size: cover
    background-position: center center
