+component(shop-block)

  +part(container)

    padding: 1em 0em 1em 0em
    border-bottom: 1px solid $color-super-light-grey

  +part(thumbnail)

    min-height: 200px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

  +part(button)
    margin-bottom: 1.2em
    margin-right: 1.5em

  +part(title)

    margin: 0
    margin-bottom: 0.5em
    font-weight: 800
    font-size: 18px

  +part(subtitle)

    margin-top: 0
    font-weight: 400
    font-size: 13px

  +part(items)

  +part(item)
    margin-top: 0.5em
    min-height: 120px
    +background-cover
    +breakpoint('mobile')
      //min-height: 20em
