+component(shop-block)

  +part(container)

    padding: 2em 1em 1em 1em
    margin-top: 1em
    margin-bottom: 1em
    border-bottom: 1px solid $color-super-light-grey
    // +border-radius(5px)
    // +shadow-box

  +part(thumbnail)

    min-height: 280px
    +background-cover

  +part(button)
    margin-bottom: 1.2em
    margin-right: 1.5em

  +part(title)

    margin: 0
    margin-bottom: 0.5em
    font-weight: 800
    font-size: 18px

  +part(subtitle)

    margin-top: 0
    font-weight: 400
    font-size: 13px

  +part(items)

  +part(item)
    margin: 0.5em
    min-height: 120px
    +background-cover
    +breakpoint('mobile')
      min-height: 20em
