+component(shop-page-header)

  +cover-block
  // +shadow
  padding: 2em
  min-height: 20em

  h2
    color: $color-white
    text-transform: uppercase

  +part(content)

  h3
    margin-top: 1.5em
    color: $color-white

  +part(content)

  +part(author)
    font-size: 12px
    margin-top: -1em
    text-transform: uppercase

  +part(minimum-order)
    padding-top: 0.5em
    font-weight: 600
    i
      font-size: 20px

  +part(shop)

    background-color: $color-white
    background-position: center center
    background-size: cover
