+component(shop-page-footer)

  //+shadow-box
  color: $color-almost-black
  padding: 2.5em
  margin-bottom: 2em

  h3
    font-weight: bold
    margin-top: 1em
    color: $color-almost-black
    text-transform: uppercase

  +part(content)

    //margin: 0
    //text-align: justify

  +part(images)
    margin: auto

    +option(image)
      +cover-block
      height: 13em
      // width: 13em
      // margin: 1em
      text-align: center
