+component(social-medias)

  img
    +breakpoint('mobile')
      max-width: 70%

  +part(block)
    // padding: 0

  +part(qr-code)
    z-index: 2000

    img
      max-width: 90%
      margin-top: 0.5em
      margin-left: 0.5em

    +shadow-lightbox
    background-color: $color-white

    position: absolute
    top: -115px
    left: 0px
    width: 100px
    height: 100px

  +part(triangle)
    position: absolute
    top: -20px
    left: 43px
    width: 0
    height: 0
    border-style: solid
    border-width: 15px 7.5px 0 7.5px
    border-color: #ffffff transparent transparent transparent
