// this aspire to replace the breadcrumb on the long run
+component(subheader)

  // back icon with text to go back to previous page
  +part(back)
    margin-left: -0.3em // to align with the order-title
    a
      color: $color-very-light-grey
      font-size: 20px
      i
        font-size: 23px
        vertical-align: middle
