// this aspire to replace the breadcrumb on the long run
+component(subheader)

  font-size: 20px
  color: $color-very-light-grey

  a
    color: $color-very-light-grey

  i
    font-size: 23px
    vertical-align: middle

  +part(left)
    margin-left: -0.3em // to align

  +part(right)
    float: right

  +option(highlight)
    color: $color-blue
