<!-- Footer -->
<div class="row +spacer">
</div>

<div class="row js-footer-stick">

<!--
  <h1>Want to know more about us ?</h1>
-->
  <div class="col-md-12 main-footer">

    <div class="main-footer__logo col-md-2 col-md-offset-1">
      <img src="/images/logo-min-white.png">
    </div>

    <div class="col-md-2 col-md-pull-1">

<!--
      <%= render "layouts/footer/parts/last_news" %>
-->

    </div>

    <div class="col-md-2">

      <%= render "layouts/footer/parts/germany_in_the_box" %>

    </div>

    <div class="col-md-2">

      <%= render "layouts/footer/parts/buying_selling_info" %>

    </div>

    <div class="col-md-2">

      <%= render "layouts/footer/parts/language_switch" %>

    </div>

  </div>

</div>
<!-- End of footer -->