<!-- Preloader -->
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'shared/partials/loader', locals: { :options => { :size => :small, :hidden => true } } %>
  </div>
</div>

<!-- Total price and details -->
<div id="cart-total">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "customer/cart/show/total/list", :locals => { :order => order } %>
    </div>
  </div>

  <!-- Apply a coupon -->
  <div class="row">
    <div class="col-md-12 coupon">
      <%= render partial: "customer/cart/show/total/coupon_form", :locals => { :order => order } %>
    </div>
  </div>
</div>
