- if @order_payments.count > 0
  %table.table.cart-table
    %thead
      %th
        Request #
      %th
        Transaction #
      %th
        Merchant #
      %th
        Order #
      %th
        Status
      %th
        Amount
    %tbody
      = render partial: "order_payments", collection: @order_payments, :as => :order_payment

- else
  %h4= I18n.t(:no_applications, scope: :admin_payments)