.row
  .left
    %ul.tabs.chatsbar{"data-tab" => "", :role => "tablist"}
      %li.tab-title.active{:role => "presentational"}
        %a{"aria-selected" => "true", :controls => "panel2-1", :href => "#panel2-1", :role => "tab", :tabindex => "0"} Private Chats
      %li.tab-title{:role => "presentational"}
        %a{"aria-selected" => "false", :controls => "panel2-2", :href => "#panel2-2", :role => "tab", :tabindex => "0"} Public Chats
    .tabs-content
      %section#panel2-1.content.active{"aria-hidden" => "false", :role => "tabpanel"}
        %ul.side-nav
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
      %section#panel2-2.content{"aria-hidden" => "true", :role => "tabpanel"}
        %ul.side-nav
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 33
          %li
            %a{:href => "#"} Link 4
  .large-7.columns.right
    .row
      #frame
        %ul.slidee
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
          %li
            %img{:src => "http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"}/
    .chatting
      .row
        %img.left{:src => "https://s-media-cache-ak0.pinimg.com/avatars/sedramina_1418245716_140.jpg"}/
        %p
          ich minwrf wekmf hast du ?
      .row
        %img.left{:src => "http://s3.favim.com/orig/40/dream-face-fashion-girl-hair-Favim.com-332794.jpg"}/
        %p
          nein ich fofo
      .row
        %img.left{:src => "http://www.fordmodelsblog.com/wp-content/uploads/2013/01/6-BEN_HUNTER_FASHION_FOR_MEN_MILAN_VUKMIROVIC.jpg"}/
        %p
          a7a la msh kda
      .row
        %img.left{:src => "https://s-media-cache-ak0.pinimg.com/avatars/sedramina_1418245716_140.jpg"}/
        %p
          bye bye roo
      .row
        %textarea{:cols => "50", :rows => "4"}
          :preserve
            
                        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                        %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
%script{:src => "http://darsa.in/sly/js/sly.min.js"}
:javascript
  jQuery(function ($) {

      $('#frame').sly({
          horizontal: 4,

          itemNav: 'forceCentered',
          smart: 1,
          activateOn: 'click',

          scrollBy: 1,

          mouseDragging: 1,
          swingSpeed: 0.2,

          scrollBar: $('.scrollbar'),
          dragHandle: 1,

          speed: 600,
          startAt: 4
      });

  });
