<div class="row">
  <div class="left">


    <ul class="tabs chatsbar" data-tab role="tablist">
      <li class="tab-title active" role="presentational">
        <a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Private Chats</a></li>
      <li class="tab-title" role="presentational">
        <a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-2">Public Chats</a></li>

    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <ul class="side-nav">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
        <ul class="side-nav">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 33</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </section>

    </div>

  </div>
  <div class="large-7 columns right">

    <div class='row'>

      <div id="frame">
        <ul class="slidee">
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
          <li>
            <img src="http://www.breeze-animation.com/wp-content/uploads/2013/06/icon-product-gray.png"></img></li>
        </ul>
      </div>
    </div>

    <div class="chatting">
      <div class="row">
        <img src="https://s-media-cache-ak0.pinimg.com/avatars/sedramina_1418245716_140.jpg" class="left">

        <p>
          ich minwrf wekmf hast du ?
        </p>
      </div>


      <div class="row">
        <img src="http://s3.favim.com/orig/40/dream-face-fashion-girl-hair-Favim.com-332794.jpg" class="left">

        <p>
          nein ich fofo
        </p>
      </div>


      <div class="row">
        <img src="http://www.fordmodelsblog.com/wp-content/uploads/2013/01/6-BEN_HUNTER_FASHION_FOR_MEN_MILAN_VUKMIROVIC.jpg" class="left">

        <p>
          a7a la msh kda </p>
      </div>


      <div class="row">
        <img src="https://s-media-cache-ak0.pinimg.com/avatars/sedramina_1418245716_140.jpg" class="left">

        <p>
          bye bye roo</p>
      </div>


      <div class="row">
          
            <textarea rows="4" cols="50">
            At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
            </textarea>


      </div>
    </div>

  </div>


</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://darsa.in/sly/js/sly.min.js"></script>
<script>
    jQuery(function ($) {

        $('#frame').sly({
            horizontal: 4,

            itemNav: 'forceCentered',
            smart: 1,
            activateOn: 'click',

            scrollBy: 1,

            mouseDragging: 1,
            swingSpeed: 0.2,

            scrollBar: $('.scrollbar'),
            dragHandle: 1,

            speed: 600,
            startAt: 4
        });

    });
</script>