.page-header
  = link_to chats_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_chat_path(@chat), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show chat
%dl.dl-horizontal
  %dt Name:
  %dd= @chat.name
  %dt Desc:
  %dd= @chat.desc
