<div class="row">
  <!-- Data needed for the payment checkout -->
  <%= content_tag(:div, nil, :id => "bank-details", :data => @wirecard.hosted_payment_datas.compact) %>
</div>

<div class="row message">
  <div class="col-md-8 col-md-push-2 col-md-pull-2 message__neutral">
  You are being redirected to our checkout service, please wait ...
  </div>
</div>
