<div class="row">
  <!-- Data needed for the payment service -->
  <%= content_tag(:div, nil, :id => "bank-details", :data => @wirecard.hosted_payment_datas) %>
</div>

<div class="row message">
  <div class="col-md-8 col-md-push-2 col-md-pull-2 message__neutral">
    <%= I18n.t(:redirect_to_payment, scope: :checkout) %>
  </div>
</div>
