<a href="<%= show_products_in_category_path(category) %>">
  <div class="col-md-6 category-blocks__block">
    <div class="category-blocks__block --<%= category.slug %> +centered">
      <img src="/images/categories/<%= category.slug %>.png">
      <h2><%= category.name %></h2>
    </div>
  </div>
</a>