        <ul id="js-slider">

          <!-- Image 1 -->
          <li>
            <div class="slider__image" style="background-image: url('http://o6n7omia8.bkt.clouddn.com/3.jpg')" >
              <div class="slider__content"></div>
            </div>
          </li>

          <!-- Image 2 -->
          <li>
            <div class="slider__image" style="background-image: url('http://o6n7omia8.bkt.clouddn.com/6.jpg')" >
              <div class="slider__content"></div>
            </div>
          </li>

        </ul>

        <div class="slider__bottom-border">
        </div>