  <!DOCTYPE html>
  <html lang ="en">
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="csstyle">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <div class="container-fluid">

      <!-- Header -->
      <div class="row">
      <div class="+spacer"></div>
      </div>

      <!-- Main menu + Logo -->
      <div class="row main-menu">

        <!-- Menu area -->
        <div class="col-md-4 +vertical-centered">
          <div class="+centered +strong"><span class=""><i class="fa fa-shopping-cart"></i></span> 5 products in my cart</div>
        </div>

        <div class="col-md-4">
          
          <!-- Logo -->
          <div class="logo +centered">
            <img src="/assets/logo-half.png">
          </div>

        </div>
        <div class="col-md-4">

          <!-- Research area -->
          <div class="+vertical-centered">
            <div class="col-md-4"><span class="+blue"><i class="fa fa-search"></i></span> Search</div>
            <div class="col-md-4"><span class="+red"><i class="fa fa-heart"></i></span> Like</div>
            <div class="col-md-4"><span class=""><i class="fa fa-user"></i></span> Account</div>
          </div>

        </div>
      </div>

      <div class="+spacer"></div>

      <!-- Customer Menu -->
      <div class="row product-menu">

        <div class="col-md-10 col-md-push-1 col-md-pull-1">

          <nav id="nav">
            <ul id="navigation">

              <li class="col-md-2">

                Product

                <ul>

                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>

                </ul>

              </li>

              <li class="col-md-2">

                Product

                <ul>

                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>

                </ul>

              </li>


              <li class="col-md-2">

                Product

                <ul>

                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  
                </ul>

              </li>


              <li class="col-md-2">

                Product

                <ul>

                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  
                </ul>

              </li>


              <li class="col-md-2">

                Product

                <ul>

                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  
                </ul>

              </li>

              <li class="col-md-2">

                Product

                <ul>

                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  <li>
                    <a href="#">SubProduct</a>
                  </li>
                  
                </ul>

              </li>

                </ul>
              </nav>

<!--
          <div class="col-md-2">Product</div>
          <div class="col-md-2">Product</div>
          <div class="col-md-2">Product</div>
          <div class="col-md-2">Product</div>
          <div class="col-md-2">Product</div>
          <div class="col-md-2">Product</div>
-->
        </div>

      </div>

      <!-- Content -->
      <div class="row">
        CONTENT
      </div>

      <!-- Footer -->
      <div class="row">

        <div class="col-md-12 main-footer">

          <div class="col-md-4">
            LOGO HERE
          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>


          </div>

        </div>

      </div>

    </div>

    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "app" %>
    <script>
      //require('javascripts/initialize');
    </script>

    <%= stylesheet_link_tag "application", :media => "all" %>


  </body>
  </html>