<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>Gebühren und Rechnungen in Germany In The Box</h1>

  <div class="page-static__text">
    
    Die Rechnung von dem Betreiber an Verkäufer setzt sich aus drei Teilen zusammen: <b>Einstellgebühr</b>, <b>Verkaufsprovision</b> sowie <b>Vorschuss</b>.

    • Einstellgebühr(falls anwendbar): 0,25€ pro Artikel für 120 Tage Laufzeit

    • Verkaufsprovision: 15% des Hersteller-Preises

    • Vorschuss von GBox: die internationalen Versandkosten ab Lagerhaus in Frankfurt und die Einfuhrsteuern in China. <b>Achtung:</b> Diesen Vorschuss leistet die GBox für die Einfuhrabwicklung in China für den Endkunden, um den Einkaufprozess so angenehm wie möglich für ihn zu gestalten. Der Verkäufer erhält den gesamten Verkaufserlös (inkl. des Vorschusses) von dem Endkunden. Der Verkäufer hat diesen Vorschuss nicht geleistet, jedoch an GBox bei der Abrechnung nach dem Verkauf zurück zu geben. 



    <b>Laufzeit für die eingestellten Artikel:</b>

    Das Einstellen in GBox wird enden, entweder alle Artikel von dem Einstellen verkauft werden oder Sie es manuell beenden.

    Die Laufzeit kann bei jedem Einstellen automatisch um weitere 120 Tage verlängert werden oder nur  120 Tage dauern. Beim vorzeitigen Beenden der Einstellung wird die Einstellgebühr nicht zurückerstattet.


    <b>Zahlungsbedingungen:</b>

    Ist der Verkauf erfolgreich, bekommen Sie innerhalb 7 Werktage nach jedem Verkauf von unserem Payment Service Provider(PSP) den gesamten Verkaufserlös, inklusiv internationale Versandkosten und Vorschuss, in Euro ausgezahlt. Wir stellen Verkäufern monatlich eine Rechnung per E-Mail bevor wir die Rechnung per Lastschrift einziehen. Alle Gebühren können nur per SEPA-Lastschrift bezahlt werden.

    Beispiel: Sie stellen ein Produkt zum Herstellerpreis von €50 auf GBox für 120 Tage ein. Die Versandkosten und Einfuhrsteuer zusammen betragen €16 pro Artikel. Wenn ein Produkt über GBox verkauft wird, bekommen Sie €66 durch den PSP (abgesehen von der geringen Währungsschwankung) von Endkunden ausgezahlt. Wir stellen Ihnen €23,75 (€7,5 Verkaufsprovision + €0,25 Einstellgebühr + €16 Vorschuss) in die Rechnung. Im diesen Beispiel, <b>bei einem Einstellpreis von €50 realisieren Sie als Hersteller am Ende einen Nettoerlös i.H.v. €42,25 netto</b>. 

    <b>Zahlungsmethoden für Gebühren:</b>

    Verkäufer müssen die Rechnungen per SEPA-Firmen-Lastschrift begleichen. 

    <b>Umsatzsteuer bei Export:</b>

    Da Ihre Produkte über uns ins EU-Ausland verkauft werden, entfällt hier die Umsatzsteuer. Wir übernehmen die Exportabwicklung und geben die Ausfuhrbescheinigungen an Sie weiter, die Sie dem FA vorlegen können. 

  </div>

</div>

