%html
  %head
    %meta{:content => "origin", :name => "referrer"}
      %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
      %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
      %title
  %body{:style => "background:#edefed"}
    %div{:style => "margin:30px; padding:20px; background:#ffffff"}
      %pre{:style => "white-space: pre-wrap"}
        :preserve
          <h1 style="text-align: center">Gebühren und Rechnungen in Rhein-Manufaktur</h1>

          
          
          Die Rechnung von dem Betreiber an Verkäufer setzt sich aus drei Teilen zusammen: Einstellgebühr, Verkaufsprovision sowie Vorschuss

          Einstellgebühr: 0,25€ pro Artikel für 120 Tage Laufzeit

          Verkaufsprovision: 15% des Hersteller-Preises

          Vorschuss: die internationalen Versandkosten ab Lagerhaus Frankfurt und die Einfuhrsteuern in China

          Laufzeit für die eingestellten Artikel:

          Das Einstellen in RM wird enden, entweder alle Artikel von dem Einstellen verkauft werden oder Sie es manuell beenden.

          Die Laufzeit kann bei jedem Einstellen automatisch um weitere 120 Tage verlängert werden oder nur  120 Tage dauern. Beim vorzeitigen Beenden der Einstellung wird die Einstellgebühr nicht zurückerstattet.

          Zahlungsbedingungen:

          Ist der Verkauf erfolgreich, bekommen Sie innerhalb 7 Werktage nach jedem Verkauf von unserem Payment Service Provider(PSP) den gesamten Verkaufserlös, inklusiv internationale Versandkosten und Vorschuss, in Euro ausgezahlt. Wir stellen Verkäufern monatlich eine Rechnung per E-Mail bevor wir die Rechnung per Lastschrift einziehen. Alle Gebühren können nur per SEPA-Lastschrift bezahlt werden.

          Beispiel: Sie stellen ein Produkt zum Preis von 50 € auf RM für 120 Tage ein. Die Versandkosten und Einfuhrsteuer betragen 16 € pro Artikel. Wenn das Produkt über RM verkauft wird, bekommen Sie 66 € von dem PSP (abgesehen von der geringen Währungsschwankung). Wir stellen Ihnen 23,75 € (7,5 € Verkaufsprovision + 0,25 € Einstellgebühr + 16 € Vorschuss) in die Rechnung.

          Zahlungsmethoden für Gebühren:

          Verkäufer müssen alle Gebühren per SEPA-Firmen-Lastschrift begleichen. 

          Umsatzsteuer bei Export:

          Da Ihre Produkte über uns ins EU-Ausland verkauft werden, entfällt hier die Umsatzsteuer. Wir übernehmen die Exportabwicklung und geben die Ausfuhrbescheinigungen an Sie weiter, die Sie dem FA vorlegen können. 

 
  
 



