<!-- Slider -->
<div class="row slider">

  <!--
  = render partial: "pages/slider"
  -->

</div>

<!-- Products List -->
<div class="products-list">

  <% if seems_like_a_customer? %>

  <div class="row +centered">
    <h1>
    <br />
    HERE WE SHOW 3 COOL STEPS
    <br />
    <br />
    </h1>
  </div>

  <div class="+spacer"></div>

  <div class="row">

    <div class="col-md-10 col-md-push-1 col-md-pull-1">
      <%= render partial: "products/products_list", :locals => { :products => @products } %>
    </div>

  </div>

  <% end %>
  
</div>