<!-- Slider -->
<div class="row slider">

  <!-- No slider anymore -->
  <!--
  = render partial: "pages/slider"
  -->

</div>

<!-- Slider -->
<div class="row home-steps">

  <div class="+centered">
    <h1 style="color:white;">
    HERE WE SHOW 3 COOL STEPS
    </h1>
  </div>

</div>


<% if seems_like_a_customer? %>

  <div class="row shops-list">

    <div class="+spacer"></div>

    <div class="col-md-8 col-md-push-2 col-md-pull-2">
      <%= render partial: "shops/shops_list", :locals => { :shops => @shops } %>
    </div>

    
  </div>


  <!-- Products List -->
<!--
  <div class="row products-list">

    <div class="+spacer"></div>

    <div class="col-md-10 col-md-push-1 col-md-pull-1">
       render partial: "products/products_list", :locals => { :products => @products }
    </div>

    
  </div>
-->
<% else %>

<div class="row">
  WE SHOULD PUT SOMETHING HERE FOR THE SHOPKEEPERS
</div>

<% end %>