<!-- Slider -->
<!--
<div class="row slider">

  = render partial: "pages/slider"

</div>
-->
<!-- Slider -->
<!--
<div class="row home-steps">

  <div class="+centered">
    <h1 style="color:white;">
    HERE WE SHOW 3 COOL STEPS
    </h1>
  </div>

</div>
-->

<% if potential_customer? %>

  <%= render "pages/home/categories" %>

<% else %>

  <%= render "pages/home/marketplace" %>

<% end %>
