<!-- Slider -->
<!--
<div class="row slider">

  = render partial: "pages/slider"

</div>
-->
<!-- Slider -->
<!--
<div class="row home-steps">

  <div class="+centered">
    <h1 style="color:white;">
    HERE WE SHOW 3 COOL STEPS
    </h1>
  </div>

</div>
-->

<% if seems_like_a_customer? %>

  <div class="+spacer"></div>

  <div class="col-md-8 col-md-push-2 col-md-pull-2 category-blocks">

    <% @categories.in_groups_of(2, false).each do |category_groups| %>

    <div class="row">

      <% category_groups.each do |category| %>

      <%= render partial: "pages/home_category_block", :locals => {:category => category} %>

      <% end %>

    </div>

    <% end %>

  <div class="+spacer"></div>

</div>

<% else %>

  <%= render "pages/home_marketplace" %>

<% end %>