
      <!-- Slider -->
      <div class="row slider">

        <%= render partial: "pages/slider" %>

      </div>

      <!-- Products List -->
      <div class="products-list">

        <div class="row">
        <h1>Our best selection ...</h1>
        </div>

        <div class="+spacer"></div>

        <%= render partial: "pages/products_list" %>
        
      </div>