.top-area
  #owl-carousel-slider.owl-carousel.owl-slider{"data-inner-pagination" => "true", "data-white-pagination" => "true"}
    %div
      .bg-holder
        = image_tag "couponia/1200x480.png" , :alt => "Image Alternative text", :title => "Branding  iPad Interactive Design"
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc New Bloke Collection
          %p.text-bigger Egestas et est aenean ipsum lorem fringilla
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "couponia/1200x480.png" , :alt => "Image Alternative text", :title => "Hot mixer" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Modern DJ Sets
          %p.text-bigger Justo cursus ridiculus erat et varius est
          %p.text-hero Save up to 70%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "couponia/1200x480.png" , :alt => "Image Alternative text", :title => "iPhone 5 iPad mini iPad 3" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Gatgets Giveaway
          %p.text-bigger Erat lacus praesent montes aptent eget venenatis
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now