<!-- Slider -->
<!--
<div class="row slider">

  = render partial: "pages/slider"

</div>
-->
<!-- Slider -->
<!--
<div class="row home-steps">

  <div class="+centered">
    <h1 style="color:white;">
    HERE WE SHOW 3 COOL STEPS
    </h1>
  </div>

</div>
-->

<% if seems_like_a_customer? %>

  <div class="+spacer"></div>

  <div class="col-md-8 col-md-push-2 col-md-pull-2 category-blocks">

    <div class="row">

      <a href="#">
      <div class="col-md-6 category-blocks__block">
        <div class="category-blocks__block --food +centered">
        <img src="/images/categories/food.png">
        <h2>Food</h2>
        </div>
      </div>
      </a>

      <a href="#">
      <div class="col-md-6 category-blocks__block">
        <div class="category-blocks__block --medicine +centered">
        <img src="/images/categories/medicine.png" >
        <h2>Medicine</h2>
        </div>
      </div>
      </a>

    </div>

    <div class="row">

      <a href="#">
      <div class="col-md-6 category-blocks__block">
        <div class="category-blocks__block --cosmetics +centered">
        <img src="/images/categories/cosmetics.png">
        <h2>Cosmetics</h2>
        </div>
      </div>
      </a>

      <a href="#">
      <div class="col-md-6 category-blocks__block">
        <div class="category-blocks__block --fashion +centered">
        <img src="/images/categories/fashion.png">
        <h2>Fashion</h2>
        </div>
      </div>
      </a>

    </div>

  </div>

  <div class="+spacer"></div>

  <!--
  = render partial: "shops/shops_list", :locals => { :shops => @shops }
  -->

  <!-- Products List -->
<!--
  <div class="row products-list">

    <div class="+spacer"></div>

    <div class="col-md-10 col-md-push-1 col-md-pull-1">
       render partial: "products/products_list", :locals => { :products => @products }
    </div>

    
  </div>
-->
<% else %>

  <%= render "pages/home_marketplace" %>

<% end %>