
      <!-- Slider -->
      <div class="row slider">

        <ul id="js-slider">

          <!-- Image 1 -->
          <li>
            <div class="slider__image" style="background-image: url('/assets/slider/1.jpg')" >
              <div class="slider__content"></div>
            </div>
          </li>

          <!-- Image 2 -->
          <li>
            <div class="slider__image" style="background-image: url('/assets/slider/2.jpg')" >
              <div class="slider__content"></div>
            </div>
          </li>

        </ul>

        <div class="slider__bottom-border">
        </div>

      </div>

      <div class="products-list">

        <div class="row">
        <h1>Our best selection ...</h1>
        </div>

        <div class="+spacer"></div>

        <div class="row">

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>


        </div>

        <div class="+spacer"></div>

        <div class="row">

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

        </div>
        
      </div>