<!-- Slider -->
<!--
<div class="row slider">

  = render partial: "pages/slider"

</div>
-->
<!-- Slider -->
<!--
<div class="row home-steps">

  <div class="+centered">
    <h1 style="color:white;">
    HERE WE SHOW 3 COOL STEPS
    </h1>
  </div>

</div>
-->

<% if seems_like_a_customer? %>

  <div class="row shops-list">

    <div class="+spacer"></div>
    <div class="+spacer"></div>

    <div class="col-md-8 col-md-push-2 col-md-pull-2">
      <%= render partial: "shops/shops_list", :locals => { :shops => @shops } %>
    </div>

    
  </div>

  <!-- Products List -->
<!--
  <div class="row products-list">

    <div class="+spacer"></div>

    <div class="col-md-10 col-md-push-1 col-md-pull-1">
       render partial: "products/products_list", :locals => { :products => @products }
    </div>

    
  </div>
-->
<% else %>

<div class="row">

  <div class="+centered home-marketplace">

    <div class="row home-marketplace__first">

    <h2>We are marketplace.</h2>

    <div class="row col-md-6 col-md-push-3 col-md-pull-3 home-marketplace__first --paragraphs">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla nibh et elit facilisis feugiat. Phasellus in dictum augue. Nunc euismod vel ex a euismod. Fusce viverra magna quis quam scelerisque, id sollicitudin neque ultricies.
    </div>

    <div class="+spacer"></div>

    <div class="row col-md-8 col-md-push-2 col-md-pull-2">
    <img src="assets/germany-in-the-box-marketplace.png" width="900px">
    <div class="+spacer"></div>
    </div>

    </div>

    <div class="row home-marketplace__second">

    <h2>We take care of everything.</h2>
    <div class="+spacer"></div>

    <div class="col-md-10 col-md-push-1 col-md-pull-1 home-marketplace__second --paragraphs">

    <div class="col-md-4">

    <h3>Title</h3>
    <div class="+spacer"></div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla nibh et elit facilisis feugiat. Phasellus in dictum augue. Nunc euismod vel ex a euismod. Fusce viverra magna quis quam scelerisque, id sollicitudin neque ultricies. Aliquam erat volutpat. Suspendisse auctor, nisl at mattis pellentesque, nisl odio varius nisi, sagittis commodo mi mauris eget ipsum. Maecenas ac egestas dolor. Cras magna arcu, faucibus at venenatis non, tincidunt sed ante

    </div>

    <div class="col-md-4">
    
    <h3>Title</h3>
    <div class="+spacer"></div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla nibh et elit facilisis feugiat. Phasellus in dictum augue. Nunc euismod vel ex a euismod. Fusce viverra magna quis quam scelerisque, id sollicitudin neque ultricies. Aliquam erat volutpat. Suspendisse auctor, nisl at mattis pellentesque, nisl odio varius nisi, sagittis commodo mi mauris eget ipsum. Maecenas ac egestas dolor. Cras magna arcu, faucibus at venenatis non, tincidunt sed ante

    </div>

    <div class="col-md-4">
    
    <h3>Title</h3>
    <div class="+spacer"></div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla nibh et elit facilisis feugiat. Phasellus in dictum augue. Nunc euismod vel ex a euismod. Fusce viverra magna quis quam scelerisque, id sollicitudin neque ultricies. Aliquam erat volutpat. Suspendisse auctor, nisl at mattis pellentesque, nisl odio varius nisi, sagittis commodo mi mauris eget ipsum. Maecenas ac egestas dolor. Cras magna arcu, faucibus at venenatis non, tincidunt sed ante

    </div>

    </div>

    </div>

    <div class="+spacer"></div>
    <div class="+spacer"></div>
    <div class="+spacer"></div>

  </div>

</div>

<% end %>