<!-- Slider -->
<div class="row slider">

  <!--
  = render partial: "pages/slider"
  -->

</div>

<!-- Slider -->
<div class="row home-steps">

  <div class="+centered">
    <h1>
    HERE WE SHOW 3 COOL STEPS
    </h1>
  </div>

</div>

<!-- Products List -->
<div class="row products-list">

  <div class="+spacer"></div>

  <% if seems_like_a_customer? %>

  <div class="col-md-10 col-md-push-1 col-md-pull-1">
    <%= render partial: "products/products_list", :locals => { :products => @products } %>
  </div>

  <% end %>
  
</div>