<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>Impressum</h1>

  <pre>

    Angaben gem. § 5 TMG
    Betreiber: DigPanda GmbH

    Pflugstraße 4
    D-80331 München

    Tel: +49 89 2193 4711
    E-Mail: info@digpanda.com


    Vertretung:
    Geschäftsführer: Dr. Sha He
    Registergericht: Amtsgericht München
    Registernummer: HRB 211133
    Umsatzsteuer-ID: DE294808567

    Verantwortlich für den Inhalt der Seiten im Sinne des § 5 TMG und des § 55 II RStV: Dr. Sha He

    Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. 
    
  </pre>

</div>