%html
  %head
    %meta{:content => "origin", :name => "referrer"}
      %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
      %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
      %title
  %body{:style => "background:#edefed"}
    %div{:style => "margin:30px; padding:20px; background:#ffffff"}
      %pre{:style => "white-space: pre-wrap"}
        :preserve
          <h1 style="text-align: center">Verkaufen auf GBox</h1>

 
          Sind Sie ein deutscher Hersteller und möchten Ihre tollen Produkte auf eine direkte Weise an Endverbrauchern in China verkaufen? Wenn ja, möchten wir Sie herzlich einladen, die erste deutsch-chinesische M2C Produktplattform Germany In The Box zu benutzen. Folgen Sie bitte den folgenden Schritten, um Ihre Produkte auf GBox den chinesischen Verbrauchern zu präsentieren und verkaufen. Sie werden sehen, dass es überraschend einfach ist.
           

          1. Informationsauskunft über Ihr Unternehmen
           
          Auf unseren Seite <font color="blue">www.germanyinthebox.com</font> finden Sie auf unten rechts den Link <font color="blue">Verkäufer werden</font>. Auf dieser Seite geben Sie bitte die Auskunft über Ihren Unternehmen und Ihre Marke an. Diese Informationen werden später von uns übersetzt und fließen in die Beschreibung über Ihren Shop auf GBox rein. Bitte bedenken Sie, dass Ihre potenziellen Endraucher in China Ihre Marke und Produkte vermutlich noch nicht kennen. Deshalb je genauer und detaillierter Sie über Ihr Unternehmen und Ihre Marke erzählen können, desto präziser werden wir sie den Endverbrauchern präsentieren können.
           
          
          2. Einladung mit Zugangscode
           
          Anschließend befassen sich unsere Mitarbeiter mit den angegebenen Informationen. Gegebenenfalls werden wir den Ansprechpartner telefonisch kontaktieren, um mehr über Ihr Unternehmen zu erfahren. Wir werden alle Informationen in die Betracht ziehen, um unter relevanten Gesichtspunkten (Nachfrage, Warenwert, Importsteuer, logistische Aufwand, etc.) zu beurteilen, ob Ihre Produkte sich mit unseren Geschäftsmodell erfolgreich nach China verkaufen lassen würden. Werden wir davon überzeugt, senden wir Ihnen schnellst möglich die Einladung zur Registrierung mit einem Zugangscode.
           
          
          3. Verkäuferkonto einrichten und Produkte hochladen
            
          Mit dem Zugangspasswort können Sie sich unter dem Link <font color="blue">Einloggen</font> einloggen. Dort finden Sie die AGB zur Nutzung der GBox. Nach der Zustimmung der <font color="blue">AGB</font> haben Sie nun die Möglichkeit, notwendige Informationen zu Ihrem Betrieb zu vervollständigen (z.B. Ust-ID, EORI-Nummer, etc). Diese Informationen werden im Verkaufsprozess benötigt.
           
          Danach können Sie Ihre Produkte mit den entsprechenden Informationen (Namen, Beschreibung, Bilder, etc.) hochladen. Sie können Produktvarianten von einem Produkt kreieren, z.B. in drei Farben oder in vier Größen. Anschließend übersetzen unsere Mitarbeiter diese Informationen ins Chinesisch und schalten Ihren Shop und Ihre Produkte auf GBox ein. Nun können chinesische Endverbraucher sich von Ihrem Shop und Produkten beeindrucken lassen.
           
          
          4. Bestellung und Versenden
           
          Bestellt ein Verbraucher Ihre Produkte auf GBox, ermittelt GBox die internationale Transportkosten und einschlägige Importsteuern.  Nachdem der chinesische Käufer die Zahlung betätigt hat, senden wir Ihnen die Versandlabels. Sie verpacken die bestellten Produkte in ein Paket und bringen die Versandlabels ans Paket an. Dieses Paket verbindet Sie direkt mit Ihrem Kunden/Kundin in fernen Land der Mitte. Wenn Sie Möglichkeit hätten, legen Sie einpaar Gummibärchen oder eine kleine handgeschriebene Karte neben Ihren tollen Produkten ins Paket. Jeder Kunde würde sich über eine kleine nette Geste aus 10.000 Kilometern freuen. Sie bringen das Paket zur Post oder lassen es von Ihren Paketdienst abholen. Ab geht die Sendung nach China an den Endkunden.
           
          
          5. Zahlung und Rechnung
           
          Nachdem der Endkunde die Bestellung angenommen und akzeptiert hat, zahlt unser Payment Service Provider (PSP) den Verkaufserlös auf von Ihnen angegebenes Konto aus. Wir stellen unsere Gebühren Ihnen in die Rechnung.











 
          
           
           
           
  
 




