<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <!-- Shop Blocks -->
  <div class="shop-page">

    <div class="row">
      <!-- Shop Header -->
      <%= render partial: "guest/shops/show/header", :locals => { :shop => @shop } %>
    </div>

    <div class="+spacer"></div>

    <div class="row +nomargin">
      <!-- Products list -->
      <%= render partial: "guest/shops/show/products_list", :locals => { :products => @shop.products.can_show.by_brand } %>
    </div>

    <div class="+spacer"></div>

    <div class="row">
      <!-- Shop Footer -->
      <%= render partial: "guest/shops/show/footer", :locals => { :shop => @shop } %>
    </div>

    <div class="+spacer"></div>

  </div>
  <!-- End of Shop Blocks -->

</div>
