<!-- Desktop header -->
<div class="navbar-top">
  <%= render partial: "layouts/customer/header/desktop" %>
</div>

<!-- Mobile header -->
<div>
  <%= render partial: "layouts/customer/header/mobile" %>
</div>
