<div class="+spacer"></div>

<% if guest_path? %>
  <%= render partial: "layouts/customer/subheader/stickers" %>
<% end %>

<%= render partial: "layouts/customer/subheader/messages" %>
<%= render partial: "layouts/customer/subheader/breadcrumb" %>
