<div class="col-md-3">
  <aside class="sidebar-left">
    <ul class="nav nav-pills nav-stacked nav-arrow">
      <%= render partial: "layouts/#{solve_section}/submenu/list" %>
    </ul>
  </aside>
</div>
