<div class="+big-spacer"></div>

<% if guest_path? %>
  <!-- <% render partial: "layouts/customer/subheader/stickers" %> -->
<% end %>

<%= render partial: "layouts/customer/subheader/messages" %>
<%= render partial: "layouts/customer/subheader/breadcrumb" %>
<%= render partial: "layouts/customer/subheader/back_to_top" %>
