#
# Sample of new structure made by Laurent on 28th April 2016
# We that we should be able to convert my_controller/my_method.json
# To api/v1/my_controller/my_method and we don't need to specify respond_to
#

  concern :shared_products do
    match 'remove_sku/:sku_id',                     via: [:delete], to: :remove_sku,                  as: :remove_sku,                  :on => :member
    match 'remove_variant/:variant_id',             via: [:delete], to: :remove_variant,              as: :remove_variant,              :on => :member
    match 'remove_option/:variant_id/:option_id',   via: [:delete], to: :remove_option,               as: :remove_option,               :on => :member
    match :get_sku_for_options,                     via: [:get],    to: :get_sku_for_options,         as: :get_sku_for_options,         :on => :member
    match :like_product,                            via: [:patch],  to: :like_product,                as: :like_product,                :on => :member
    match :dislike_product,                         via: [:patch],  to: :dislike_product,             as: :dislike_product,             :on => :member
    match :show_skus,                               via: [:get],    to: :show_skus,                   as: :show_skus,                   :on => :member
    match :new_sku,                                 via: [:get],    to: :new_sku,                     as: :new_sku,                     :on => :member
    match :edit_sku,                                via: [:get],    to: :edit_sku,                    as: :edit_sku,                    :on => :member
    match :clone_sku,                               via: [:get],    to: :clone_sku,                   as: :clone_sku,                   :on => :member

    match :autocomplete_product_name,               via: [:get],    to: :autocomplete_product_name,   as: :autocomplete_product_name,   :on => :collection
    match 'search',                                 via: [:get],    to: :search,                      as: :search,                      :on => :collection
    match :popular,                                 via: [:get],    to: :popular,                     as: :popular,                                  :on => :collection
  end

  resources :products, except: [:index, :new] do
    concerns :shared_products
  end


  namespace :api, defaults: { format: 'json' }  do
    namespace :v1 do

      resources :products do 
        concerns :shared_products
      end

    end

  end


# There should be a folder structure for the controllers such as
# controllers/api/v1/products_controller.rb

class Api::V1::ProductsController < ProductsController

end

# The view should be generated in
# views/api/v1/products/popular.json.jbuilder (for instance)