<div class="col-xs-6 col-md-3">

  <div class="service-list-block">
    <a class="package-select" href="<%= guest_service_path(service) %>">

      <!-- IMAGE -->
      <div class="row">
        <div class="col-xs-12">
          <div class="service-list-block__central-image lazy" data-original="<%= service.cover %>" style="background-image:url('/images/grey.jpg');">
          </div>
        </div>
      </div>

      <!-- FOOTER CONTENT -->
      <div class="row">
        <div class="col-xs-12">
          <div class="service-list-block__footer-content">

            <div class="row">
              <div class="col-xs-12 +nopadding">
                <div class="service-list-block__header-title">
                  <%= service.name %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 +nopadding">
                <%= truncate service.desc, length: 100 %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </a>
  </div>
</div>
