<h3><%= I18n.t(:buying, scope: :footer) %></h3>
<ul>
  <li>
    <%= link_to I18n.t(:buyer_guide, scope: :footer), customer_guide_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t(:buyer_qa, scope: :footer), customer_qa_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t(:buyer_agb, scope: :footer), customer_agb_guest_pages_path %>
  </li>
  <li>
    <%#= link_to I18n.t(:shipping_price, scope: :footer), shipping_cost_guest_pages_path %>
  </li>
</ul>
