<h3><%= I18n.t('footer.buying') %></h3>
<ul>
  <li>
    <%= link_to I18n.t('footer.buyer_guide'), customer_guide_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t('footer.buyer_qa'), customer_qa_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t('footer.buyer_agb'), customer_agb_guest_pages_path %>
  </li>
  <li>
    <%#= link_to I18n.t('footer.shipping_price'), shipping_cost_guest_pages_path %>
  </li>
</ul>
