<h3><%= I18n.t('footer.germany_in_the_box') %></h3>
<ul>
  <li>
    <%= link_to I18n.t('footer.publicity'), publicity_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t('footer.privacy_statement'), privacy_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t('footer.imprint'), customer_about_guest_pages_path %>
  </li>
</ul>
