<h3><%= I18n.t(:germany_in_the_box, scope: :footer) %></h3>
<ul>
  <li>
    <%= link_to I18n.t(:publicity, scope: :footer), publicity_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t(:privacy_statement, scope: :footer), privacy_guest_pages_path %>
  </li>
  <li>
    <%= link_to I18n.t(:imprint, scope: :footer), customer_about_guest_pages_path %>
  </li>
</ul>
