<% if current_user.nil? %>
  <div class="row">
    <h3>
    <%= link_to "Möchten Sie unser Partner werden?", language_path("de"), method: :put %>
    </h3>
  </div>
  <div class="row"><%= link_to "Partner-Hersteller Werden", language_path("de"), method: :put %></div>
  <div class="row"><%= link_to "Einloggen als Verkäufer", language_path("de", location: new_user_session_path), method: :put %></div>
<% end %>
