<div class="row"><h3><%= I18n.t(:partners, scope: :title) %></h3></div>

<div class="row"><%= link_to I18n.t(:ihk_munchen, scope: :footer), "https://www.ihk-muenchen.de/de/", target: "_blank" %></div>

<div class="row"><%= link_to I18n.t(:icp_registration, scope: :footer) %></div>
