<h3><%= I18n.t(:partners, scope: :title) %></h3>
<ul>
  <!-- <li>
    <%= link_to I18n.t(:ihk_munchen, scope: :footer), "https://www.ihk-muenchen.de/de/", target: "_blank" %>
  </li> -->
  <li>
    <%= link_to I18n.t(:icp_registration, scope: :footer) %>
  </li>
  <li>
    <a href="<%= language_path("de") %>">Verkäufersportal</a>
  </li>
</ul>
