<div class="row">

<div class="col-md-10 payment-methods">
  <h3><%= I18n.t(:payment_methods, scope: :footer) %></h3>

  <div class="+small-spacer"></div>

  <div class="row">
    <div class="col-md-6 payment-methods__block --visa">
      <img src="/images/logos/visa-logo-white.png">
    </div>
    <div class="col-md-6 payment-methods__block --chinaunionpay">
      <img src="/images/logos/chinaunionpay-logo-white.png">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 payment-methods__block --mastercard">
      <img src="/images/logos/mastercard-logo-white.png">
    </div>
  </div>

</div>
</div>
