<div class="row">

<div class="col-md-10 payment-methods">
  <h3><%= I18n.t('footer.payment_methods') %></h3>

  <div class="+small-spacer"></div>

  <div class="row">

    <div class="col-md-12 col-xs-4 payment-methods__block --wechatpay">
      <img src="/images/logos/wechatpay-logo-white-small.png">
    </div>

    <div class="col-md-12 col-xs-4 payment-methods__block --alipay">
      <img src="/images/logos/alipay-logo-white-small.png">
    </div>
    
</div>

</div>
</div>
