<div class="row">

<div class="col-md-10 payment-methods">
  <h3><%= I18n.t(:payment_methods, scope: :footer) %></h3>

  <div class="+small-spacer"></div>

  <div class="row">

    <div class="col-md-12 col-xs-4 payment-methods__block --wechatpay">
      <img src="/images/logos/wechatpay-logo-white-small.png">
    </div>

    <div class="col-md-12 col-xs-4 payment-methods__block --alipay">
      <img src="/images/logos/alipay-logo-white-small.png">
    </div>

    <!-- <div class="col-md-6 col-xs-4 payment-methods__block --visa">
      <img src="/images/logos/visa-logo-white-small.png">
    </div>

    <div class="col-md-6 col-xs-4 payment-methods__block --chinaunionpay">
      <img src="/images/logos/chinaunionpay-logo-white-small.png">
    </div>

    <div class="col-md-6 col-xs-4 payment-methods__block --mastercard">
      <img src="/images/logos/mastercard-logo-white-small.png">
    </div> -->

</div>

</div>
</div>
