<div class="row">
  <div class="col-md-10 social-medias">
    <h3>Social</h3>
    <div class="row">
      <div class="col-md-6 social-medias__block --weibo">
        <img src="/images/logos/weibo-logo-white.png">
      </div>
      <div class="col-md-6 social-medias__block -wechat">
        <img src="/images/logos/wechat-logo-white.png">
      </div>
    </div>
  </div>
</div>
