<div class="row">
  <div class="col-md-10 social-medias">
    <h3>Social</h3>

    <div class="+small-spacer"></div>

    <div class="row">
      <div class="col-md-6 social-medias__block --weibo">

        <div id="weibo-qr-code" class="hidden">
          <div class="social-medias__qr-code">
            <img src="/images/stickers/weblog.png">
          </div>
          <div class="social-medias__triangle"></div>
        </div>


        <div id="weibo-qr-code-trigger">
          <img src="/images/logos/weibo-logo-white.png">
        </div>


      </div>
      <div class="col-md-6 social-medias__block --wechat">

        <div id="wechat-qr-code" class="hidden">
          <div class="social-medias__qr-code">
            <img src="/images/stickers/wechat.png" %>
            <!-- <img src="/images/logos/wechat-qr-code.png"> -->
          </div>
          <div class="social-medias__triangle"></div>
        </div>

        <div id="wechat-qr-code-trigger">
          <img src="/images/logos/wechat-logo-white.png">
        </div>

      </div>
    </div>
  </div>
</div>
