<div class="row">
  <div class="col-md-10 social-medias">
    <h3><%= I18n.t('footer.social') %></h3>

    <div class="+small-spacer"></div>

    <div class="row">
      <div class="col-md-6 col-xs-4 social-medias__block --wechat">
        <%= render partial: "layouts/customer/footer/social_medias/wechat" %>
      </div>

    </div>
  </div>
</div>
