<tr>
  <td>
    <%= address.id %>
  </td>
  <td>
    <%= address.decorate.readable_type %>
  </td>
  <td>
    <%= address.full_address %>
  </td>
  <td>
    <%= address.country %>
  </td>
  <td>
  </td>
</tr>
