<% %w(philosophy stories uniqueness german_essence).each do |detail_attribute| %>

  <% if shop.public_send("#{detail_attribute}?") %>

    <div>
      <h3><%= I18n.t("title.#{detail_attribute}") %></h3>
      <%= simple_format(shop.public_send(detail_attribute)) %>
      <hr>
    </div>

  <% end %>

<% end %>
