<h1>Liebe <%= @user.decorate.full_name %></h1>
<p>
 Sie haben ein Auftrag von Germany In The Box"<%= @title %>" bekommen. <br>
</p>
<p>
 Mehr Information über Ihren Auftrag, bitte klicken Sie: <a href="<%= root_url %><%= @url %>"> hier</a>.
</p>
<p>Vielen Dank und wünschen wir Ihnen schönen Tag!</p>

<p>
Ihre GBox Team<br />
Tel: 089 2193 4711<br /> 
Email: <a href="mailto:shop@germanyinthebox.com">shop@germanyinthebox.com</a><br />
</p>