<h1>Hallo <%= @user.decorate.full_name %></h1>
<p>
  You just got a new notification from our site about "<%= @title %>"<br>
</p>
<p>
  To read more: <a href="<%= root_url %><%= @url %>">click here</a>.
</p>
<p>Thanks you and have a great day !</p>