
<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
  <div style="line-height:10px;font-size:1px">&nbsp;</div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <div style="line-height:5px;font-size:1px">&nbsp;</div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <h1 style="Margin-top: 0;Margin-bottom: 20px;font-style: normal;font-weight: normal;font-size: 26px;line-height: 34px;color: #58595b;font-family: Bitter,Georgia,serif;text-align: center;"><%= @title %></h1>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <div class="divider" style="display: block;font-size: 2px;line-height: 2px;width: 40px;background-color: #b3cad0;Margin-left: 260px;Margin-right: 260px;Margin-bottom: 20px;">&nbsp;</div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <%= EmailsHelper.email_line("#{@desc}") %>  <br>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <%= EmailsHelper.email_line("Klicken Sie unten, um weitere Details zu sehen.") %>  <br>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <div style="line-height:10px;font-size:1px">&nbsp;</div>
</div>
<div style="Margin-left: 20px;Margin-right: 20px;">
  <div style="line-height:10px;font-size:1px">&nbsp;</div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
  <%= EmailsHelper.email_action("Sehen Sie mehr", root_url.chomp('/') + @url) %>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
  <div style="line-height:15px;font-size:1px">&nbsp;</div>
</div>
