<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>AGB</h1>

  <div class="page-static__text">

          der

          <b>DIGPANDA GmbH
          Landsberger Str. 183
          80687  München</b>
          &#45; nachfolgend <b>„Betreiber“</b> &#45;

          für die Nutzung der Cross-Border E-Commerce-Plattform

          <b>Germany In The Box (zu Chinesisch “来因盒“)</b>
          &#45; nachfolgend <b>„GBox“</b> &#45;




          1 Begrifflichkeiten

          • Angebot = auf der Plattform veröffentlichte Leistungsbeschreibung plus veröffentlichter Endpreis

          • Endpreis = Preis pro Stück des Produkts, den die Käufer laut Angebot bezahlen müssen

          • Hersteller-Preis = Preis pro Stück des Produkts, den der Verkäufer gegenüber GBox nennt und der als Bezugsgröße zur Provisionsberechnung dient.

          • Sonstige Kosten = GBox schlägt Ausgaben für beispielsweise Zoll und den ausländischen Versand auf den Hersteller-Preis auf. Hersteller-Preis plus sonstige Kosten stellen den Endpreis dar.


          2 Geltungsbereich der AGB, Plattform und Vertragsschluss

          (1) GBox ist eine M2C-Plattform, die unabhängige deutsche Designer, Hersteller, Handwerker, und Produzenten (nachfolgend „Verkäufer“) mit chinesischen Verbrauchern (nachfolgend „Käufer“) verbindet. Sie ist ein virtueller Marktplatz, auf dem chinesische Käufer originelle, kreative, organische und hoch qualitative deutschen Produkte erwerben können. Verkäufer finden das Verkäuferportal unter <font color="blue">www.germanyinthebox.com</font>. Käufer finden die Verkaufsplattform unter <font color="blue">www.germanyinthebox.com</font> oder in der mobilen App <font color="blue">来因盒</font>. Alle Domains bilden zusammen die Plattform GBox. Diese AGB gelten für alle Domains der GBox-Plattform, auch für die dazugehörige mobile App.

          (2) Als eine Produkt- und Informationsplattform eröffnet GBox den Käufern und Verkäufern (zusammen nachfolgend „Nutzer“) auf der GBox-Plattform die Möglichkeit Produktbewertungen und -kommentare zu veröffentlichen und Informationen zu speichern und auszutauschen.

          (3) Die vorliegenden AGB gelten als der Nutzungsvertrag für die Nutzung der Plattform inklusive sämtlicher Inhalte, Angebote, Shops, Funktionen und Dienste.

          (4) Der Betreiber stellt den Verkäufern Dienstleistungen und die Plattform als Marktplatz zur Verfügung. Zu diesen Dienstleistungen gehören: Übersetzung und Einstellung der Angebote auf der GBox-Plattform, Unterstützung bei der Abwicklung der Versendung im Ausland und der Lieferung innerhalb von China, Export- und Importzollabfertigung, Unterstützung bei Zahlungsabwicklung, sowie Customer Service. In jedem Fall agiert der Betreiber lediglich als Vermittler und nicht als Vertragspartner etwaiger geschlossener Kaufverträge.

          (5) Der Betreiber ist am Vertragsschluss zwischen Nutzern nicht beteiligt und gibt keine Garantien in Bezug auf die Beschaffenheit der von Käufern angebotenen Produkte und Dienstleistungen ab. Die Anbieter von Produkten und Dienstleistungen sind selbst für die Qualität und Echtheit ihrer Angebote verantwortlich.


          3 Registrierung

          (1) Auf GBox ist das Betrachten von Angebotsseiten, Shops oder Profilen ohne Registrierung möglich. Für darüber hinausgehende Funktionen (beispielsweise Verkaufen, Kaufen, Benutzung der Wunschlisten, Verwendung des Kommunikationssystems der GBox-Plattform, Nutzung der Kommentierungs- und Bewertungsfunktion, Forum, Communities) ist eine Registrierung als Nutzer erforderlich.

          (2) Ein interessierter Verkäufer kann sich mit dem Betreiber in die Verbindung setzen, indem er unter dem Link <font color="blue">Beantragen</font> im Verkäuferportal einen Antrag mit Informationsauskunft stellt. Bei positivem Bescheid nach interner Prüfung bekommt er das Passwort zum Einloggen ins Verkäuferportal, wo er sein Profil vervollständigen und Produkte hochladen kann.

          (3) Mit der Registrierung und Zustimmung zu diesen AGB und der Datenschutzerklärung können natürliche und juristische Personen Nutzer bei GBox werden.

          (4) Natürliche Personen müssen volljährig sein. Die Registrierung juristischer Personen darf nur von einer vertretungsberechtigten natürlichen Person vorgenommen werden. Sie muss namentlich als Ansprechpartner genannt werden. Für den Fall, dass eine Personengemeinschaft nur von mehreren Personen wirksam vertreten werden kann, muss die natürliche Person, die bei GBox für die Personengemeinschaft handelt, hierzu bevollmächtigt worden sein.

          (5) Ein Anspruch auf Mitgliedschaft bei GBox besteht nicht.

          (6) Nutzer sind verpflichtet, ihre Registrierungsdaten stets aktuell zu halten und bei Änderungen (z.B. Umzug, Namensänderung etc.) zu aktualisieren. Das von Nutzer gewählte Passwort ist geheim zu halten und muss über eine hinreichende Komplexität verfügen. Ein Anspruch auf einen bestimmten Nutzernamen oder ein bestimmtes Passwort besteht nicht.

          (7) Nutzerkonten sind nicht übertragbar und dürfen nur durch den Nutzer persönlich genutzt werden. Eine erneute Anmeldung nach Kündigung durch GBox ist untersagt.


          4 Angebotserstellung, Zustandekommen eines Kaufvertrags und Logistik

          (1) Der Verkäufer übermittelt dem Betreiber die Informationen des Angebots, u. a.  Beschreibung des Produkts, den Hersteller-Preis, Produktbilder und die verfügbare Stückzahl, indem er das Produkt im Verkäuferportal hochlädt. Damit  gibt der Verkäufer gegenüber potentiellen Käufern ein verbindliches Angebot ab, dass jeder Käufer das Angebot zu dem angegebenen Endpreis erwerben kann. Der Endpreis enthält den Hersteller-Preis, internationale Versandkosten und einschlägige chinesische Steuern (abzüglich evetuellen Rabatts und Gutscheins). Der Betreiber übersetzt das Angebot und stellt es auf der GBox-Plattform ein.

          (2) Nach einer Bestellung erhält der Käufer eine Bestätigungsmail von GBox. Er erteilt dem Betreiber und dem Logistikpartner die nötige Vollmacht, in seinem Namen Zoll abzuwickeln und einschlägige Steuern zu zahlen. Der Käufer kann mit einem der verschiedenen von dem Payment Service Provider (PSP) zur Verfügung gestellten Zahlungsmethoden(z.B. TenPay und UnionPay) in RMB zahlen.

          (3) Nach dem Eingang der vollständigen Zahlung erhält der Verkäufer von GBox eine Nachricht mit zwei druckbaren Versandetiketten. Das eine ist für unser Lagerhaus am Frankfurter Flughafen vorgesehen während das andere ist für den chinesischen Käufer. Der Verkäufer klebt beide Versandetiketten ans Paket und versendet es mit bestellten Waren darin an unser Lagerhaus in Frankfurt. Die inländischen Versandkosten zum Lagerhaus in Frankfurt trägt der Verkäufer. GBox stellt jedoch allen Herstellern kostengünstige Versandkonditionen zur Verfügung. Die Teilname an der inländischen Versandlösung durch GBox ist freiwillig. Der Hersteller kann auch seine eigene Versandlösung in Anspruch nehmen. Die Kosten für die internationale Luftfracht und die Zustellung in China trägt der Käufer.

          (4) Ab dem Lagerhaus des Logistikpartners übernimmt dieser die Lieferung und Zustellung der Versandpakete. Für die Versicherung der versandten Waren gelten  die Allgemeinen Deutschen Spediteurbedingungen 2016 (ADSp2016).


          5 Stornierung, Widerrufsrecht für Käufer

          (1) Wegen des kostspieligen internationalen Versands und des aufwendigen Zahlungsvorgangs sind etwas strengere Bedingnugen notwendig, um den Waren- und Zahlungsverkehr ökonomisch zu gestalten.

          (2) Ein Käufer kann jederzeit seine Bestellung vor der Bezahlung abbrechen。

          (3) Nachdem der Käufer die Zahlung getätigt hat, kann er den Kauf nicht mehr widerrufen. Der Verkäufer wird über die Zahlung per E-Mail und im Verkäuferportal informiert. Der Verkäufer soll umgehend die Vorbereitung für das Verpacken und Versenden der Bestellung starten. Das konkrete Vorgehen finden Sie unter Anleitung zum Versenden.


          6 Umtausch

          Wegen der Besonderheiten der cross-border E-Commerce, sind Produkte, die auf GBox gekauft wurden, vom Umtausch ausgeschlossen. Dies gilt nicht, wenn der Verkäufer den Umtausch aus der Kulanz akzeptiert. Insofern ist eine individuelle Vereinbarung zwischen Käufer und Verkäufer erforderlich. Eine generelle Umtauschmöglichkeit besteht nicht.


          7 Rückgabe

          (1) Käufer können innerhalb von 7 Tagen nach Erhalt der Produkte die Rückgabe der Produkte verlangen, wenn einer der folgenden Gründer zutrifft:

          • Der Verkäufer hat falsche Waren versendet.
          • Die Produkte sind mangelhaft. In diesem Fall muss der Käufer den Mangel nachweisen können.
          • Die Produkte wurden auf dem Transportweg so stark beschädigt, dass eine normale Nutzung nicht möglich ist. Im diesen Fall muss der Käufer eine vom Zusteller/Logistikpartner ausgefüllte Schadensbestätigung vorlegen.
          • Die Produkte sind einwandfrei und für Wiederverkauf geeignet. Der Käufer möchte die Produkte aus persönlichen Gründen zurückgeben.

          (2) Wenn die Rückgabe auf einem der ersten zwei Gründe beruht, ist die Rückgabe für den Käufer kostenfrei. Er hat gegenüber GBox einen Anspruch auf Erstattung des Hersteller-Preises sowie der Transportkosten der Hinsendung. Der Verkäufer hat auch die Transportkosten der Rücksendung zu tragen. Es steht GBox frei, den Verkäufer bei der Umsetzung der Rückerstattung zu unterstützen (z.B. Konvertierung in RMB, Überweisung, Kontaktaufnahme von Versandunternehmen). Führt der Betreiber im Auftrag des Verkäufers die Rücksendung durch, stellt GBox die Transportkosten der Rücksendung dem Verkäufer in die Rechnung. Die Zollgebühren sind nicht erstattungsfähig. Wenn die Rücksendung dem Verkäufer ökonomisch nicht sinnvoll scheint, kann der Betreiber die Waren in seinem Auftrag vor Ort entsorgen.

          (3) Wird die Sendung während des internationalen Versandes oder der Zustellung innerhalb China beschädigt, wird der Verkäufer nach den entsprechenden Regeln der ADSp2016 entschädigt. Der eingezahlte Endpreis wird dem Käufer innerhalb 30 Tage gutgeschrieben.

          (4) Möchte der Käufer die Produkte aus persönlichen Gründen zurückgeben, hat er die Transportkosten der Rücksendung sowie die Gefahr der Rücksendung zu tragen. Er hat gegenüber dem Verkäufer einen Anspruch auf Erstattung des Hersteller-Preises, nachdem Verkäufer die Sendung unversehrt zurückerhält. Dieses Rückgaberecht ist ausgeschlossen, falls die Produkte durch den Käufer beschädigt wurden. Legt der Verkäufer dem Betreiber den Rücksendungsnachweis vor, schreibt der Betreiber ihm die bereits abgerechnete Provision gut. Käufer hat die Rücksendung selbst zu organisieren. Die Zollgebühren sind nicht erstattbar.

          (5) Im jedem Fall muss der Käufer den Customer Service innerhalb einer Frist von 7 Tagen nach Erhalt der Produkte kontaktieren, um eine Rücksendung zu melden. Eine Rückgabe nach dieser Frist ist nicht möglich. Innerhalb dieser Frist muss er den Customer Service angerufen haben oder eine E-Mail an <font color="blue">customer@germanyinthebox.com</font> senden. In beiden Fällen hat er innerhalb der Frist alle erforderlichen Beweismittel zu übersenden (z.B. Kaufdaten, Fotos, Belege). Der Customer Service von GBox entscheidet innerhalb von 14 Tagen nach der Vorlage aller erforderlichen Belege, ob die Rückgabe zulässig ist. Ist eine Rückgabe zulässig, hat der Käufer dem Verkäufer die Produkte zurückzusenden.

          (6) Kosmetik-, Apotheken- und Hygieneprodukte sind von Rückgabe ausgenommen.


          8 Gebühren, Zoll, logistische Kosten, Umsatzsteuer, Rechnungen, Währungsrisiko

          (1) Die Registrierung als Nutzer auf Germany In The Box ist kostenlos. Für einzelne Nutzungshandlungen fallen jeweils Gebühren an, deren Höhe sich aus den jeweils gültigen <font color="blue">Gebühren und Rechnungen</font> ergibt. Der Betreiber erhebt unter anderem Gebühren für das Einstellen von Angeboten. Nach dem erfolgreichen Verkauf einer Ware über die GBox-Plattform wird eine Provisionsgebühr in Anhängigkeit des Hersteller-Preises fällig. GBox plant, künftig auch andere zusätzliche Leistungen, wie z.B. Startseitenplätze und Logenplätze, mit jeweiligen Gebühren/Provisionen anzubieten. GBox macht die Nutzer vor jeder zahlungspflichtigen Leistung oder Zusatzoption gesondert aufmerksam.

          (2) Verkäufer haben bei der Registrierung die Möglichkeit, im Verkäuferportal einen Vertrag mit dem vertraglichen Payment Service Providers (PSP) des Betreibers abzuschließen. Der PSP bietet chinesischen Käufern diverse Zahlungsmethoden an. Nach dem Zahlungseingang des Käufers in China wechselt er den Erlös in Euro um und zahlt ihn schließlich auf das von Verkäufer angegebene Bankkonto aus. Der Betreiber überwacht die Zahlungsprozesse. Für die Zahlungsleistungen gelten die Kostenbedingungen des PSPs. Die Kosten der Zahlungsleistungen fallen außerhalb des Rahmens der GBox-Gebühren an. Momentan berechnet der PSP für jede Transaktion per Zahlungsmethode China UnionPay eine Gebühr von 0,22 EUR und 3,75% Disagio, für jede Transaktion per Kreditkarte (Visa oder Mastercard) eine Gebühr von 0.22 EUR und 2,95% Disagio. Die Auszahlung in EURO an Verkäufer wird am ersten Dienstag des Folgemonats initiiert.

          (3) Nach chinesischen Steuergesetzen sind Käufer beim Onlinekauf steuerpflichtig. Der vertragliche Logistikpartner des Betreibers geht jedoch in die Vorleistung und zahlt in Namen des Käufers die einschlägigen Steuern. Der Verkaufserlös, den ein chinesischer Käufer bezahlt, enthält den Endpreis, chinesische Steuern und internationale Versandkosten. Der Verkaufserlös in der gesamten Höhe wird an den Verkäufer ausgezahlt. Monatlich stellt der Betreiber dem Verkäufer die GBox-Gebühren, chinesische Steuern und internationale Versandkosten in die Rechnung.

          (4) GBox stellt den Verkäufern die erforderlichen Belege bereit, die umsatzsteuerfreie Ausfuhrlieferungen nachweisen. Auch in der von GBox erstellten Rechnung wird nochmals auf die Umsatzsteuerfreiheit der Lieferung hingewiesen.  Bei größeren Ausfuhrmengen müssen Verkäufer sich bei der Zollbehörde registrieren und die EORI-Nummer beantragen.

          (5) Verkäufer sind verpflichtet, dem Betreiber das SEPA-Lastschrift-Mandat zu erteilen. Die monatliche Rechnung wird per E-Mail verschickt bevor per Lastschrift von dem Verkäuferbankkonto abgebucht. Schlägt der Rechnungseinzug fehl, wird eine Mahngebühr in Höhe von 5 EUR je weiterer Einzugsversuch anfallen.

          (6) Die Umrechnung des Hersteller-Preises von Euro in RMB und die Umrechnung des Erlöses von RMB zurück in Euro erfolgen zum jeweilig gültigen Referenzumrechnungskurs der chinesischen Zentralbank. Feste Umrechnungskurse sind nicht garantiert.


          9 Pflichten des Nutzers

          Alle Nutzer müssen die allgemeinen Pflichten (nachstehend Ziffer 1)) und Verkäufer zusätzlich die speziellen Verkäufer-Pflichten beachten (nachstehend Ziffer 2)). Die Regeln existieren, um eine reibungslose Nutzung und harmonisches Miteinander auf der GBox zu gewährleisten.

          (1) Allgemeine Pflichten, die für alle Nutzer gelten

          Jeder Nutzer ist verpflichtet, die GBox-Plattform ausschließlich entsprechend geltendem Recht und im Rahmen dieser AGB zu nutzen. Nutzer sind für ihre Angebote (z.B. Hersteller, Produkte) und Inhalte (z.B. Bilder, Bewertungen, Forumsbeiträge, Einzelangaben) uneingeschränkt selbst verantwortlich.

          a. Grundsätze, die von Gesetzes wegen für alle Nutzer gelten

          Nutzer müssen sich bei der Inanspruchnahme unserer Dienstleistung an die bestehenden Gesetze halten, insbesondere (nicht abschließend) dürfen Inhalte von Nutzern nicht

          • strafrechtliche Normen,
          • die Regelungen zum Jugendschutz,
          • Datenschutzrecht,
          • Urheber-, Marken-, Kennzeichen-, Patent- oder Namensrechte Dritter oder
          • Persönlichkeitsrechte und sonstige Rechte Dritter verletzen.

          b. Grundsätze, die GBox für ein „gutes Miteinander“ für verbindlich erklärt

          • Aller Nutzer verhalten sich untereinander respektvoll. Verkäufer bemühen sich, den Käufern auf GBox trotz der räumlicher Distanz und zeitlicher Differenz genauso gute Produkte und Hilfestellung anzubieten, wie deutsche Kunden zu erwarten haben. Käufer sollten Verständnis für eine eventuelle kleine Verzögerung von Seiten der Verkäufer haben (z.B. wegen räumlicher Distanz oder wegen Zeitdifferenz).
          • Kommentare, Bewertungen, Nachrichten und Kritiken müssen sachlich sein und dürfen keine Beleidigungen enthalten.
          • Es dürfen keine schädlichen Technologien eingesetzt werden, die der Plattform, Nutzern oder Dritten schaden oder diese belästigen (Viren, Roboter, Spider, Scraper, Crawler, Hacking, Brute-Force-Attacken, etc.). Hierunter fällt zum Beispiel das automatische Auslesen von Daten durch Crawler.
          • Es ist verboten, Kontaktdaten auf GBox ohne Einwilligung des jeweiligen Nutzers zu sammeln, weiterzugeben oder zu benutzen, soweit dies nicht für die Kaufabwicklung erforderlich ist.
          • Nutzer dürfen die Kontaktdaten, die sie im Rahmen der Kommunikation oder einer Transaktion untereinander erhalten haben, nicht für die Zusendung von Werbung benutzen, wenn hierfür nicht eine ausdrückliche Zustimmung des anderen Nutzers vorliegt.
          • Der Einsatz von Spam, Schneeballsystemen und ähnlichen unlauteren Marketingmaßnahmen ist verboten.
          • Suchwort-Spamming ist verboten.
          • URLs dürfen in Angeboten nur erscheinen, wenn unter der angegebenen URL weiterführende Informationen zum jeweiligen Thema zu finden sind. Die Inhalte der verlinkten Seiten müssen dem geltenden Recht und den Regeln von GBox entsprechen. Verlinkungen zu Partnerprogrammen, Referral-URLs, URLs zu kostenpflichtigen Abonnementseiten und Online-Shops, etc. sind verboten.
          • Der Nutzer ist verpflichtet, eine übermäßige Belastung der GBox-Plattform zu vermeiden. Insbesondere dürfen keine Inhalte veröffentlicht werden, die die Integrität, Stabilität und die Verfügbarkeit der GBox-Plattform gefährden können.

          (2) Spezielle Pflichten für Verkäufer auf GBox

          a. Den Verkäufern ist es untersagt, Waren oder Leistungen anzubieten oder Inhalte auf GBox zu veröffentlichen, bei denen es sich insbesondere um Folgendes handelt (nicht abschließend):

          • Diebesgut/Hehlerware (das sind zum Beispiel Waren, die aus betrügerischen Geschäften oder Diebstählen erlangt wurden)
          • Jugendgefährdende Medien
          • Aufrufe zu Straftaten, rassistische Inhalte
          • Propagandaartikel verbotener Parteien, Vereine und Gruppen
          • Waffen
          • Artikel verfassungsfeindlicher Organisationen
          • Beleidigungen, Verleumdungen, Üble Nachrede
          • Fälschungen, nachgeahmte Markenprodukte
          • Inhalte, die gegen die guten Sitten verstoßen
          • Bilder und andere Dateien, die urheberrechtlich geschützt sind, wenn der Verwender kein Nutzungsrecht erworben hat
          • Artikel, die in Kinderarbeit hergestellt wurden
          • Bilder oder andere Dateien, die Firmen-, Marken- oder sonstige Schutzrechte verletzten

          b. Es dürfen bei GBox nur Waren und Leistungen angeboten werden, die zu GBox passen. Verkäufer (ausgenommen Apotheken als Verkäufer) dürfen nur lokale, selbst hergestellte Produkte anbieten oder die Produkte, die aus eigenem Design von einem Dritten hergestellt wurden. Die Herstellung durch Dritte muss aber in Deutschland und in kleiner Auflage stattfinden. Der Dritt-Hersteller muss der GBox genannt werden und wird nicht im Angebot bekanntgegeben.

          c. Mit der Zustimmung zu den vorliegenden AGB sichert der Anbieter zu, auf der Plattform „Germany In The Box“ nur Produkte aus deutscher Herstellung anzubieten (ausgenommen Apotheken). Unter deutscher Herstellung im Sinne dieser AGB ist zu verstehen, dass die Produkte ihre für die Verkehrsvorstellung maßgebende Qualität und charakteristischen Eigenschaften in Deutschland erhalten. Insbesondere, dass jene Fertigungsschritte in Deutschland erfolgen und jene Leistungen in Deutschland erbracht werden, durch die das Produkt seine aus Sicht des Verkehrs im Vordergrund stehenden qualitätsrelevanten Bestandteile oder wesentlichen produktspezifischen Eigenschaften erhält.

          d. Der Verkäufer einer Ware muss über die angebotene Ware verfügen oder in der Lage sein, diese zügig herstellen und zeitnah liefern zu können. Die verfügbare Menge jedes Angebots muss aktuell und korrekt sein.

          e. Der Verkäufer muss im Angebot über die Einzelheiten zu Preis und anderen Produktinformationen zutreffend, vollständig und in Übereinstimmung mit den einschlägigen gesetzlichen Regelungen informieren. Der bloße Verweis auf eine Internetadresse genügt nicht zur Beschreibung eines Produkts. Angebote müssen in die jeweils passende Kategorien eingestellt werden. Der Betreiber kann auf Grund unvollständigen Information die Einstellung des Angebots verweigern.

          f. Die vom Verkäufer angebotenen Produkte müssen die für den Verkehr und Absatz im deutschen Markt erforderlichen Lizenzen und Zertifizierung besitzen.


          10 Maßnahmen bei Verstoß gegen Gesetz oder vorliegende AGB

          (1) Ein grenzübergreifender Marktplatz verlangt eine hohe Koordinationseffizienz und die entsprechende Bemühung aller Nutzer. Er kann nur dann reibungslos funktionieren, wenn sich alle Nutzer an die Regeln halten. Deshalb behält sich GBox das Recht vor, Maßnahmen gegen Nutzer zu ergreifen, wenn sich konkrete Anhaltspunkte dafür ergeben, dass der Nutzer bei der Nutzung der Plattform gegen diese AGB und/oder geltendes Recht verstößt oder verstoßen hat. Bei der Auswahl der Maßnahmen bezieht GBox die Betriebserfordernisse der GBox Plattform, eigene Haftungsrisiken sowie die berechtigten Interessen etwaiger Anspruchsteller und des Nutzers (z.B. Verschulden, Gewicht der Pflichtverletzung, Risiken, Stellungnahme des Nutzers) in seine Entscheidung mit ein.

          (2) Bei einem Verstoß gegen die Regelungen aus Absätzen §9.2b und §9.2c durch den Verkäufer, steht der Betreiber das Recht zur fristlosen Kündigung des abgeschlossenen Vertrags zum Angebot von Produkten zu. Darüber hinaus verpflichtet sich der Anbieter für einen solchen Fall an den Betreiber eine Vertragsstrafe in Höhe von 20.000 € zu bezahlen.

          (3) Erlangt GBox Kenntnis von Anhaltspunkten für Pflichtverletzungen des Nutzers, z.B. durch Beanstandung Dritter, wird GBox den Nutzer hiervon informieren. Dabei kann GBox eine im Einzelfall angemessene Frist zur Stellungnahme setzen, die bei besonderer Dringlichkeit nur wenige Stunden beträgt.

          (4) Die Sanktionen, die GBox gegen einen Nutzer aussprechen kann, sind:

          • Ausspruch einer schriftlichen Verwarnung des Nutzers, mit Aufforderung den Verstoß umgehend zu unterlassen;
          • Aussetzen, Sperren oder Beenden von einzelnen Angeboten (z.B. Shop, Profil, Produkte) oder Inhalten (z.B. Bewertungen, Forumsbeiträge, Einzelangaben) des Nutzers auf der GBox Plattform;
          • Be-/Einschränkung der Nutzung der GBox Plattform durch den Nutzer(z.B. Forumssperre, Limitierung der Angebotsanzahl);
          • Vorläufige Sperrung des Nutzers;
          • Ausschluss des Nutzers.

          (5) Beim Beenden von Angeboten oder der Sperrung eines Nutzerkontos (vorläufige Sperrung oder Ausschluss) wegen Vorliegen eines Verstoßes gegen das Gesetz oder diese AGB, schuldet der Nutzer die zum Zeitpunkt der Beendigung angefallenen Gebühren für die betroffenen Angebote als Schadenersatz. Die Pauschalierung läßt den möglichen Nachweis unberührt, dass kein, ein wesentlich geringerer oder wesentlich höherer Schaden entstanden ist.

          (6) Einem Nutzer, dem gekündigt wurde, ist die erneute Registrierung bei GBox sowie die Nutzung anderer Nutzerkonten untersagt.


          11 Meldung von AGB-Verstößen

          (1) Verstöße gegen die AGB und Grundsätze von GBox können über die Kundenservice-Hotline oder <font color="blue">customer@germanyinthebox.com</font> vom Nutzer gemeldet werden.

          (2) Wenn die Meldung durch einen rechtlichen Vertreter einer hierzu berechtigten Person geschieht (zum Beispiel bei Urheberrechtsverletzung), bitten wir diesen, die Anzeige der Rechtsverletzung unter Beifügung der Vertretungsbefugnis (Vollmacht) per Fax, Mail mit Scan oder Briefpost an uns zu senden. GBox behält sich vor, das Original der Vollmacht zu verlangen.


          12 Haftungsfreistellung

          Der Nutzer stellt Germany In The Box von jeglichen Ansprüchen frei, die Dritte gegenüber GBox wegen einer Rechts- oder Pflichtverletzung des Nutzers geltend machen, es sei denn der Nutzer hat die Pflichtverletzung nicht zu vertreten. Dies umfasst insbesondere das rechts- oder vertragswidrige Einstellen von Artikeln, Bewertungen oder Forumsbeiträgen. Zu erstatten sind auch angemessene Kosten der Rechtsverteidigung (insbes. Anwaltskosten), die GBox durch das Fehlverhalten eines Nutzers nachweislich entstanden sind.


          13 Laufzeit und Kündigung

          (1) Der Nutzungsvertrag läuft auf unbestimmte Zeit und kann sowohl vom Nutzer als auch von GBox jederzeit mit einer Frist von sieben Tagen ordentlich gekündigt werden. Für die Kündigungserklärung des Verkäufers genügt eine schriftliche Mitteilung durch eine vertretungsbefugte Person an GBox oder eine E-Mail an <font color="blue">shop@germanyinthebox.com</font>. Der Käufer kann den Nutzungsvertrag beenden, indem er das Benutzerkonto löscht.

          (2) Das Recht zur außerordentlichen Kündigung bleibt unberührt. Neben den gesetzlichen Gründen für eine außerordentliche Kündigung stellt es für GBox einen wichtigen Grund zur Kündigung dar, wenn ein Nutzer auf Mahnung von GBox (die verzugsbegründend sein kann) hin die Zahlung fälliger Vergütungen nicht innerhalb angemessener Frist leistet und zum Zeitpunkt der Kündigung in Verzug ist. Weitere Kündigungsgründe für Verkäufer sind z.B. wiederholte Verzögerungen bei Warensand, Nicht-Kooperieren bei Käuferbeschwerden, wiederholte Feststellung von Qualitätsmangel der Waren.


          14 Nutzungsrechte

          (1) Der Verkäufer räumt GBox die zur Durchführung des Vertrages erforderlichen Rechte an den von ihm auf der Online-Plattform eingestellten Inhalten ein. Dies umfasst insbesondere das Recht, die vom Nutzer eingestellten Inhalte zur vertragsgemäßen Erbringung ihrer Dienstleistungen zu vervielfältigen, zu verbreiten, öffentlich zugänglich zu machen oder zu bearbeiten, insbesondere auf dem chinesischen Markt.

          (2) Weitergehend räumt der Verkäufer GBox das Recht ein, die von ihm eingestellten Inhalte in der Werbung für die Online-Plattform oder einzelne Angebote zu verwenden, insbesondere für Werbung im Internet (Affiliate-Werbung, social media u.ä.), in der Printwerbung und/oder TV-Werbespots. GBox ist insbesondere berechtigt, Inhalte des Verkäufers zu diesem Zweck zu vervielfältigen, zu verbreiten, öffentlich zugänglich zu machen, zu bearbeiten, zu senden und/oder Sendungen oder öffentliche Zugänglichmachungen wiederzugeben (§22 Urheberrechtsgesetz, UrhG).

          (3) Ferner räumt der Verkäufer GBox alle nötigen Rechte ein, die es GBox und ihren Operationspartnern ermöglichen, die vom Verkäufer verkauften Produkte nach China zu transportieren und für diese Produkte die Export- und Importprozeduren abzufertigen.

          (4) Der Verkäufer räumt dem Payment Service Provider(PSP) der GBox die Inkassovollmacht ein, in seinem Namen die Zahlungen für die gelieferten Produkte abzuwickeln, in seinem Namen den Erlös in Euro zu konvertieren und an ihn auszuzahlen.

          (5) Die gemäß Ziffern 1 und 2 eingeräumten Rechte werden GBox als einfaches, zeitlich und räumlich unbefristetes Nutzungsrecht eingeräumt. Die gemäß Ziffern 1 und 2 eingeräumten Rechte können von GBox auf Dritte übertragen und unterlizenziert werden. GBox schuldet hierfür keine gesonderte Vergütung.


          15 Haftungsbeschränkung

          (1) Die nachfolgenden Regelungen zur Haftungsbeschränkung von GBox gelten für alle Schadensersatzansprüche und Haftungsfälle, unabhängig davon, auf welchem Rechtsgrund sie beruhen (z.B. Gewährleistung, Verzug, Unmöglichkeit, Pflichtverletzung, Leistungshindernis, unerlaubte Handlung etc.) außer für:

          • Ansprüche des Nutzers wegen Schäden aus der Verletzung von Leben, Körper und Gesundheit, Rechte und Ansprüche des Nutzers bei arglistigem Verschweigen eines Mangels durch GBox oder wegen Fehlens einer Beschaffenheit, für die GBox eine Garantie übernommen hat,
          • Ansprüche und Rechte des Nutzers, die auf vorsätzlichem oder grob fahrlässigem Verhalten von GBox selbst, ihrer gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen sowie Ansprüche des Nutzers nach dem Produkthaftungsgesetz.

          (2) Für vorstehende Ausnahmen verbleibt es allein bei der gesetzlichen Regelung.

          (3) GBox haftet bei leicht fahrlässiger Schadensverursachung nur bei Verletzung wesentlicher Pflichten (Kardinalpflichten), d.h. von Pflichten, deren Erfüllung zur Erreichung des Vertragszwecks erforderlich ist oder auf deren Einhaltung der Vertragspartner regelmäßig vertrauen darf. Bei Verletzung von Kardinalpflichten ist die Haftung von GBox begrenzt auf den Ersatz des typischen und bei Vertragsschluss für GBox vorhersehbaren Schadens. Im Übrigen ist eine Haftung von GBox bei leicht oder einfach fahrlässiger Schadensverursachung ausgeschlossen.

          (4) Eine Haftung für nicht bestehende Verfügbarkeit der Online-Plattform ist ausgeschlossen. Insbesondere bestehen keine Ansprüche gegen dem Betreiber von GBox, soweit eine nicht bestehende Verfügbarkeit Auswirkungen auf Kaufverträge hat, etwa weil ein Artikel nicht eingestellt werden kann oder ein Kaufvertragsabschluss nicht zustande kommt.

          (5) GBox haftet nicht für die Durchführung von Verträgen zwischen Nutzern.


          16 Verfügbarkeit der Webseite

          Der Betreiber bemüht sich, den Dienst von GBox – unter Berücksichtigung von Wartungs- und Reparaturarbeiten sowie Ausfallzeiten für Aktualisierungen – 24 Stunden am Tag an 7 Tagen pro Woche zur Verfügung zu stellen. Der Betreiber ist jedoch nicht verpflichtet, dass GBox jederzeit erreichbar und fehlerfrei zu nutzen ist. Dies gilt insbesondere, soweit der Zugriff auf den Dienst GBox aufgrund von Störungen betroffen ist, die dem Einflussbereich des Betreibers entzogen sind (etwa durch höhere Gewalt, Verschulden Dritter, Ausfall von Kommunikationsnetzen und Gateways anderer Betreiber, Störungen im Bereich des jeweiligen Leistungsproviders etc.). Darüber hinaus ist der Betreiber jederzeit und ohne Vorankündigung berechtigt, die Erreichbarkeit seiner Webseiten und seiner mobilen App für Wartungs- und Modernisierungsarbeiten vorübergehend ganz einzustellen oder einzuschränken. Die Nutzung von GBox erfolgt auf eigenes Risiko des Nutzers.


          17 Änderung der AGB

          Der Betreiber behält sich das Recht vor, jederzeit diese AGB zu ändern und die Nutzung der Online-Plattform neuen oder weiteren Vertragsbedingungen zu unterwerfen. Änderungen bzw. weitere Bedingungen werden den Nutzern mitgeteilt und erlangen Wirkung, sobald sie akzeptiert wurden. Für den Fall, dass Nutzer die Änderungen nicht akzeptieren, müssen sie das Nutzungsverhältnis kündigen bzw. erhält der Betreiber das Recht zur Kündigung der Mitgliedschaft.


          18 Schlussbestimmungen

          (1) Die jeweils aktuelle Fassung der AGB ist auf der GBox Plattform gespeichert und für die registrierten Nutzer zugänglich. Der Betreiber kann sich zum Zwecke der Vertragserfüllung auch Dritter als sogenannte Erfüllungsgehilfen bedienen.

          (2) Ansprüche gegen den Betreiber dürfen an Dritte weder ganz noch teilweise abgetreten werden. Das Rechtsverhältnis zwischen Betreiber und Verkäufern unterliegt dem Recht der Bundesrepublik Deutschland. Die Bestimmungen des Wiener UN-Übereinkommens über Verträge über den internationalen Warenkauf vom 11. April 1980 finden keine Anwendung.

          (3) Mit Kaufleuten, juristischen Personen des öffentlichen Rechts oder öffentlich-rechtlichen Sondervermögen wird der Sitz der DigPanda GmbH, Landsberger Str. 183, 80687 München, als ausschließlicher Gerichtsstand vereinbart. Außerdem ist München ausschließlicher Gerichtsstand gegenüber Unternehmern, wenn der Nutzer keinen allgemeinen Gerichtsstand in Deutschland hat oder der Nutzer nach Vertragsschluss seinen Wohnsitz oder gewöhnlichen Aufenthaltsort aus Deutschland heraus verlegt oder der Wohnsitz oder gewöhnliche Aufenthalt des Nutzers nicht bekannt ist.

          Ende der AGB
          Stand: August 2016






    </div>

  </div>
</div>
