<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>Das 2-Säulen-Modell</h1>

  <div class="page-static__text">

    Germanyinthebox.com ist der One-Stop Marktplatz für regionale deutsche Hersteller und chinesische Endkunden. Wir bieten unseren Herstellern zwei Grundmodelle an: einen eigenen Herstellershop auf GBox und den GBox-Shop.

    <h2>Herstellershop</h2>

    Bei eigenem Herstellershop geben die Hersteller uns die Produkt- und Herstellerinformationen, die wir übersetzen und in den Herstellershop einpflegen. GBox fungiert als der Marktplatz und Abwickler. Nach dem Verkauf berechnet GBox den Herstellern die erfolgsabhängige Provision.

    <h2>GBox-Shop</h2>

    Wenn ein Hersteller den Käufern nicht einzeln bedienen möchte oder noch unsicher ist, ob seine Waren sich in China gut verkaufen werden, kann er den zweiten Ansatz benutzen: GBox Shop. Bei dem zweiten Modell tritt der GBox als Exporteur auf und kauft die Waren zuerst von diesem Hersteller und verkauft im GBox Shop weiter an Endkunden in China. Der GBox-Shop ist in diesem Fall der Wiederverkäufer. Er kann als das Markttestlabor für einen Hersteller funktionieren. Wenn der Test erfolgreich ist, kann der Hersteller sich noch mal überlegen, einen eigenen Shop auf dem Marktplatz zu öffnen.

    Diese beiden Grundmodelle ergänzen sich und bieten den Herstellern die maximale Flexibilität für die Markteintrittslösung für China.

  </div>

</div>
