<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>什么是来因盒</h1>

  <div class="page-static__text">

    来因盒 (www.germanyinthebox.com) 是一家位于德国慕尼黑的真正的端到端跨境电商平台，该平台由几位工作生活在德国十几年旅德华人创建。基于在德国的长期生活经验，我们对德国产品有以下几点认知：

      1.	在德国买不到假货。德国没有厂家造假的现象甚至概念，商品造假在德国的后果是非常严重的，造假者在面对严厉的法律制裁之外，还会受到社会舆论毁灭性的打击。在基督教被普遍接受的德国社会，造假者是以自己今后的社会信用为代价。没有社会信用，任何人或者公司不可能在德国有发展的可能性。

      2.	严谨和认真是对德国人最贴切的描述。在国人看来近似于机械甚至僵化的德国式生产正是德国产品利于不败之地的根本。德国人对自己产品的负责精神不仅仅体现在大公司和大工厂里，而是德国厂商的普遍信念。从DAX的上市企业到两三个人的小作坊，企业规模是成千上万数量级的差别，但严谨认真的工作和生产态度。

      3.	虽然德国有很多闻名遐迩的巨型康采恩，但是德国的产业政策非常倾斜于中小企业。因为德国政府很清楚，占总数量94.4%的中小企业雇佣了整个社会50%的劳动力和创造了近40%的GDP。中小企业的活力对整个经济生态圈的生命力非常重要，所以德国的产业政策注重扶持创新型的中小企业（德国工商联合会IHK对我们的扶持就是个很好的例子）。

      4.	因为前面的这三点，德国产品的起点很高，不管产品的背后是大公司还是小企业,  只要是Made in Germany，就可以看作产品品质的保障。这也可以解释德国消费者重视性价比、不跟风、不追求大品牌的消费行为。尤其在最近几年，由于环保意识进一步深入人心，德国人越来越越喜爱地区化的产品，中小制造者的产品越来越受到消费者的青睐。许许多多国人从未听说过的中小品牌，其产品质量丝毫不亚于国人“熟知”的德国“大牌”产品。这些品牌是德国消费者的最爱。

    我们创建来因盒这个平台就是要挖掘德国的本土好产品给国内用户，以一站式的形式直接将德国制造商和国内消费者连接起来。我们不是代购，我们是反代购！我们相信，去掉中间化，就能把最大的价格优势带给我们的终端用户和上游厂家，而且更能有效把控产品的真实性和质量。用户看到的所有入驻店都是厂家直接对接、直接发货（药店除外）。对于物流系统不支持的厂家，我们进行自营店的采购形式，对自营店产品，我们自己担保产品的来源和品质。

    这就是来因盒—倡导放心可靠、质朴、丰富多彩德国生活方式的一站式德淘网站。


  </div>

</div>
</div>
