<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  
  <div class="page-static__text">

    <h3>来因盒购买流程</h3>

      1.  将你想买的商品添加到购物车
      2.  进入购物车开始下单
      3.  填写收件人地址，手机号(物流状态短信通知)，身份证号码(中国海关通关要求)
      4.  在线完成支付(通过微信访问来因盒，支付体验首选微信支付。 支付宝需要拷贝粘贴支付宝链接到手机浏览器里完成支付)
      5.  来因盒里的所有商品都从德国直接发货至国内，经阳光清关完税， 安全可靠。当前推广期内来因盒来替您缴付所有产品的关税

    <h3>产品质量 | 海关关税</h3>
      来因盒里的所有商品均为德国本地市场在销售符合当地质量标准的产品，如与中国相关标准存在差异或手续资质要求均以欧洲/德国标准为准。
      我们的所有商品都从德国厂家（商家）直接发货至国内，然后经阳光清关完税后派送至你手中。

    <h3>运费计算及物流方式</h3>

      你订购的商品均以空运寄送，以便能在最短时间内将你的商品寄达。我们在确认订单、身份证号码的正确性、以及完成支付后， 将即刻通知德国厂家出货，从完成付款后的15个工作日以内（不含德国与中国法定假日）将货品送达。
      你订购的物品皆由坚实耐用的纸箱配送，我们在每个细节上用心，让商品能安全送至你手上。

    <h3>商品追踪</h3>
    商家发货以后会通过手机短信通知收件人。您也可以登录来因盒，在“个人中心”的“订单记录”和"平台通知"下查看包裹状态和运单号。
    你也可以访问微信服务号选择自助客服或者人工客服，询问派送状态。

    <h3>付款方式</h3>
      来因盒支持在线微信和支付宝支付，购物费用均以人民币结算，无需以欧元支付。来因盒负责换汇支付上游德国厂家（商家）。

    <h3>线上价格制定</h3>
      来因盒的商品价格和物流费都以当天欧元汇率转换成人民币数额，汇率的波动可能带来产品价格的细微波动。
  </div>

</div>
</div>
