<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>买家购物指南</h1>

  <div class="page-static__text">

    <a href="#1">来因盒购买流程</a>
    <a href="#2">产品质量 | 海关关税</a>
    <a href="#3">运费计算及物流方式</a>
    <a href="#4">商品追踪</a>
    <a href="#5">付款方式</a>
    <a href="#6">线上价格制定</a>
    <a href="#8">取消订单</a>
    <a href="#9">换货</a>
    <a href="#10">退款退货</a>

    <div class="page-static__tag" id="1"></div>
    <h3>来因盒购买流程</h3>

      1.  将你想买的商品添加到购物车
      2.  点击购物车开始下单
      3.  登录/注册
      4.  填写收件人地址及身份证号
      5.  在线完成支付
      6.  跟踪订单动态

    <div class="page-static__tag" id="2"></div>
    <h3>产品质量 | 海关关税</h3>
      来因盒里的所有商品均为德国本地市场在销售符合当地质量标准的产品，如与中国相关标准存在差异或手续资质要求均以欧洲/德国标准为准。
      我们的所有商品都从德国厂家（商家）直接发货至国内，然后经阳光清关完税后派送至你手中。

    <div class="page-static__tag" id="3"></div>
    <h3>运费计算及物流方式</h3>

      你订购的商品均以空运寄送，以便能在最短时间内将你的商品寄达。我们在确认订单、身份证号码的正确性、以及完成支付后， 将即刻通知德国厂家出货，从完成付款后的15个工作日以内（不含德国与中国法定假日）将货品送达。
      你订购的物品皆由坚实耐用的纸箱配送，我们在每个细节上用心，让商品能安全送至你手上。

    <div class="page-static__tag" id="4"></div>
    <h3>商品追踪</h3>
    商家发货以后会通过手机短信通知收件人。您也可以登录来因盒，在“个人中心”的“订单记录”和"平台通知"下查看包裹状态和运单号。
    你也可以访问微信服务号选择自助客服或者人工客服，询问派送状态。

    <div class="page-static__tag" id="5"></div>
    <h3>付款方式</h3>

      来因盒支持在线微信和支付宝支付，购物费用均以人民币结算，无需以欧元支付。来因盒负责换汇支付上游德国厂家（商家）。

    <div class="page-static__tag" id="6"></div>
    <h3>线上价格制定</h3>

      来因盒的商品价格和物流费都以当天欧元汇率转换成人民币数额，汇率的波动可能带来产品价格的细微波动。

    <div class="page-static__tag" id="9"></div>
    <h3>换货</h3>

      来因盒为一个跨境电商平台，所有商品均由德国制造商家直邮至收件人，因跨境物流的管理费用与成本，来因盒无法提供你换货的要求，请你在下单前认真确认你所选购的商品。

    <div class="page-static__tag" id="10"></div>
    <h3>退款退货</h3>

      当以下其中一种情形发生时，买家可在收件后七天内向来因盒提出退货与退款申请：

      • 邮包完好，但卖家寄出的商品与订单不符或者商品有缺陷
      • 商品因运输过程有严重损害，无法正常使用。买家必须在收件同时立即要求快递员签字，拍照并联系当地邮局开具包裹破损证明，凭该证明与实际商品照片向来因盒申请退货。
      • 因个人原因欲将完整无损坏的商品退回。此商品必须未经使用、包装完整未开封且不影响二次贩售的情况才接受退货，商品在德国与中国之间的往返运费需由买家承担。
      所有退货的申请皆须附上照片为证，并在收件七天内向来因盒提出申请。
      若退款申请信息完整且於收件七天内的受理期间提出，你的申请经来因盒核对属实并且将商品完整退回给商家，来因盒将在收到商家退货到件通知后的30天内将商品售价和运费（不包含已缴的税额）退回。

      当你决定向来因盒提出退款时，请遵照以下步骤进行：

      • 收到的商品与订单不符或有商品质量有缺陷:

      1、  <a href="mailto:customer@germanyinthebox.com">customer@germanyinthebox.com</a>请把订单号和实际的产品照片发到<a href="mailto:customer@germanyinthebox.com">customer@germanyinthebox.com</a></a>，并加以说明。我们将尽快与你取得联系。
      2、  通过退货审核后，请将欲退回的商品依照客服人员给你的寄件信息用包裹的原包装寄回。
      3、  退货的邮费将由商家全额支付，建议你将邮件选择为到货付款，若你已支付退货邮件运费，请在退货后三个工作天内以电邮附档形式 (pdf. jpg.) 寄给客服<a href="mailto:customer@germanyinthebox.com">customer@germanyinthebox.com</a>。退货的运费将与你申请的退款一并退回。
      4、  请选择保一家安全可靠的快递公司(比如EMS或其他提供类似服务的快递公司)，若退货包裹遗失或商家寄回产品在卖家收货时已损坏，你申请的退款与退货的邮费将不予受理。
      5、  请务必在海关报关单上注明 ”退货-没有商业价值”。否则退还商品进入德国海关还会产生进口关税。
      6、  按照你的意愿，商家重新发货或者退还已收到的货款。

      • 寄送过程中邮包遭到损坏

      1、  如果在配送时发现产品已经受损以至于无法使用，请向快递小哥索要包裹损坏证明。
      2、  若收到包裹严重破损而导致无法正常使用产品，请将损坏产品的照片与包裹损坏证明，寄至<a href="mailto:customer@germanyinthebox.com">customer@germanyinthebox.com</a>，客服将于收到申请的14个工作天内与你联系。
      3、  收到退货审核时，客服将通知你下一步的做法。如果需要寄回，请依照德国卖家的要求并按照客服人员提供的寄件信息，将损坏的商品重新包装寄回给商家。
      4、  退货的邮费将由商家全额支付，建议你将邮件选择为到货付款，若必须提前支付退货邮件运费，请在寄出退货三个工作天内以电邮附档形式 (pdf. jpg. png.) 寄给客服<a href="mailto:customer@germanyinthebox.com">customer@germanyinthebox.com</a>。退货的运费将与你申请的退款一并退回。
      5、  请自行选择一家可靠的国际快递公司 (比如EMS、DHL或其他提供类似服务的快递公司)寄回损坏产品。
      6、  请务必在海关报关单上注明”退货-没有商业价值”。否则退货商品进入德国海关所产生的任何税费将由顾客自行承担。

      • 因个人原因欲将完整无损坏的商品退回

      1、  如果用户因个人的原因要求退货，用户须自行负担寄回德国的运费。
      2、  退回的商品必须完整，不影响二次销售和使用。药品、补给品、食品打开包装后不能退还。部分商品因清洁卫生因素（女性个人卫生用品等）不能退还。
      3、  请将退货申请寄至<a href="mailto:customer@germanyinthebox.com">customer@germanyinthebox.com</a>，客服将于收到申请的14个工作天内与你联系。
      4、  请选择保值、保固并可追踪包裹的寄件方式，建议你选择一间安全可靠的快递公司(比如EMS或其他提供类似服务的快递公司)。若退货包裹遗失或商家回报产品在收货时已损坏，你申请的退款将不予受理。
      5、  请务必在海关报关单上注明”退货-没有商业价值”。否则退货商品进入德国海关所产生的任何税费将由顾客自行承担。

      来因盒有权不对任何不可抗力因素引起的运送迟延履行责任。不可抗力因素包括（但不限于）火灾、水灾、恶劣天气、爆炸、战争、恐怖袭击、劳资纠纷或当地政府行为。

  </div>

</div>
</div>
