<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>常见问题解答</h1>
    
    <div class="page-static__text">

    <h3>为什么要提供订单收件人的身份证号码？</h3>

    来因盒是一个阳光合法的跨境购物平台，所有商品均以直邮的方式入关，为满足海关和税务机关的要求，通关包裹需有收件人身份证号码作为通关信息。
    身份证号码在验证后将由来因盒的数据库保存，同一收件人只需提供一次。除了提交海关验证以外，来因盒决不对第三方以任何方式透露你的身份证信息，你可安心地在来因盒购物。

    <h3>如果付款人跟收件人非同一个人，身份证号码要给谁的？</h3>
    
    订单收件人。
    根据中国海关总署令第147号《海关总署关于修改〈中华人民共和国海关对进出境快件监管办法〉的决定》第22条，进口商品需提供收件人身份证号以供查验。
    
    <h3>为什么购买的产品要按店铺分别下单？</h3>

    来因盒直接连接你和德国生产商，你的商品从厂家出货后，经物流直接寄送到你手中。这样，可以完全保证你的产品货源来自德国制造者和德国商家的同时，为你消除了不必要的成本，例如代理、零售和代购成本。每个店铺所购买的产品属于同一个订单，不同店铺的产品由于上述物流原因不能合为一单。

    </div>

  </div>

</div>