<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>Datenschutzerklärung</h1>

  <div class="page-static__text">

    Der Schutz der persönlichen Daten des Nutzers ist DigPanda GmbH (nachfolgend als „Betreiber“), dem Betreiber der Produktplattform Germany In The Box(nachfolgend als „GBox“), ein wichtiges Anliegen. Die Erhebung, Verarbeitung und Nutzung der personenbezogenen Daten erfolgt nach den strengen Vorgaben des in der Bundesrepublik Deutschland geltenden Datenschutzrechts unter dem Grundsatz der Datenvermeidung, Datentransparenz und Datensicherheit. Die erhobenen Daten werden von dem Betreiber nur insoweit verarbeitet und genutzt, wie dies für die Durchführung der mit dem Nutzer abgeschlossenen Verträge und die Pflege der daraus resultierenden Kundenbeziehung erforderlich, gesetzlich zulässig und von dem Nutzer gewünscht ist.

    Der Betreiber bedient sich geeigneter und organisatorischer Sicherheitsmaßnahmen, um durch Betreiber gespeicherte persönliche Daten der Nutzer gegen Manipulation, teilweisen oder vollständigen Verlust und gegen unbefugten Zugriff Dritter zu schützen. Die Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert. Die personenbezogenen Daten werden nur mit dem Wissen des Nutzers und seiner Einwilligung durch Bestätigung bei der Registrierung als Nutzer erhoben.

    Zu diesen Datenschutzgesetzen zählen vor allem das Telemediengesetz (TMG), das Bundesdatenschutzgesetz (BDSG), die datenschutzrechtlichen Bestimmungen des Telekommunikationsgesetzes (§§ 85 ff. TKG) und die gesetzgeberischen Vorgaben auf EU-Ebene. Die nachfolgende Datenschutz-Erklärung informiert darüber, wie der Schutz und die Sicherheit aller personenbezogenen Daten bei Betreiber auf www.germanyinthebox.com gemäß den derzeit geltenden gesetzlichen Bestimmungen gewährleistet wird.

    1.Erhebung und Speicherung von personenbezogenen Daten

    Gemäß § 3 Abs. 1 BDSG sind personenbezogene Daten Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren Person.

    1a. Der Betreiber erhebt und speichert die E-Mail Adresse und die mobile Telefonnummer, die Betreiber vom User zum Zweck der Anmeldung und Nutzerkonto Recovery erhält. Ferner erhebt und speichert der Betreiber auch die chinesische Personal-ID und Adresse eines Käufers für die Zollabwicklung und Zustellung der Sendung.

    1b. Der Betreiber erhebt und speichert außerdem automatisch, nicht personenbezogene Daten, wie die IP-Adresse, die Art des Browsers, die Art des Mobiltelefons und besuchte Seiten der Website. Die Erhebung und Speicherung dienen ausschließlich Serviceprozessen und Dienstverbesserung. Es erfolgt keine Zusammenführung der personenbezogenen Daten.

    2. Verwendung der E-Mail Adresse

    2a. Mit der Registrierung auf GBox, erklärt sich der Nutzer damit einverstanden, Notifikationen und Kaufbestätigungen an die von ihm angegebene E-Mail Adresse zu erhalten.

    2b. Der Betreiber kann die E-Mail Adresse der Nutzer auf Basis entsprechender Einwilligungserteilung verwenden, um Updates, Newsletter oder aktuelle Informationen über den Service von GBox zu verschicken. Rechtsgrundlage ist Artikel 6 Abs. 1 a) DSGVO.

    2c. In jedem Newsletter haben die Nutzer die Möglichkeit anzugeben, dass sie in Zukunft keine E-Mails mehr erhalten möchten.

    3. Weitergabe von personenbezogenen Daten

    Der Betreiber gibt personenbezogene Daten nicht ohne die Einwilligung der Nutzer oder ohne gesetzliche Erlaubnis an Dritte weiter, insbesondere werden Daten nicht verkauft, vermietet oder eingetauscht. Rechtsgrundlage ist Artikel 6 Abs. 1 a) DSGVO.

    4. Verwendung von Cookies

    4a. Bei dem Besuch der GBox Website werden Textdateien (sogenannte Cookies) auf dem Computer des Users gespeichert. Diese Cookies dienen dazu unseren Service nutzerfreundlicher, effektiver und sicherer zu machen. Dank dieser Dateien ist es beispielsweise möglich, dass speziell auf die User Interessen abgestimmte Informationen auf der Seite angezeigt werden. Der Zweck besteht darin, unseren Dienst unseren Userwünschen bestmöglich anzupassen und Ihnen das Erlebnis bei uns so komfortabel wie möglich zu gestalten.

    4b. Selbstverständlich können Sie Ihren Browser so einrichten, dass er unsere Cookies in Zukunft nicht auf der Festplatte ablegt oder bereits abgelegte Cookies löscht. Rechtsgrundlage ist Artikel 6 Abs. 1 a) DSGVO.

    Beispiel im Internet Explorer 11.0:
    1). Klicken Sie auf der Startseite auf "Internet Explorer", um Internet Explorer zu öffnen.
    2). Klicken Sie auf der Startseite auf "Internet Explorer"
    3). Klicken Sie dann auf das Feld "Einstellungen"
    4). Klicken Sie nun auf "Optionen" und anschließend unter "Verlauf" auf "Auswählen"
    5). Aktivieren Sie das Kontrollkästchen "Cookies" und klicken Sie dann auf "Löschen"

    Beispiel im Firefox 30:
    1). Wählen Sie im Menü "Extras" den Punkt "Einstellungen".
    2). Klicken Sie auf den Reiter "Datenschutz".
    3). Wählen Sie in dem Drop-Down Menü den Eintrag "nach benutzerdefinierten Einstellungen anlegen" aus.
    4). Wählen Sie die Schaltfläche ,,Cookies anzeigen".
    5). Nun können Sie einstellen, ob Cookies akzeptiert werden sollen, wie lange Sie diese Cookies behalten wollen und Ausnahmen hinzufügen, welchen Websites Sie immer bzw. niemals erlauben möchten Cookies zu benutzen.
    6). Mit 'OK" bestätigen Sie Ihre Einstellung.

    4c. Durch das Anklicken eventueller Bannerwerbung auf der Website von GBox kann der User auf fremde Seiten gelangen. Hier kann es sein, dass auch vom Adressaten Cookies gesetzt werden. Für diese Cookies ist Betreiber rechtlich nicht verantwortlich. Zu der Benutzung derartiger Cookies und der darauf gespeicherten Informationen durch die GBox Werbepartner, sollten deren Datenschutzerklärungen verglichen werden.


    5. Tracking

    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (nachfolgend „Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.

    Hierin liegt auch unser berechtigtes Interesse gemäß Art 6 Abs. 1 S. 1 f) DSGVO.

    Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.

    Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.

    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.

    Neben Google Analytics, der Betreiber benutzt auch die analytischen Services der US amerikanischen Firma Flurry (www.flurry.com, nachfolgend „Flurry“). Vor allem benutzt GBox Flurry Analytics, Flurry for Publishers und Flurry for Adversiters um die Nutzerfreundlichkeit der GBox mobilen App zu pflegen und verbessern. Ähnlich wie bei Google, User können die Erfassung der Nutzerinformationen verhindern, in dem er unter https://dev.flurry.com/secure/optOut.do die Ausstiegoption wahrnimmt.

    Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.

    6. Einbindung von WeChat Social Plugins

    Der Betreiber benutzt Social Plugins von WeChat, um das Angebot der Website persönlicher zu machen. Genutzt werden unter anderem das WeChat-Login und die „Friends Zone“ Funktion (auch bekannt als 朋友圈). Es handelt sich dabei um ein Angebot des chinesischen Unternehmens Tencent Holdings Ltd.
    Besucht der Nutzer eine Seite von GBox, die ein solches Plug-in enthält, stellt der Browser eine Verbindung zu WeChat her und die Inhalte werden von WeChat geladen. Der Besuch auf den Seiten von GBox kann dadurch ggf. von WeChat nachverfolgt werden, wenn der Nutzer einen Account bei WeChat besitzt oder schon einmal eine Seite mit WeChat Social Plug-ins besucht hat.

    Darüber hinaus erhält WeChat Informationen des Nutzers, wenn dieser ein solches Social Plug-in nutzt (z.B. Login with WeChat). Dies ist notwendig, um die Informationen bspw. mit Freunden zu teilen. Der Betreiber hat dabei keinen Einfluss auf den Inhalt der Plug-ins und die Informationsübermittlung an WeChat.
    WeChat stellt in seinem Datenschutzhinweis detaillierte Angaben zu Umfang, Art, Zweck und der Weiterverarbeitung der Nutzerdaten zur Verfügung.

    Durch vorheriges Ausloggen bei WeChat und Löschen eines eventuell gesetzten Cookies (mehr Informationen rund um Cookies finden Sie unter Punkt 4), kann der Nutzer vermeiden, dass WeChat während des Besuches auf GBox Informationen sammelt.

    7. Änderungen der Datenschutzrichtlinien

    7a. Der Betreberr behält das Recht vor, diese Datenschutzbestimmung zum Schutz der persönlichen Daten des Nutzers zu ändern. User sollten diese Website von Zeit zu Zeit aufsuchen, um die aktuelle Datenschutzerklärung zu lesen.

    7b. Ein Nutzer ist an die Änderungen der Datenschutzrichtlinie gebunden, wenn er die Website verwendet, nachdem diese Änderungen bekannt gegeben wurden.

    8. Kontaktaufnahme

    Fragen oder Anregungen können gerne über customer@laiyinn.com gestellt werden.

    Ende der Datenschutzerklärung
    Stand: Mai 2018

  </div>

</div>
</div>
