<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>Presse</h1>

  <div class="page-static__text">
    <h2>IHK</h2>

    <img src="/images/pages/IHK_Dez_2016.png">
  </div>
</div>
</div>
