<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>来因盒国际运费表</h1>

  <div class="page-static__text">

    <div class="+centered">
      <img src="/images/shipping-costs.png" width="500px">
    </div>

    来因盒给你实惠的国际运费！买大买小怎么比都划算！首重500克 5.19欧元，前两公斤每500克计算。两公斤起每公斤加2.5欧元。人民币换算运费会随欧元及人民币汇率波动而有细微改变。

  </div>

</div>
