<div class="col-md-12">
  <div class="row">
    <h3>Transaction details</h3>
    <hr>
  </div>
  <div class="row">
    Request ID : <%= @order_payment.request_id %>
    <br />
    Transaction ID : <%= editable_field(@order_payment, admin_order_payment_path(@order_payment), :transaction_id, :text_field) %>
    <br />
    Payment Method : <%= @order_payment.payment_method %>
    <br />
    Transaction Type : <%= @order_payment.transaction_type %>
    <br />
  </div>
</div>
