=load-font($family, $src, $style: normal, $weight: normal)
  @font-face
    font-family: $family
    src: url('#{$src}.eot') // IE9 compat
    //src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
    //  url('#{$src}.woff') format('woff'), // standards
    //  url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
    //  url('#{$src}.svg##{$family}') format('svg') // legacy iOS

    font-style: $style
    font-weight: $weight

=avatar($border: 3px)
  float: left
  margin-top: 1em
  margin-right: 1em
  position: relative

  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

  border: $border white solid

=overlay($color: black, $opacity: 0.4)
  position: absolute
  z-index: 1
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: $color
  opacity: $opacity

=onoverlay
  position: absolute
  z-index: 2
  left: 0
  top: 0
  right: 0
  bottom: 0

=blurred-background($blur: 5px)
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);

=border-radius($radius: 1em)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

=padding-vertical($space: 1em)
  padding-top: $space
  padding-bottom: $space

=no-list-style
  list-style: none
  margin: 0
  padding: 0

=navbar-system-borders($color-base-text, $color-border, $color-over, $color-over-background)

  nav
      z-index: 5
      position: relative

      ul
        +no-list-style

        a
          display: block
          color: $color-base-text
          text-decoration: none
          line-height: 32px

        li
          &:hover
            > ul
              width: 100%
              display: block
              border-top: 2px solid $color-border
            a
              color: $color-base-text
              &:hover
                color: $color-over
        ul
          display: none
          position: absolute
          top: 100%
          left: 0
          background: $color-over-background
          padding: 0
          li
          
            padding-left: 15px
            padding-right: 15px

            float: none
            width: 100%
          //a
            //color: $color-black
            //line-height: 120%
            //padding: 15px 20px
          ul
            top: 0
            left: 100%

=navbar-system($color-base-text, $color-over, $color-over-select)

  nav
      z-index: 5
      position: relative

      ul
        +no-list-style

        a
          display: block
          color: $color-base-text
          text-decoration: none
          line-height: 32px
          padding: 5px 20px

        li
          &:hover
            background: $color-over-select
            > ul
              width: 100%
              display: block
            a
              color: black
              &:hover
                color: white
        ul
          display: none
          position: absolute
          top: 100%
          left: 0
          background: $color-over
          padding: 0
          li
            float: none
            width: 100%
          //a
            //color: $color-black
            //line-height: 120%
            //padding: 15px 20px
          ul
            top: 0
            left: 100%