+tweak(centered)
  text-align: center
  margin: 0 auto

+tweak(vertical-centered)
  padding-top: 35px

+tweak(spacer)
  padding: 1em

+tweak(strong)
  font-weight: 600

+tweak(up)
  text-transform: uppercase

+tweak(hidden)
  display: none