+tweak(centered)
  text-align: center
  margin: 0 auto

+tweak(vertical-centered)
  padding-top: 35px

+tweak(small-spacer)
  padding: 0.5em

+tweak(spacer)
  padding: 1em

+tweak(big-spacer)
  padding: 5em

+tweak(bold)
  font-weight: 600

+tweak(small-gap)
    display: block
    position: relative
    margin: 0.2em 0 0.2em 0
    clear: both
    overflow: hidden

+tweak(white-box) // everything with this style should have their own component
  background-color: $color-white
  padding: 1em
  +border-radius

+tweak(nomargin)
  margin: 0

+tweak(red)
  color: $color-red

+tweak(green)
  color: $color-green
  
+tweak(strong)
  font-weight: 600

+tweak(up)
  text-transform: uppercase

+tweak(hidden)
  display: none

+tweak(empty-space)
  height: 50px

+tweak(grey)
  color: $color-grey

+tweak(price-yuan)
  font-size: 1.8em
  color: $color-green
+tweak(price-euro)
  font-size: 1em
  color: $color-black

+tweak(quoted)
  font-family: 'Raleway', sans-serif
  font-style: italic

+tweak(menu-bordering)
  border-right: 1px solid $color-grey

+tweak(overlay)
  +overlay(black, 0.5)
  
+tweak(onoverlay)
  +onoverlay

+tweak(blurred)
  +blurred-background(3px)

+tweak(avatar)
  +avatar