+tweak(centered)
  text-align: center
  margin: 0 auto

+tweak(vertical-centered)
  padding-top: 35px

+tweak(spacer)
  padding: 1em

+tweak(big-spacer)
  padding: 5em

+tweak(red)
  color: $color-red
  
+tweak(strong)
  font-weight: 600

+tweak(up)
  text-transform: uppercase

+tweak(hidden)
  display: none

+tweak(empty-space)
  height: 50px

+tweak(avatar)
  position: absolute
  top: -15px
  img
    border-radius: 25px
    width: 50px

+tweak(grey)
  color: $color-grey

+tweak(quoted)
  font-family: 'Raleway', sans-serif
  font-style: italic