$color-very-dark-green: #29754a
$color-dark-green: #33965e
$color-flash-green: #85bf41
$color-green: #83be58
$color-light-green: #e6fbd7
$color-very-light-green: #f5f9ee

$color-purple: #732c51
$color-flash-red: #df002f
$color-red: #d6506c
$color-pink: #f29cae

$color-black: #464646
$color-almost-black: #666666
$color-dark-grey: #919191
$color-grey: #bdc3c7
$color-light-grey: #ABABA8
$color-super-light-grey: #e1e1e1
$color-almost-white: #f9f9f9
$color-white: white

$color-shadow: rgba(139, 139, 139, 0.32)

$color-dark-blue: #0b62a4
$color-blue: #3498db

$color-light-yellow: #fffff0
$color-orange: #e67e22

$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

$header-buttons-icon-size: 20px
$header-buttons-text-size: 14px
