// ===========================================================
// Variables.sass
// ===========================================================
//
// @see http://sass-lang.com/guide#topic-2
//
// In this file you can add some variables to use in the entire
// project.
//
// @example
//
// $color-grey: #ccc
//
$color-green: #659443 //#83be58
$color-light-green: #e6fbd7 // #2ECC71
$color-light-green-2nd: #83be58 // #a6f869
$color-red: #d6506c
// $color-light-grey: #FBFBFB
$color-light-grey: #8b8b8b
$color-very-light-grey: #C3C3C3
$color-ultra-light-grey: #f9f9f9
$color-nearly-white: #f9f9f9
$color-grey: #bdc3c7
$color-medium-dark-grey: #919191
$color-blue: #3498db
$color-dark-blue: #0b62a4
$color-white: rgb(253, 253, 253)
$color-grey: #eeeeee // rgb(253, 253, 253)
$color-dark-grey: #ABABA8
$color-light-white: white
$color-black: #666
$color-very-black: #464646
$color-light-yellow: #fffff0
$color-grey-placeholder: #B8B8B8
$color-orange: #e67e22
$color-purple: #732c51
$color-pink: #f29cae

$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

$header-buttons-icon-size: 20px
$header-buttons-text-size: 14px
