<% if service.cover.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="banner lazy" data-original="<%= service.cover.url %>" style="background-image:url('/images/grey.jpg');">
      </div>
    </div>
  </div>
<% end %>
