<div class="row">
  <div class="col-md-12">
    <div class="service-infos__introduction-header">
    </div>
    <div class="service-infos__introduction">
      <h1><%= service.name %></h1>
      <p><%= simple_format service.long_desc %></p>
    </div>
  </div>
</div>
