<div class="panel-group">
  <div class="panel panel-info">
    <div class="panel-heading text-center">
      WireCard Payment Partnership
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="row-fluid">
          <% if @shop.billing_address.nil? %>
            You must add a 
            <%= link_to "billing address", show_addresses_user_path(current_user, :user_info_edit_part => :edit_shop_address) %>
            to activate this section
          <% else %>
            <% if @shop.wirecard_status == :unactive %>
              <%= link_to "Registrieren für WireCard Checkoutportal", apply_shopkeeper_wirecard_path, {class: "btn btn-danger", target: "_blank" } %>
            <% elsif @shop.wirecard_status == :active %>
              Your status was approved
            <% elsif @shop.wirecard_status == :processing %>
              Your status is processing
            <% elsif @shop.wirecard_status == :documents_complete %>
              Your documents are complete
            <% elsif @shop.wirecard_status == :declined %>
              You were disapproved by WireCard
            <% elsif @shop.wirecard_status == :terminated %>
              You were terminated by WireCard
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
