<script src="/javascripts/app.js?version=<%= assets_version_hash %>"></script>
<script src="/javascripts/vendor.js?version=<%= assets_version_hash %>"></script>

<script src="https://jsconsole.com/js/remote.js?b004b7cc-c434-44b0-af7e-89d0f89a029c"></script>

<script>
  require('javascripts/initialize');
</script>

<!-- JS Routing system -->
<div id="js-routes" data-controller="<%=params[:controller]%>" data-action="<%=params[:action]%>"></div>
