<div class="row">
  <div class="col-md-10">
    <h2>Referrer groups</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= new_admin_referrer_group_path %>"><i class="fa fa-plus tooltipster" title="Create new coupon"></i></a>
  </div>
</div>

<%= render partial: "admin/referrer_groups/table", :locals => { :referrer_groups => @referrer_groups } %>

<%= will_paginate @referrer_groups, renderer: BootstrapPagination::Rails %>
