<% unless render_breadcrumbs.empty? %>

  <!-- TODO : this breadcrumb system should be refactored and the logic of the header split depending the role of the user -->
  <% if current_user&.admin? || current_user&.shopkeeper? %>
  <div class="row col-md-4 col-md-push-3">
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
  <% else %>
  <div class="row col-md-8 col-md-push-2 col-md-pull-2">
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  </div>
  <% end %>
<% end %>
