<% if @category_navigation_store.nil? %>
  <ul class="col-md-2">
  </ul>
<% else %>
  <ul>
    <% @category_navigation_store.roots.each do |category| %>
    <li class="col-md-2">

      <a href="<%= show_products_in_category_path(category.id) %>"><%= category.name %></a>

      <% if @category_navigation_store.has_children?(category) %>
        <ul>
          <%= @category_navigation_store.sub_tree(category) %>
        </ul>
      <% end %>

    </li>
    <% end %>
  </ul>
<% end %>