<% if current_user.nil? %>

  <%= render partial: "layouts/header/parts/my_account/signin" %>

<% else %>

  <% if current_user.decorate.new_notifications? %>
    <a href="<%= shared_notifications_path %>">
  <% else %>
    <a href="<%= edit_account_user_path(current_user) %>">
  <% end %>

  <%= render partial: "layouts/header/parts/my_account/avatar" %>

  </a>

<% end %>
