<a href="<%= manage_cart_orders_path %>">

  <div class="main-header__cart">
  <i class="fa fa-shopping-cart"></i>
  <span id="total-products">
  <%= total_number_of_products %>
  </span>

<!--
position: absolute;
    margin: auto;
    left: 6px;
    /* padding-right: 2em; */
    top: -18px;
}
-->

  </div>

</a>
