<a href="<%= customer_cart_path %>">

  <div class="main-header__cart">
    <i class="fa fa-shopping-cart"></i>
    <span id="total-products">
      <%= cart_manager.products_number %>
    </span>
  </div>

</a>
