<div class="provision__insight">

  <!-- PROVISION INSIGHT -->
  <div class="provision__title">
    Provision Insight
  </div>

  <!-- PROVISION DETAILS -->
  <div class="provision__insight-details">

    <div class="row +nomargin">
      <div class="col-xs-6">
        <div class="provision__insight-details-total-earned">
          Total earned
          <div class="provision__insight-details-total-earned --digits"><%= referrer.total_earned.in_euro.display %></div>
        </div>
      </div>
      <div class="col-xs-6 +nopadding-left">
        <div class="provision__insight-details-current-balance">
          Current balance
          <div class="provision__insight-details-current-balance --digits"><%= referrer.current_balance.in_euro.display %></div>
          <div class="provision__insight-details-note">you can claim this money from <%= setting.referrer_money_claim.in_euro.display %></div>
        </div>
      </div>
    </div>

  </div>

  <!-- CLAIM THE MONEY -->
  <div class="+small-spacer"></div>
  <a href="<%= claim_customer_referrer_path %>" data-method="post" class="big-button --blue">Claim your money</a>
  <div class="+spacer"></div>

</div>
