<% unless operations.count == 0 %>
<div class="provision__operations">

  <!-- OPERATIONS LIST -->
  <div class="provision__title">
    Operations
  </div>

  <div class="provision__list">
    <table>
      <thead>
        <th>
          Transfer
        </th>
        <th>
          Description
        </th>
        <th>
          Date
        </th>
      </thead>
      <tbody>

        <% operations.each do |operation| %>
          <tr data-href="#">
            <td>
              <span class="provision__list --blue --link"><%= operation.amount.in_euro.display %></span>
            </td>
            <td>
              <%= operation.desc %>
            </td>
            <td>
              <%= time_ago_in_words(operation.c_at) %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
