<div class="col-md-12">
  <div class="row">
    <h3>Operations</h3>
    <hr>
  </div>
  <div class="row">

    <% if operations.size > 0 %>
    <table class="white-table">
      <thead>
        <th>
          ID
        </th>
        <th>
          Amount
        </th>
        <th>
          Description
        </th>
        <th>
          Creation
        </th>
      </thead>
      <tbody>
        <% operations.each do |operation| %>
        <tr>
          <td>
            <%= operation.id %>
          </td>
          <td>
            <%= operation.amount.in_euro.display %>
          </td>
          <td>
            <%= operation.desc %>
          </td>
          <td>
            <%= operation.c_at %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <div class="+white-box +centered">
      <h4>
        No operation yet.
      </h4>
    </div>
    <% end %>

  </div>
</div>
