<div class="col-md-12">
  <div class="row">
    <h3><%= I18n.t('edit_product_detail.status_info') %></h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">

      <!-- Agreement -->
      <div class="row form-group">
        <div class="col-md-2">
          <%= form.label :status, :class => 'switch' do %>
            <%= form.check_box :status, {:required => true} %>
            <div class="switch__slider"></div>
          <% end %>
        </div>
        <div class="col-md-10">
          <%= I18n.t(:info, scope: 'edit_product_detail.status') %>
        </div>
      </div>
    </div>
  </div>

</div>
