<div class="col-md-12">
  <div class="row">
    <h3> <%= I18n.t('edit_product_detail.product_data') %></h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">

      <!-- Data (aka Description of the Sku) -->
      <div class="row form-group">
        <div class="col-md-4">
          <%= I18n.t('edit_product_detail.product_data') %>
          <%= js_tips(:id => :product_data, :tip => I18n.t('edit_product_detail.product_data_info')) %>
        </div>
        <div class="col-md-8">
          <%= form.text_area :data, :class => 'form-control required' %>
        </div>
      </div>

    </div>
  </div>

</div>
