<!-- Logo -->
<div class="+centered">
    <a href="<%= identity_solver.origin_url %>">
      <!-- NOTE : if it evolved to more path, improve the global system, abstract from the view -->
      <!-- We did this exception because people have the tendency to screenshot the entire page -->
      <% unless section_active? qrcode_customer_referrer_path %>
        <img src="<%= solve_logo %>" />
      <% end %>
    </a>
</div>
