<!-- Logo -->
<div class="+centered">
    <a href="<%= identity_solver.origin_url %>">
      <% if current_user&.referrer %>
        <img src="/images/logos/germany-in-the-box-resellers.svg">
      <% else %>
        <img src="/images/logos/germany-in-the-box.svg">
      <% end %>
    </a>
</div>
