.nice
  font-size: 0.8em
  height: 2.5em
  line-height: 2.5em
  border: 0
  &:focus, &:hover
    border: 2px solid $color-blue

.nice ul.list
  position: absolute
  left: -3em
  +shadow-box

@media (min-width: 768px)
  .navbar-toggle
      display: block
