.nice
  font-size: 17px
  height: 1.5em
  line-height: 1.5em
  border: 0

.nice ul.list
  // position: absolute
  width: 100%
  +shadow-box

.nice-select .option
  line-height: 30px
  min-height: 30px

@media (min-width: 768px)
  .navbar-toggle
      display: block
