// Customer colors
$color-white: #ffffff
$color-dark-grey: #5c5c5c
$color-light-grey: #8b8b8b
$color-dark-green: #33965e
$color-light-green: #b6d98d
$color-very-light-green: #f5f9ee
$color-pink: #f29cae
$color-shadow: rgba(139, 139, 139, 0.32)
