// Customer colors
$color-white: #ffffff
$color-dark-grey: #5c5c5c
$color-light-grey: #8b8b8b
$color-super-light-grey: #e1e1e1
$color-dark-green: #33965e
$color-green: #68a423
$color-light-green: #b6d98d
$color-flash-green: #85bf41
$color-very-light-green: #f5f9ee
$color-pink: #f29cae
$color-shadow: rgba(139, 139, 139, 0.32)
$color-red: #d6506c
