<% if addresses.size > 0 %>
  <table class="white-table">
    <thead>
      <th>
        Id #
      </th>
      <th>
        City
      </th>
      <th>
        Zip
      </th>
      <th>
        Address
      </th>
      <th>
        Country
      </th>
      <th>
        Action
      </th>
    </thead>
    <tbody>
      <%= render partial: "addresses/addresses_table_list", collection: addresses, :as => :address %>
    </tbody>
  </table>
<% else %>
  <h4>
    No address
  </h4>
<% end %>