- if addresses.size > 0
  %table.table.cart-table
    %thead
      %th
        Id #
      %th
        City
      %th
        Zip
      %th
        Address
      %th
        Country
      %th
        Action
    %tbody
      = render partial: "addresses/addresses_table_list", collection: addresses, :as => :address

- else
  %h4
    No address