<div class="col-md-12">
  <div class="row">
    <h3>Action</h3>
    <hr>
  </div>
  <div class="row">

    <%= render partial: 'admin/coupons/table/action', :locals => { :coupon => @coupon } %>
  </div>

</div>
