<div class="row">
  <div class="col-md-10">
    <h2>Settings</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <div class="+white-box">
      <%= render partial: "admin/settings/setting/texts" %>
    </div>
    <div class="+small-spacer"></div>
  </div>

  <div class="col-md-6">
    <div class="+white-box">
      <%= render partial: "admin/settings/setting/limits_and_options" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="+white-box">
      <%= render partial: "admin/settings/setting/highlights" %>
    </div>
  </div>


</div>
