<div class="col-md-12">
  <div class="row">
    <h3>Header pictures</h3>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row +centered">
        <h4>Owner image</h4>
      </div>
      <%= js_file_upload(form: f, field: :logo) %>
    </div>
    <div class="col-md-6">
      <div class="row +centered">
        <h4>Cover image</h4>
      </div>
      <%= js_file_upload(form: form, field: :banner) %>
    </div>
  </div>

</div>
