<% if address %>
<div class="address-box">
  <ul>
    <li>
      <%= "#{I18n.t('edit_address.full_address')} : #{ address.full_address }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.country')} : #{ address.decorate.readable_country }" %>
    </li>
  </ul>
</div>
<% else %>
<h4>
  <%= "#{I18n.t('edit_order.destination_address_not_set')}" %>
</h4>
<% end %>
