<div class="form-group">
  <%= f.password_field :password, :class => 'form-control', :autocomplete => :off, :minLength => Rails.configuration.gitb[:min_password_length], :id => 'inputPassword', placeholder: I18n.t('edit_account.password') %>
  <div class="help-block with-errors"></div>
</div>
<div class="form-group">
  <%= f.password_field :password_confirmation, :class => 'form-control', :autocomplete => :off, 'data-match': '#inputPassword', 'data-match-error': I18n.t('edit_account.password_match_error'), placeholder: I18n.t('edit_account.password_confirmation') %>
  <div class="help-block with-errors"></div>
</div>

<div class="form-group">
  <%= f.password_field :current_password, :class => 'form-control form-control-important', :autocomplete => :off, :required => true, :minLength => Rails.configuration.gitb[:min_password_length], placeholder: I18n.t('edit_account.current_password') %>
  <div class="help-block with-errors"></div>
</div>
