<% if package_sets.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          <label>
           Position
          </label>
        </th>
        <th>
          <label>
           Name
          </label>
        </th>
        <th>
          <label>
            Package Skus
          </label>
        </th>
        <th>
          <label>
            Action
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <% package_sets.each do |package_set| %>
        <tr>
          <td>
            <%= editable_field(package_set, admin_shop_package_set_path(package_set.shop, package_set), :position, :text_field) %>
          </td>
          <td>
            <%= package_set.name %>
          </td>
          <td>
            <%= package_set.package_skus.count %>
          </td>
          <td align="left">
            <%= render partial: 'admin/shops/package_sets/table/action', :locals => { :package_set => package_set } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="col-md-6 col-md-push-3 col-md-pull-3 +white-box +centered">
  <h4>
   No package set available
 </h4>
</div>
<% end %>
