<div class="row">
  <div class="col-md-10">
    <h2>Shop Package Sets</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= new_admin_shop_package_set_path(@shop) %>"><i class="fa fa-plus tooltipster" title="New package set"></i></a>
  </div>
</div>

<%= render partial: "admin/package_sets/table", :locals => { :package_sets => @package_sets, :show_shop => false } %>

<%= will_paginate @sets, renderer: BootstrapPagination::Rails %>
