<div class="row">
  <div class="col-md-10">
    <h2>Categories</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= new_admin_category_path %>"><i class="fa fa-plus tooltipster" title="Create new category"></i></a>
  </div>
</div>

<%= render partial: "admin/categories/table", :locals => { :categories => @categories } %>

<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
