<div class="row">
  <div class="col-md-10">
    <h2>New Category</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div>
  <%= render partial: 'admin/categories/form', :locals => { category: @category } %>
</div>
