<div class="col-md-12">
  <div class="row">
    <h3>Action</h3>
    <hr>
  </div>
  <div class="row">

    <%= link_to "Edit this banner", edit_admin_banner_path(banner), class: "text-button --green" %>

  </div>

</div>
