<h3>Danger Zone</h3>
<hr>

<!-- Destroy banner -->
<%= link_to "Delete this banner", admin_banner_path(banner), method: :delete, data: { confirm: "Are you sure you want to delete this banner ? It cannot be undone." } , class: "text-button --delete" %>
