<h1><%= @user.decorate.full_name %> 你好, </h1>

<p>
你有新的来因盒通知： "<%= @title %>"  <br>
详情请点击<a href="<%= root_url.chomp('/') %><%= @url %>">这里</a><br>
</p>

<p>
祝你购物愉快，让优质的德国产品带给你美好的一天。 <br>
</p>

<p>
来因盒服务团队 <br>
customer@germanyinthebox.com <br>
www.germanyinthebox.com <br>
</p>
