<nav>
    <div class="col-xs-6">

      <% if general_section? %>
        <a href="#" class="js-search-button search-bar__button header-mobile__menu --green"><i class="fa fa-search"></i></a>
      <% end %>

    </div>
    <div class="col-xs-6">
        <a href="<%= customer_cart_path %>" class="header-mobile__menu --green">
          <i class="fa fa-shopping-cart"></i>
          <span class="js-total-products header-mobile__total-products +hidden">
            <%= cart_manager.products_number %>
          </span>
        </a>
    </div>

</nav>
