<div class="+spacer"></div>

<div class="referrer__insight">

  <!-- PROVISION DETAILS -->
  <div class="referrer__insight-details">
    <div class="row +nomargin">

      <div class="col-xs-6">

        <div class="referrer__insight-details-total-earned">
        <div>
          推广伙伴奖金

          <div class="referrer__insight-details-note --large">

            <li class="+left">推广伙伴请分享"智能软文"， "专属二维码"或者位于商城每个产品页面底部的"直达推广二维码"进行推广</li>
            <li class="+left">用户扫码或打开智能软文后，今后所有的下单都可追踪并实时收到奖金手机短信通知 (当日限量闪购品除外)</li>
            <br/>
            <p class="+left">注:智能软文请务必通过预览页面右上角的微信分享按钮分享才能实现有效追踪。</p>
          </div>

        </div>
          <br/>

          <%= I18n.t('referrer.your_coupons') %>
          <div class="referrer__insight-details-total-earned-digits"><span class="+green +bold"><%= referrer.main_coupon&.code %></span></div>
        </div>

      </div>
      <div class="col-xs-6 +nopadding-left">

        <div class="referrer__insight-details-current-balance">
          推广伙伴折扣
          <div class="referrer__insight-details-note --large">

            <li class="+left">推广伙伴账户登录来因盒商城 使用自己的账号下单，全部商品均可享受大幅度伙伴折扣价，折扣率请参考奖金|折扣率表</li>
            <li class="+left">如需发货到德国地址请在"地址示例"栏填写完整德国地址</li>
            <br/>
            <p class="+left">提示:因伙伴折扣价力度大，不支持使用折扣码和另计奖金。</p>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>
