<div class="+spacer"></div>

<div class="referrer__insight">

  <!-- PROVISION DETAILS -->
  <div class="referrer__insight-details">

    <div class="row +nomargin">
      <div class="col-xs-6">
        <div class="referrer__insight-details-total-earned">
          <%= I18n.t('referrer.your_coupons') %>
          <div class="referrer__insight-details-total-earned-digits"><span class="+red +bold"><%= referrer.coupons.first&.code %></span></div>
        </div>
      </div>
      <div class="col-xs-6 +nopadding-left">
        <div class="referrer__insight-details-current-balance">
          导游福利8折码(导游自用)
          <div class="referrer__insight-details-current-balance-digits">2017dy</div>
          <div class="referrer__insight-details-note --large">

            <li class="+left">重要！导游使用自己的账号下单还可收到佣金</li>
            <li class="+left">导游福利，仅限个人及家庭使用</li>
            <br/>
            <p class="+left">注:如需发货到德国地址请在"地址示例"栏填写完整德国地址，其他中国地址邮编选项随意填写即可</p>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
