<div class="+spacer"></div>

<div class="referrer__insight">

  <!-- PROVISION DETAILS -->
  <div class="referrer__insight-details">
    <div class="row +nomargin">

      <div class="col-xs-6">

        <div class="referrer__insight-details-total-earned">
        <div>
          推广伙伴奖金

          <div class="referrer__insight-details-note --large">

            <li class="+left">推广伙伴请分享"直达推广二维码"，"智能软文"， "专属二维码"进行推广</li>
            <li class="+left">用户扫码或打开智能软文后下单， 推广伙伴会实时收到奖金手机短信通知</li>
            <br/>
            <p class="+left">注:智能软文请务必通过预览页面右上角的微信分享按钮分享才能实现有效跟踪。</p>
          </div>

        </div>
          <br/>

          <%= I18n.t('referrer.your_coupons') %>
          <div class="referrer__insight-details-total-earned-digits"><span class="+green +bold"><%= referrer.main_coupon&.code %></span></div>
        </div>

      </div>
      <div class="col-xs-6 +nopadding-left">

        <div class="referrer__insight-details-current-balance">
          推广伙伴折扣
          <div class="referrer__insight-details-note --large">

            <li class="+left">推广伙伴账户登录来因盒商城 使用自己的账号下单，全部商品均可享受伙伴折扣，折扣率请参考奖金|折扣率表</li>
            <li class="+left">如需发货到德国地址请在"地址示例"栏填写完整德国地址</li>
            <br/>
            <p class="+left">提示:推广伙伴使用自己的账号下单享受折扣，不计奖金。</p>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>
