<div class="row">
  <div class="col-xs-12">
    <div class="subheader__back">
      <a href="<%= edit_customer_account_path %>">
        <i class="digpanda-back"></i><%= I18n.t(:back) %>
      </a>
    </div>
  </div>
</div>
