<h3>Actions</h3>
<hr>

<!-- Cancel @order -->
<% if @order.decorate.cancellable? %>
  <%= link_to "Cancel this order", shared_order_cancel_path(@order), method: :patch, data: { confirm: "Are you sure you want to cancel this order ?" }, class: "text-button --blue" %>
<% end %>
