<div class="col-md-12">
  <div class="row">
    <h3>Coupons</h3>
    <hr>
  </div>
  <div class="row">
    Applied at <strong><%= @order.coupon_applied_at %></strong><br />
    Real discount <strong><%= @order.coupon_discount.in_euro.display %></strong><br />
  </div>
  <div class="row">
    <%= render partial: 'admin/coupons/table', :locals => { :coupons => [@order.coupon] } %>
  </div>

</div>
