<h3>Dates</h3>
<hr>

<% if @order.paid_at %>
  <div class="col-md-6">
    <h4>Paid at</h4>
    <strong><%= @order.paid_at.utc %></strong>
  </div>
<% end %>

<% if @order.cancelled_at %>
  <div class="col-md-6">
    <h4>Cancelled at</h4>
    <strong><%= @order.cancelled_at.utc %></strong>
  </div>
<% end %>

<br />

<div class="col-md-6">
  <h4>Updated at</h4>
  <strong><%= @order.u_at.utc %></strong>
</div>

<div class="col-md-6">
  <h4>Created at</h4>
  <strong><%= @order.c_at.utc %></strong>
</div>
