<h3>Dates</h3>
<hr>

<% if @order.paid_at %>
  Paid at <strong><%= @order.paid_at.utc %></strong><br />
<% end %>

<% if @order.cancelled_at %>
  Cancelled at <strong><%= @order.cancelled_at.utc %><br /></strong>
<% end %>

<br />

Updated at <strong><%= @order.u_at.utc %></strong>
Created at <strong><%= @order.c_at.utc %><br /></strong>
