
  <h3>Files</h3>
  <hr>

  <a href="<%= shared_order_path(@order, format: "csv") %>" class="btn btn-primary">Shippment CSV</a>
  <a href="<%= shared_order_bill_path(@order, format: "pdf") %>" class="btn btn-primary">Informal Bill</a>
