
  <h3>Files</h3>
  <hr>

  <a href="<%= shared_order_path(@order, format: "csv") %>" class="text-button --green">Shippment CSV</a>
  <a href="<%= shared_order_bill_path(@order, format: "pdf") %>" class="text-button --green">Informal Bill</a>
  <a href="<%= guest_order_official_bill_path(@order, format: "pdf") %>" class="text-button --green">Official Bill</a>
