<div class="col-md-12">
  <div class="row">
    <div class="col-md-10 +nopadding">
      <h3>Shipping</h3>
      <em>You can fill in external tracking id and inform the customers by SMS. The SMS will be triggered only once.</em>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>
  <hr>
  <div class="row">
    <%= form_for [:admin, @order], :data => {:toggle => 'validator'} do |form| %>
      <%= form.text_field :tracking_id, :placeholder => "Tracking ID" %>
      <%= form.submit "Update", :class => "btn btn-primary" %>
      <% if @order.shippable? %>
        <a href="<%= admin_order_shipped_path(@order) %>" data-method="patch" class="btn btn-info">Ship &amp; Send tracking SMS</a>
      <% end %>
    <% end %>
  </div>
</div>
