<div class="col-md-12">
  <div class="row">
    <div class="col-md-10 +nopadding">
      <h3>Items</h3>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">

      <%= render partial: "admin/orders/show/order_items/table", :locals => { :order_items => @order.order_items } %>

    </div>
  </div>
</div>
