<div class="col-md-12">
  <div class="row">
    <div class="col-md-10 +nopadding">
      <h3>Status</h3>
      <em>By changing the status manually, no further process will be triggered. Please use it consciously in case of bug.</em>
    </div>
    <div class="col-md-2 details__action">
      <span class="tooltipster" data-tooltip-content="#tips-status"><i class="fa fa-question-circle"></i></span>
      <div class="tips-template">
        <div id="tips-status">
          <strong>New</strong> - The customer didn't try to pay yet.<br />
          <strong>Paying</strong> - Currently paying and inside the payment process.<br />
          <strong>Payment Unverified</strong> - The payment hasn't been verified.<br />
          <strong>Payment Failed</strong> - The payment has failed.<br />
          <strong>Cancelled</strong> - The order has been cancelled.<br />
          <strong>Paid</strong> - The order has been fully paid.<br />
          <strong>Custom Checkable</strong> - The order is being handled by the shopkeeper.<br />
          <strong>Custom Checking</strong> - The order is being handled by the customs.<br />
          <strong>Shipped</strong> - The shopkeeper has sent the package.<br />
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <%= form_for [:admin, @order], :data => {:toggle => 'validator'} do |form| %>
      <%= editable_field(@order, [:admin, @order], :status, :select, [orders_status, {:selected => @order.status}]) %>
    <% end %>
  </div>
</div>
