<div class="package-set-block__content">
  <h2><%= package_set.name %></h2>
  <p><%= package_set.desc %></p>
  <!-- <%= link_to "BUY IT", guest_package_set_path(package_set), method: :patch, class: "main-button__hollow" %> -->
  <%= link_to "MORE INFO", guest_package_set_path(package_set), class: "main-button__hollow" %>

</div>
