<%= render 'layouts/customer/subheader/checkout_breadcrumb' %>
<div class="row">
  <div class="col-md-12">

    <object data="<%= @identity_remote_url %>" width="800" height="1300" type="text/html">
    <!-- Alternative Content -->
    <embed src="<%= @identity_remote_url %>" width="800" height="1300" type="text/html" />
    </object>

  </div>
</div>
