<%= render 'layouts/customer/subheader/checkout_breadcrumb' %>
<div class="row">
  <div class="col-md-12">

    <!-- < @identity_form.html_safe > -->

    <!-- NOTE : this is not working because no HTTPS is provided by Xipost -->
    <object data="<%= @identity_remote_url %>" width="700" height="620" type="text/html">
      <embed src="<%= @identity_remote_url %>" width="700" height="620" type="text/html" />
    </object>

    <div class="+spacer"></div>

    <a href="<%= @identity_remote_url %>" target="_blank">如果表单未能显示，请按这里重载</a>

  </div>
</div>
