<%= render 'layouts/customer/subheader/checkout_breadcrumb' %>
<div class="row">
  <div class="col-md-12">

    <%= @identity_form.html_safe %>

    <!-- NOTE : this is not working because no HTTPS is provided by Xipost -->
    <!-- <object data="<%= @identity_remote_url %>" width="800" height="1300" type="text/html">
    <embed src="<%= @identity_remote_url %>" width="800" height="1300" type="text/html" />
    </object> -->

  </div>
</div>
