<%= render 'layouts/customer/subheader/checkout_breadcrumb' %>
<div class="row">
  <div class="col-md-12">

    <object data="<%= @identity_remote_url %>" width="800" height="1300" type="text/html">
    <!-- Alternative Content -->
    Partner does not require identity.
    </object>

  </div>
</div>
