<h3>Danger Zone</h3>
<hr>

<%= link_to "Destroy this brand", admin_brand_path(brand), method: :delete, data: { confirm: "Are you sure you want to destroy this brand ? It cannot be undone." } , class: "text-button --delete" %>
