<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3>Footer Slider</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <hr>
    </div>
  </div>

  <!-- Footer Slides -->
  <div class="row">
    <%= form.fields_for :footer_slides do |field| %>
      <div class="col-md-3">
        <%= field.label :file, "Optional Footer Slids ##{solve_index}" %>
        <%= js_image_file_upload(form: field, assoc: field.object, field: :file) %>
      </div>
    <% end %>
  </div>

</div>
