@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+centered {
  text-align: center;
  margin: 0 auto; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+vertical-centered {
  padding-top: 35px; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+spacer {
  padding: 1em; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+big-spacer {
  padding: 5em; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+red {
  color: #e74c3c; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+strong {
  font-weight: 600; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+up {
  text-transform: uppercase; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+hidden {
  display: none; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+empty-space {
  height: 50px; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+avatar {
  position: absolute;
  top: -7px;
  left: 10px; }
  /* line 34, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_tweaks.sass */
  #csstyle .\+avatar img {
    border-radius: 25px;
    width: 50px; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+grey {
  color: #bdc3c7; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+quoted {
  font-family: 'Raleway', sans-serif;
  font-style: italic; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+no-result {
  background-color: #e6fbd7;
  padding: 0.5em;
  margin: 0em;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  font-size: 28px; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+menu-bordering {
  border-right: 1px solid #bdc3c7; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.category-menu {
  background-color: #fdfdfd;
  font-weight: 400;
  border-top: 2px solid #bdc3c7;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif; }
  /* line 12, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
  .category-menu nav {
    z-index: 5;
    position: relative; }
    /* line 16, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
    .category-menu nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 19, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
      .category-menu nav ul a {
        display: block;
        color: #666;
        text-decoration: none;
        line-height: 32px;
        padding: 5px 20px; }
      /* line 28, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
      .category-menu nav ul li:hover > ul {
        width: 100%;
        display: block;
        border-top: 2px solid #659443; }
      /* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
      .category-menu nav ul li:hover a {
        color: #666; }
        /* line 34, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
        .category-menu nav ul li:hover a:hover {
          color: #659443; }
      /* line 36, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
      .category-menu nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fdfdfd;
        padding: 0; }
        /* line 43, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
        .category-menu nav ul ul li {
          float: none;
          width: 100%; }
        /* line 50, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/helpers/_mixins.sass */
        .category-menu nav ul ul ul {
          top: 0;
          left: 100%; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.main-footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #659443;
  color: #fdfdfd !important;
  min-height: 100px; }
  /* line 6, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-footer.sass */
  .main-footer a {
    color: #fdfdfd !important; }
  /* line 15, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-footer.sass */
  .main-footer h3 {
    font-size: 18px;
    color: #e6fbd7;
    font-family: Raleway, sans-serif; }
  /* line 22, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-footer.sass */
  .main-footer__logo img {
    max-width: 70px; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.main-header {
  padding-top: 1em;
  padding-bottom: 1em; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .main-header__account {
    color: #666; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .main-header__logo {
    color: #666; }
    /* line 10, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
    .main-header__logo img {
      max-width: 200px; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .main-header__search {
    color: #666; }
    /* line 15, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
    .main-header__search i {
      color: #3498db; }
    /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
    .main-header__search.\--input {
      overflow: hidden;
      width: 300px;
      vertical-align: middle;
      white-space: nowrap; }
      /* line 24, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
      .main-header__search.\--input input#search {
        width: 100px;
        height: 30px;
        background: #e6fbd7;
        border: none;
        font-size: 10pt;
        float: left;
        color: black;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
        /* line 36, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
        .main-header__search.\--input input#search::-webkit-input-placeholder {
          color: #65737e; }
        /* line 38, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
        .main-header__search.\--input input#search:-moz-placeholder {
          color: #65737e; }
        /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
        .main-header__search.\--input input#search::-moz-placeholder {
          color: #65737e; }
        /* line 42, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
        .main-header__search.\--input input#search:-ms-input-placeholder {
          color: #65737e; }
      /* line 44, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
      .main-header__search.\--input button.icon {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        background: #e6fbd7;
        height: 30px;
        width: 30px;
        color: black !important;
        font-size: 10pt;
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease; }
      /* line 63, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
      .main-header__search.\--input:hover button.icon, .main-header__search.\--input:active button.icon, .main-header__search.\--input:focus button.icon {
        outline: none;
        opacity: 1;
        margin-left: -10px; }
      /* line 67, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
      .main-header__search.\--input:hover button.icon:hover {
        background: #659443; }
        /* line 69, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
        .main-header__search.\--input:hover button.icon:hover i {
          color: white; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .main-header__likes {
    font-size: 16px;
    color: #666;
    border-color: #bdc3c7;
    border-size: 2px; }
    /* line 79, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
    .main-header__likes i {
      font-size: 20px;
      display: block;
      color: #e74c3c; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .main-header__cart {
    font-size: 16px;
    color: #666; }
    /* line 87, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_main-header.sass */
    .main-header__cart i {
      font-size: 20px;
      display: block;
      color: #666; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__thumb {
  min-height: 430px;
  z-index: 1;
  background-color: white;
  position: relative;
  text-decoration: none !important;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #659443; }
  /* line 30, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_product-box.sass */
  .product-box__thumb:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-box-shadow: 0 4px 2px #e6fbd7;
    box-shadow: 0 4px 2px #e6fbd7; }

/* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_product-box.sass */
.product-box__like a {
  font-size: 20px;
  color: #bdc3c7; }
  /* line 44, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_product-box.sass */
  .product-box__like a:hover {
    color: #e74c3c; }

/* line 50, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_product-box.sass */
.product-box__header img {
  display: block;
  margin: 0 auto;
  max-width: 65%;
  max-height: 200px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 20px 22px;
  border-top: none;
  position: relative;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
  /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .product-box__inner.\--title {
    margin: 0em;
    padding: 0.5em;
    font-size: 16px; }
  /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .product-box__inner.\--description {
    color: #858585;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.4em; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__meta {
  margin-top: 15px; }
  /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .product-box__meta.\--price {
    font-weight: 600;
    color: #659443;
    padding: 0 7px;
    background: #49D2BE;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    font-size: 18px; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__location {
  border-top: 1px dashed #e6e6e6;
  margin-top: 13px;
  padding-top: 8px;
  line-height: 1em;
  margin-bottom: 0;
  color: #a3a3a3;
  font-size: 12px; }
  /* line 94, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_product-box.sass */
  .product-box__location a, .product-box__location a:active, .product-box__location a:hover, .product-box__location a:visited {
    color: #bdc3c7; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.slider {
  position: relative;
  z-index: 1; }
  /* line 6, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/components/_slider.sass */
  .slider ul {
    padding-bottom: 0 !important; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .slider__image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .slider__content {
    min-height: 200px; }
  /* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .slider__bottom-border {
    border-bottom: thick solid #659443; }

/* line 3, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.btn-primary {
  background: #659443 !important;
  border-color: #659443 !important; }

/* line 7, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.nav-pills.nav-stacked.nav-arrow > li.active a {
  color: #fff !important;
  background: #83be58 !important;
  border-color: #83be58 !important; }

/* line 12, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.nav-pills.nav-stacked.nav-arrow > li.active a:after {
  background: #83be58 !important; }

/* line 15, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.nav-pills.nav-stacked.nav-arrow > li a:hover {
  color: #83be58 !important; }

/* line 18, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.nav-pills.nav-stacked.nav-arrow > li.active a:hover {
  color: #fdfdfd !important; }

/* line 21, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.panel-primary > .panel-heading {
  color: #fff !important;
  background-color: #83be58 !important;
  background-image: none;
  border-color: #83be58 !important; }

/* line 27, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.panel-primary {
  border-color: #83be58 !important; }

/* line 30, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.panel-primary > .panel-heading {
  background-image: -o-linear-gradient(top, #83be58 0, #83be58 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83be58), to(#83be58));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-light-green-2nd', endColorstr='$color-light-green-2nd', GradientType=0); }

/* line 35, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.address-box:hover .address-box-new-icon {
  background: #83be58 !important; }

/* line 38, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.address-box-remove:hover, .address-box-edit:hover {
  background: #83be58 !important; }

/* line 41, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.caret {
  color: #659443 !important; }

/* line 44, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.table a, .form-group a, .product-page-meta h4 a {
  color: #659443; }

/* line 47, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.panel-heading h4 {
  color: #fdfdfd !important; }
  /* line 49, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
  .panel-heading h4 a {
    color: #fdfdfd !important; }

/* line 52, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.panel-info > .panel-heading {
  color: #fff !important;
  background-color: #83be58 !important;
  border-color: #659443 !important;
  background-image: none !important; }

/* line 58, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.fotorama__thumb-border {
  border-color: #83be58 !important; }

/* line 62, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.dialog-icon {
  background: #659443 !important; }

/* line 65, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
a.popup-text.simple-text {
  color: #659443 !important; }

/* line 69, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
#left_menu > ul > li.active > a, #left_menu ul ul a span {
  background: #659443 !important;
  color: #fff;
  text-shadow: 0 0 0 !important;
  border: 0px solid !important;
  padding: 0.5em;
  font-size: 15px !important; }

/* line 77, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
#left_menu > ul > li > a, #left_menu ul ul a {
  font-size: 12px;
  display: block;
  color: #565a5c;
  background: #e6fbd7 !important;
  border: none; }

/* line 84, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
#left_menu > ul > li > a > span {
  background: #83be58 !important;
  color: #fdfdfd !important;
  padding: 0px 0p !important;
  border-radius: 2px !important; }

/* line 90, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.tabbable > .nav li.active a {
  background: #659443 !important;
  color: #fdfdfd !important;
  border: none; }

/* line 95, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.tabbable > .nav li.active .fa {
  background: #83be58 !important; }

/* line 98, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
.tabbable > .nav li a {
  color: #666 !important; }

/* line 101, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_componia.sass */
#left_menu a:hover {
  color: #659443 !important; }

/* line 1, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
h1 {
  background-color: #e6fbd7;
  padding: 0.5em;
  margin: 0em;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400; }

/* line 8, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
body {
  background-color: #fdfdfd; }

/* line 11, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
textarea, input, a {
  outline: none; }

/* line 14, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
*:focus {
  outline: none; }

/* line 20, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
a, a:active, a:hover, a:visited {
  text-decoration: none !important;
  outline: none !important;
  border: 0; }

/*.footer
  position: absolute;
  bottom: 0;
  width: 100%
  height: 100px*/
/* line 31, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.thumbnail-img {
  width: auto !important;
  max-height: 200px !important; }

/* line 35, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.detail-img {
  width: auto;
  max-height: 400px; }

/* line 39, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.icon-img {
  width: auto;
  max-height: 48px; }

/* line 43, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.logo-img {
  width: auto;
  max-height: 96px; }


/*# sourceMappingURL=app.css.map*/