/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+centered {
  text-align: center;
  margin: 0 auto; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+vertical-centered {
  padding-top: 35px; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+spacer {
  padding: 1em; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+red {
  color: #e74c3c; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+blue {
  color: #3498db; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+grey {
  color: #95a5a6; }

/* line 85, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
#csstyle .\+strong {
  font-weight: 600; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.main-menu {
  padding-top: 1em;
  padding-bottom: 1em; }
  /* line 5, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
  .main-menu__logo img {
    max-width: 200px; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-menu {
  background-color: #83be58;
  color: #ecf0f1;
  font-weight: 600;
  text-transform: uppercase; }

/* line 15, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.nav-menu {
  z-index: 2; }
  /* line 17, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 21, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
    .nav-menu ul a {
      display: block;
      color: #333;
      text-decoration: none;
      font-weight: 700;
      line-height: 32px;
      padding: 5px 20px;
      font-family: 'Montserrat', sans-serif !important; }
    /* line 30, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
    .nav-menu ul li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0; }
      /* line 35, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
      .nav-menu ul li:hover {
        background: #dfffc7; }
    /* line 37, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
    .nav-menu ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #e6fbd7;
      padding: 0; }
      /* line 44, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
      .nav-menu ul ul li {
        float: none;
        width: 200px; }
      /* line 47, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
      .nav-menu ul ul a {
        line-height: 120%;
        padding: 15px 20px; }
      /* line 50, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
      .nav-menu ul ul ul {
        top: 0;
        left: 100%; }
    /* line 53, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
    .nav-menu ul li:hover > ul {
      display: block; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.slider__image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.slider__content {
  min-height: 500px; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.slider__bottom-border {
  border-bottom: thick solid #83be58; }

/* line 71, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
h1 {
  background-color: #e6fbd7;
  padding: 0.5em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__thumb {
  z-index: 1;
  position: relative;
  text-decoration: none !important;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #83be58; }
  /* line 107, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
  .product-box__thumb:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-box-shadow: 0 4px 2px #e6fbd7;
    box-shadow: 0 4px 2px #e6fbd7; }

/* line 117, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.product-box__like a {
  font-size: 20px;
  color: #bdc3c7; }
  /* line 121, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
  .product-box__like a:hover {
    color: #e74c3c; }

/* line 126, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
.product-box__header img {
  display: block;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 20px 22px;
  border-top: none;
  position: relative;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
  /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .product-box__inner.\--title {
    margin: 0em;
    padding: 0.5em;
    font-size: 16px; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__meta {
  margin-top: 15px; }
  /* line 40, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
  .product-box__meta.\--price {
    font-weight: 600;
    color: #83be58;
    padding: 0 7px;
    background: #49D2BE;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    font-size: 18px; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.product-box__location {
  border-top: 1px dashed #e6e6e6;
  margin-top: 13px;
  padding-top: 8px;
  line-height: 1em;
  margin-bottom: 0;
  color: #a3a3a3;
  font-size: 12px; }

/* line 32, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.main-footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #83be58;
  color: #ecf0f1 !important;
  min-height: 100px;
  text-transform: uppercase;
  bottom: 0;
  left: 0; }
  /* line 182, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/_global.sass */
  .main-footer__logo img {
    max-width: 70px; }

/* line 3, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_flexnav.sass */
.flexnav-hook li {
  background-color: #83be58 !important; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.flexnav-hook__overmenu {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em !important; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.flexnav-hook__button {
  border-left: none;
  border-bottom: none;
  position: none;
  display: block;
  padding: 0;
  color: inherit;
  background: inherit;
  border-bottom: 0; }

/* line 76, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/node_modules/csstyle/csstyle.scss */
.flexnav-hook__submenu {
  padding-top: 1em !important; }
  /* line 23, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_flexnav.sass */
  .flexnav-hook__submenu li {
    color: black;
    padding: 1em !important;
    background-color: #e6fbd7 !important;
    border-color: #83be58;
    border-width: 2px; }

/* line 30, /Users/Loschcode/Google Drive/projects/panda-lo/website/app_front/app/stylesheets/hooks/_flexnav.sass */
.flexnav li a {
  position: inherit !important;
  display: inherit !important;
  padding: inherit !important;
  z-index: inherit !important;
  overflow: inherit !important;
  color: inherit !important;
  background: inherit !important;
  border-bottom: inherit !important;
  font-size: inherit !important;
  border-left: inherit !important;
  margin: 0em !important;
  padding: 0em !important;
  line-height: inherit !important;
  border: 0px;
  height: inherit !important;
  border: none !important; }


/*# sourceMappingURL=app.css.map*/