/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
    height: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
    color: #555;
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

.container > header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px 50px 30px;
}

.container > header {
    padding: 60px 30px 50px;
    text-align: center;
}

.container > header h1 {
    font-size: 34px;
    line-height: 38px;
    margin: 0 auto;
    font-weight: 700;
    color: #333;
}

.container > header h1 span {
    display: block;
    font-size: 20px;
    font-weight: 300;
}

.main > p {
    text-align: center;
    padding: 50px 20px;
}

/* Header Style */

.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.navbar-right {
    width: 90% !important;
}

.search-bar {
    width: 630px;
    margin-right: 13px;

}

.search-bar form {
    width: 100%;
}

#search_topic {
    width: 15%;
}

/*input inside serch*/
#q {
    width: 100%;
}

.search-form input[type="submit"] {
    width: 15%;
}

/*.collectioncell {
    margin-top: 10px;
    border: solid 1px rgb(255, 82, 82);
    padding: 5px 5px;
    background-color: white;
    width: auto;
    height: auto;
    padding-bottom: 10px;
}
.collectioncell span {
    border-bottom: solid 1px rgb(255, 82, 82);
    padding-right: 65px;
    padding-bottom: 5px;
}
.collectionimg {
    padding-top: 15px;
}
.collectionimg li {
    padding: 0;
}
.collectionimg li div {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    width: 70px;
    height: 70px;
}
.collectionimg li div img {
    
    position: center;
    margin: auto;
    padding: 0 0 0 0;
    height: 70px;
    background-color: white;
}
.collectioncell p {
    margin-top: 15px;
    padding-top: 13px;
    border-top: solid 1px rgb(255, 82, 82);
    margin-bottom: 0;
}*/
.imageHolderc {
    width: 355px;

}

.editprofile {
    border-radius: 5px;
    background-color: rgb(240, 65, 36);
    color: white !important;
    margin: 0;
    width: 80px;
    padding: 0;
    height: 25px;
    margin-top: 20px;
    padding-top: 5px;
    font-size: small;
}

.settings {
    border-radius: 5px !important;
    background-color: rgb(147, 147, 147) !important;
    color: white !important;
    margin: 0;
    width: 65px;
    padding: 0 !important;
    height: 25px;
    margin-top: 20px;
    padding-top: 3px !important;
    margin-left: 4px !important;
    font-size: small !important;
}

.pfirst {
    padding-bottom: 10px;
}

.psec {
    border-top: solid lightgrey 1px;
    padding-top: 15px;
}

.psec img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
}

.pthir {
    border-top: solid lightgrey 1px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.pthir a {
    background-color: rgb(249, 249, 249);
    display: block;
    text-align: center;
}

.pforth {
    border-top: solid rgb(157, 157, 157) 1px;
    background-color: #E9E9E9;
}

.profileicon {
    display: block;
    text-align: center;
}

.chatsbar {
    border: solid grey 1px;
    margin-top: 10px;
}

.chatting {
    background-color: white;
}

.chatting div {
    border-bottom: solid rgb(236, 236, 236) 1px;
    margin-bottom: 5px !important;
    width: 564px !important;

}

.chatting div img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: solid grey 1px;
}

/*.prodchat ul {
   display: inline-flex;
  padding: 0;
  margin: 0 -0.625rem;
  overflow-x: scroll;
  width: 581px;

}
.prodchat ul li {
        width: 350px !important;


}*/

#frame {
    height: 100px;
    margin: 0px 0px;
    padding: 10px 0px;
/ /(ver, hor) overflow : hidden;
    width: 100%;
}

.logo {
    width: 16px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.slidee {
    list-style: none;
    margin: 0px 10px;
    padding: 0px 0px;
    height: 100%;
    font-size: 30px;
}

.slidee li {
    float: left;
    height: 85px;
    width: 85px;
    margin: 0 5px 0 0;
    background: #fff;
    border: solid black;
    border-radius: 20px;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.slidee li.active {
    border: solid red;
}

p {
    font-size: 14px;
    color: #000;
}

.scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
}

.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: #292a33;
    cursor: pointer;
}

.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

.slidee li img {

}

.users {
    padding-top: 10px;

}

.users li {
    text-align: center;

}

.users li p {
    padding-top: 2px;
    text-align: center;
    font-weight: bold;

}

.users li button {
    text-align: center;
    position: center;

    border-radius: 5px;

}

.users li img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;

}

.collectionsicon {

    margin: 0px;
    border: solid 1px rgb(255, 42, 42);
    width: 202px;
    height: 202px;
    margin-bottom: 35px;
    background-color: white;
    padding: 0;
}

.collectionsicon li {
    padding: 0;
    width: 100px;
    height: 100px;
}

.collectionsicon li img {
    padding: 1px;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.collections {
    margin-top: 20px;
}

.collections .info {
    width: 202px;
    position: relative;
    top: -36px;
    left: 0px;
    height: 38px;
    background: rgb(213, 213, 213);
    font-size: 12px;
    border: 1px solid #FF2A2A;
}

.collections .info img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: solid grey 1px;
    margin: 2px;

}

.collections .info p {
    position: relative;
    left: 35px;
    bottom: 28px;
    color: white;

}

.collections .info .saveicon {
    position: relative;
    bottom: 76px;
    left: 128px;
    border: 0px;
    border-radius: 0px;
}

.collections .info .likeicon {
    position: relative;
    bottom: 76px;
    left: 130px;
    border: 0px;
    border-radius: 0px;
}

a:hover {
    background-color: rgba(54, 25, 25, 0);
}

.colinfo img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: solid grey 1px;
    margin: 2px;
}

.gbut {
    background-color: white !important;
    color: #009cd9 !important;
    border: 1px solid #828282;
}

.similarprods li {
    padding-right: 1px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.similarprods a {
    padding: 0;

}

.imageHolder {
    border: solid #FDF8F8 2px;
    background-color: white;
}

.prodlimg {
    min-height: 500px;
    min-width: 500px;
}

.prodname {
    border-top: solid #CCCCCC 1px;
    padding-top: 10px;
}

/* Styles for search dropdown */
.search {
    position: relative;
    padding-top: 41px;
    margin-bottom: 0;
}

.search input {
    padding-left: 240px;
}

.search .keyword {
    position: absolute;
    width: 100px;
    margin-left: 10px;
    margin-top: 17px;
}

.search i {
    position: absolute;
    margin-left: 207px;
    font-size: 30px;
    line-height: 50px;
    color: #ccc;
}

.search .search-field {
    height: 50px;
}

.search .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #2ba6cb;
    margin-left: 71px;
    margin-top: -10px;
}

#drop3.content.open {
    position: absolute !important;
    top: 30px !important;
    left: -10px !important;
    width: 120% !important;
}

.search-form {

    display: inline-flex !important;
    margin-right: 25px !important;

}

.imgetub {
    background-color: white;
}

.caption {
    background-color: #D8D8D8;
    height: 30px;
}

.piconf {
    height: 24px !important;
    background-color: #D8D8D8 !important;
    float: left !important;
    margin: 5px !important;
}

.pconf {
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 5px;
}

.colproduser {
    display: inline-flex !important;

}

.login{
    margin-top: 25px !important;
     width: 25%;
    margin: auto;
    background-color: #BEBFBF;
    padding: 15px;
    border-radius: 25px;
    border: solid 1px #5e5e5e;
    margin-top: 25px !important;

}
.field  input {
      border-radius: 25px;
    border: solid 1px #5e5e5e;
}
.currentuserpic{
    width: 30px;
    height: 30px;
    margin-top: 8px;

    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat;
}
.active  {
    color: white;
}
