<div class="file-upload">
  <!-- Thumbnail -->
  <div class="row">
    <%= form.label field do %>
      <%= image_tag assoc.decorate.image_url(field, :thumb, :fallback => true), :id =>
          "#{field}_#{assoc.id}" %>
    <% end %>
  </div>

  <!-- Invisible browsing input -->
  <div class="row">
    <div class="file-upload__browser">
      <%= form.file_field field, :accept => "image/png, image/jpeg, image/jpg", :image_selector => "##{field}_#{assoc.id}", :class => 'js-file-upload' %>
    </div>
  </div>

  <!-- Actions -->
  <div class="row">
    <div class="file-upload__action">
      <%= form.check_box "remove_#{field}".to_sym %>
    </div>
  </div>
</div>
