<% if current_user&.referrer %>

<div class="remodal" data-remodal-options="hashTracking: false" data-remodal-id="promote-qrcode">
  <!-- Close Action -->
  <button data-remodal-action="close" class="remodal-close"></button>
  <img src="<%= url %>" />
</div>

<div class="+spacer"></div>
<div class="+centered">
  <a class="text-button --blue" data-remodal-target="promote-qrcode" href="#"><%= I18n.t('button.promote_qrcode') %></a>
</div>
<div class="+spacer"></div>

<% end %>
