<div class="row">
  <div class="col-md-10">
    <h2>Users</h2>
    List of all users on the site including admins, shopkeepers and customers.
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= emails_admin_users_path %>"><i class="fa fa-envelope-o tooltipster" title="Users Email List"></i></a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <%= render partial: "shared/partials/search" %>
  </div>
</div>

<%= render partial: "admin/users/table", :locals => { :users => @users } %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
