<div class="row">
  <div class="col-md-10">
    <h2>Users</h2>
    List of all users on the site including admins, shopkeepers and customers.
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="+overflow">
  <%= render partial: "admin/users/table", :locals => { :users => @users } %>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
