<div class="row">
  <div class="col-md-12">
    <div class="page-navigation">
      <div class="row">
        <!-- Breadcrumb -->
        <div class="col-md-4 col-xs-6">
          <div class="page-navigation__left">
            <% if package_set.previous %>
              <a href="<%= guest_package_set_path(package_set.previous) %>"><i class="fa fa-caret-left"></i> <%= package_set.previous.name %></a>
            <% end %>
          </div>
        </div>

        <!-- Number of package sets -->
        <div class="col-md-4">
          <div class="page-navigation__middle +desktop">
          </div>
        </div>

        <!-- Categories filtering -->
        <div class="col-md-4 col-xs-6">
          <div class="page-navigation__right">
            <% if package_set.next %>
              <a href="<%= guest_package_set_path(package_set.next) %>"><%= package_set.next.name %> <i class="fa fa-caret-right"></i></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
