<h2><%= Setting.instance.landing_page_title %></h2>
<p><%= Setting.instance.landing_page_description %></p>
<a href="<%= Setting.instance.landing_page_link %>" class="main-button__hollow"><%= Setting.instance.landing_page_button %></a>
