<div class="details">
  <div class="row details__block">
    <h3>Edit referrer token <%= @referrer_token.name %></h3>
    <hr>
    <%= form_for [:admin, @referrer_token] do |form| %>
      <%= render partial: "admin/referrer_tokens/form", :locals => { :form => form } %>
      <%= form.submit "Edit referrer token", {:class => "btn btn-primary"} %>
    <% end %>
  </div>
</div>
