<div class="row">
  <div class="col-md-10">
    <h2>Referrer tokens</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= new_admin_referrer_token_path %>"><i class="fa fa-plus tooltipster" title="Create new coupon"></i></a>
  </div>
</div>

<%= render partial: "admin/referrer_tokens/table", :locals => { :referrer_tokens => @referrer_tokens } %>

<%= will_paginate @referrer_tokens, renderer: BootstrapPagination::Rails %>
