---
http_interactions:
- request:
    method: get
    uri: https://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZW5naW5lLmRpZ3BhbmRhOngzWnlyOE1hWTdURHhqNkY=
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"payment":{"merchant-account-id":{"value":"dfc3a296-3faf-4a1d-a075-f72f1b67dd2a","ref":"http://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a"},"transaction-id":"af3864e1-0b2b-11e6-9e82-00163e64ea9f","request-id":"ca077aff-b2e0-0e0b-3be2-08aa3b888b52","transaction-type":"debit","transaction-state":"success","completion-time-stamp":1461619293000,"statuses":{"status":[{"code":"201.0000","description":"The
        resource was successfully created.","severity":"information"}]},"requested-amount":{"value":1.010000,"currency":"CNY"},"parent-transaction-id":"90806161-0b2b-11e6-9e82-00163e64ea9f","account-holder":{"first-name":"John","last-name":"Doe",'email':"john.doe@wirecard.com","phone":"1
        555 555 5555","address":{"street1":"123 test","city":"Toronto","state":"ON","country":"CA","postal-code":"M4P1E8"} },"ip-address":"127.0.0.1","order-number":"123456","order-detail":"1
        widget","payment-methods":{"payment-method":[{"name":"upop"}]},"authorization-code":"134417","api-id":"elastic-payment-page-nvp","processing-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=processing&","cancel-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=cancel&","fail-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=failed&","success-redirect-url":"https://sandbox-engine.thesolution.com/shop/complete.jsp?state=success&","locale":"en","self":"http://sandbox-engine.thesolution.com/engine/rest/merchants/dfc3a296-3faf-4a1d-a075-f72f1b67dd2a/payments/af3864e1-0b2b-11e6-9e82-00163e64ea9f"} }'
  recorded_at: Fri, 18 Nov 2016 13:29:46 GMT
recorded_with: VCR 3.0.3
