<div class="shop-blocks__main-category">
  <div class="row">
    <div class="col-md-4 +centered">
      <img src="/images/categories/<%= category.slug %>.png">
      <h2><%= category.name %></h2>
    </div>

    <div class="col-md-8">
      <%= category.desc %>
    </div>
  </div>
</div>
