<% products.in_groups_of(4, false).each do |grouped_products| %>

  <div class="row">

    <% grouped_products.each do |product| %>

    <div class="col-md-3">

      <%= render partial: 'products/product_box', :locals => {:product => product} %>
      
    </div>

    <% end %>

  </div>

  <div class="+spacer"></div>

<% end %>