<div class="+centered category-header">

  <div class="row category-header__first">

    <div class="col-md-2">
    <img src="/images/categories/food.png" style="max-height:50px"> Food
    </div>

  </div>

</div>

<div class="+spacer"></div>

<div class="row">

  <div class="col-md-8 col-md-push-2 col-md-pull-2">

    <div style="background-color:red">
      
      <h2>Shop Title</h2>
      <div>This is a shop description</div>

    </div>

    <% if @products.size > 0 %>

      <!-- Products list -->
      <%= render partial: "products/products_list", :locals => { :products => @products } %>

    <% else %>

      <div class="message">
        <div class="message__simple">
          Oops ! No product here ...
        </div>
      </div>

    <% end %>

  </div>

</div>