<div class="+spacer"></div>

<div class="row">

  <div class="col-md-8 col-md-push-2 col-md-pull-2">

    <% if @products.size > 0 %>

      <!-- Products list -->
      <%= render partial: "products/products_list", :locals => { :products => @products } %>

    <% else %>

      <div class="message">
        <div class="message__simple">
          Oops ! No product here ...
        </div>
      </div>

    <% end %>

  </div>

</div>