<!-- Search results -->
<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <div class="row">
    <h2><%= I18n.t(:results_for) %> <span class="+quoted">"<%= @query %>"</span> ...</h2>
  </div>

    <% if @products.count > 0 %>

    <div class="row +nomargin">
      <div class="+spacer"></div>
      <%= render partial: "products/products_list", :locals => { :products => @products } %>
    </div>

    <% else %>

    <div class="row col-md-8 col-md-push-2 col-md-pull-2 +white-box +centered">
      <h4>
        <%= I18n.t(:no_product, scope: :search) %>
      </h4>
    </div>

    <% end %>

</div>