<!-- Search results -->
<div class="products-list col-md-8 col-md-push-2 col-md-pull-2">

  <div class="row">
    <h2>Results for <span class="+quoted">"<%= @query %>"</span> ...</h2>
  </div>

  <div class="row">

    <% if @products.count > 0 %>

    <div class="+spacer"></div>
    <%= render partial: "products/products_list", :locals => { :products => @products } %>

    <% else %>

    <div class="message">
      <div class="message__simple">
        No result found
      </div>
    </div>

    <% end %>

  </div>

</div>