<%= translation_js(:more, :title) %>

<div class="+spacer"></div>

  <div class="row col-md-8 col-md-push-2 col-md-pull-2 product-page">

    <!-- Preview -->
    <div class="col-md-6">

      <%= render partial: "products/show/preview", :locals => {product: @product} %>

    </div>

    <!-- Shop + Product description -->
    <div class="col-md-6 col-xs-12">

      <%= render partial: "products/show/description", :locals => {product: @product} %>

    </div>

    </div>

    <!-- Shop Footer -->
    <div class="row col-md-8 col-md-push-2 col-md-pull-2">

      <div class="+spacer"></div>
      <%= render partial: "shops/shop_footer", :locals => { :shop => @shop.decorate } %>

    </div>


  <div class="row">
    <div class="+spacer"></div>
  </div>
