<h3>Danger Zone</h3>
<hr>

<!-- Destroy service -->
<%= service_to "Delete this service", admin_service_path(service), method: :delete, data: { confirm: "Are you sure you want to delete this service ? It cannot be undone." } , class: "text-button --delete" %>
