<div class="col-md-12">
  <div class="row">
    <h3>Provisions</h3>
    <hr>
  </div>
  <div class="row">

    <% if provisions.size > 0 %>
    <table class="main-table">
      <thead>
        <th>
          ID
        </th>
        <th>
          Provision
        </th>
        <th>
          Creation
        </th>
      </thead>
      <tbody>
        <% provisions.each do |provision| %>
        <tr>
          <td>
            <%= provision.id %>
          </td>
          <td>
            <%= provision.provision.in_euro.display %>
          </td>
          <td>
            <%= provision.c_at %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <div class="+white-box +centered">
      <h4>
        No provision yet.
      </h4>
    </div>
    <% end %>

  </div>
</div>
