<div class="details">
  <div class="row details__block">
    <h3>Edit coupon <%= @coupon.code %></h3>
    <hr>

    <%= form_for [:admin, @coupon] do |form| %>

      <%= render partial: "admin/coupons/form", :locals => { :form => form } %>

      <%= form.submit "Edit coupon", {:class => "btn btn-primary"} %>
    <% end %>

  </div>
</div>
