<div class="details">
  <div class="row details__block">
    <h3>Edit coupon <%= @coupon.code %></h3>
    <hr>

    <%= render partial: "admin/coupons/form", :locals => { coupon: @coupon } %>

  </div>
</div>
