<div class="row">
  <div class="col-md-10">
    <h2>Coupons</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="+overflow">
  <%= render partial: "admin/coupons/table", :locals => { :coupons => @coupons } %>
</div>

<%= will_paginate @coupons, renderer: BootstrapPagination::Rails %>
