<div class="details">
  <div class="row details__block">
    <h3>New coupon</h3>
    <hr>

    <%= form_for [:admin, @coupon] do |form| %>

      <%= render partial: "admin/coupons/form", :locals => { :form => form } %>

      <%= form.submit "Create coupon", {:class => "btn btn-primary"} %>

    <% end %>

  </div>
</div>
