// ===========================================================
// Base
// ===========================================================
//

body
  line-height: 1.6 !important
  letter-spacing: 1px !important
  font-size: 14px !important
  background-color: $color-white !important
  font-family: 'Roboto', arial, Pingfang, "Microsoft Yahei", sans-serif
  // -webkit-font-smoothing: antialiased
  // -moz-osx-font-smoothing: grayscale

#scrollUp
  bottom: 20px
  right: 20px
  padding: 7px 15px
  background-color: $color-light-green
  color: $color-very-light-green
  +border-radius(10%)

  i
    font-size: 35px
