// ===========================================================
// Base
// ===========================================================
//

body
  line-height: 1.6
  letter-spacing: 1px
  font-size: 14px
