// ===========================================================
// Base
// ===========================================================
//

body
  line-height: 1.6 !important
  letter-spacing: 1px !important
  font-size: 14px !important
  background-color: $color-white !important
  font-family: 'Roboto', arial, Pingfang, "Microsoft Yahei", sans-serif
  // -webkit-font-smoothing: antialiased
  // -moz-osx-font-smoothing: grayscale
