<div class="row">
  <div class="col-md-10">
    <h2>Search</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="row details__block">
  <%= render partial: "admin/search/products" %>
</div>

<div class="row details__block">
  <%= render partial: "admin/search/orders" %>
</div>
