<div class="row">
  <div class="col-xs-12">
    <div class="cart__back">
      <a href="<%= identity_solver.origin_url %>">
        <i class="digpanda-back"></i>继续购物
      </a>
    </div>
  </div>
</div>
