<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON) -->
    <%= render partial: 'customer/cart/show/subheader' %>

    <!-- ORDERS LIST (CART) -->
    <% cart.orders.each do |order| %>
      <%= render partial: 'customer/cart/show/order', :locals => { :order => order, :action => true } %>
    <% end %>

  </div>
</div>
