<div class="row">
  <div class="subheader">
    <div class="col-xs-12">
      <div class="subheader__back">
        <a href="<%= identity_solver.origin_url %>">
          <i class="digpanda-back"></i><%= I18n.t(:continue_shopping) %>
        </a>
      </div>
    </div>
  </div>
</div>
