<!-- Total price and details -->
<div class="row">

  <div class="col-md-12">
    <%= render partial: "customer/cart/show/total/list", :locals => { :order => order } %>
  </div>
</div>

<!-- Apply a coupon -->
<div class="row">
  <div class="col-md-12 coupon">
    <%= render partial: "customer/cart/show/total/coupon_form", :locals => { :order => order } %>
  </div>
</div>
