<div class="row">
  <div class="subheader">

    <!-- BACK -->
    <div class="col-xs-4">
      <div class="subheader__left">
        <a href="<%= back %>">
          <i class="digpanda-back"></i><%= I18n.t(:back) %>
        </a>
      </div>
    </div>

    <!-- REFERRER -->
    <div class="col-xs-8">
      <!-- <div class="subheader__right">
        <%= I18n.t('referrer.referrer') %> <span class="subheader --highlight"><%= @referrer.reference_id %></span>
      </div> -->
    </div>

    <div class="+spacer"></div>

  </div>
</div>
