<div class="row">
  <div class="subheader">

    <!-- BACK -->
    <div class="col-xs-6">
      <div class="subheader__left">
        <a href="<%= back %>">
          <i class="digpanda-back"></i><%= I18n.t(:back) %>
        </a>
      </div>
    </div>

    <!-- REFERRER -->
    <div class="col-xs-6">
      <div class="subheader__right">
        Referrer <span class="subheader --highlight"><%= current_user.referrer.reference_id %></span>
      </div>
    </div>

    <div class="+spacer"></div>

  </div>
</div>
