<div class="row">
  <div class="col-md-8 col-md-push-2">
    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: navigation.back(1) } %>
  </div>
</div>

<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>AGB</h1>

  <div class="page-static__text">

      <%= render partial: 'customer/referrer/agb/content' %>

    </div>

  </div>
</div>
