<div class="row">
  <div class="col-md-8 col-md-push-2">
    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: navigation.back(1) } %>
  </div>
</div>

<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>AGB</h1>

  <div class="page-static__text">

      感谢您阅读《来因盒推广伙伴合作协议》（下称“协议”）并使用来因盒平台德国礼包产品服务。 本平台的网络运营服务为网站所有者Digpanda GmbH(德国)有限公司（下称“公司”），本协议适用于公司和推广伙伴双方用户。 在完成申请注册流程之前，请认真阅读本协议并且点击同意本协议。请您务必审慎阅读、充分理解各条款内容。为了保证公司与注册推广伙伴之间愉快的合作，提供更完善服务, 便于规范业务流程和日常管理， 以任何方式进入平台并使用平台服务即表示您已充分阅读、理解并同意接受本协议的条款和条件。

      特此说明合作相关规定，具体内容如下：

      一 为了丰富用户购物品类，好物信息分享，以及提高用户购物体验，来因盒跨境购物平台与推广伙伴合作进行在线购物业务推广。

      二 推广伙伴按照平台页面的提示提供真实、准确、完整、合法有效的注册信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），用户注册信息如有变动，应及时更新其注册信息。如有合理理由怀疑您提供的资料错误、不实或不完整的，平台有权要求您更改您的注册信息，并有权直接作出删除相应资料的处理，直至终止对您提供部分或全部服务。

      三 推广伙伴通过二维码等数字推广载体介绍引导用户访问来因盒微信服务号及购物网站进行商品选购。游客扫码或点击文章链接即可自动登录购买产品并记录推广伙伴奖金。公司鼓励推广伙伴积极参与推广并回馈产品和用户相关信息，公司在推出新品及推荐相关事宜时，双方有责任及时沟通建议与意见。来因盒有责任和义务认真听取推广伙伴的意见反馈，努力提高服务质量。如果发现非推广伙伴身份的人参与来因盒游客推广，推广伙伴有义务告知来因盒运营并要求取消其推广资格。


      四 来因盒根据品类提供推广伙伴8%-35%的奖金，公司提供给推广伙伴的奖金额度要求按照产品的不同种类与价格分别计算，奖金计算基础为来因盒平台实际销售额，不包括中国关税及运费。具体奖金比例如下：

      五 推广伙伴通过手机短信实时接收奖金收入通知，并可以登录来因盒"个人中心" "推广伙伴"查询关联订单及奖金历史，累计奖金10欧元起即可提交结算。来因盒运营审核核算请求，并在该月结束前将累计奖金转到推广伙伴提供的账号并开具账单。

      六 来因盒的运营者数字熊猫（德国）责任有限公司对该协议有最终解释权，请合作推广伙伴定期向运营者索要并参阅最新版的协议。运营者在更改协议内容后会通知注册推广伙伴。如有任何疑问，可向来因盒运营咨询。

    </div>

  </div>
</div>
