<div class="row">
  <div class="col-md-8 col-md-push-2">
    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: navigation.back(1) } %>
  </div>
</div>

<div class="row">
<div class="page-static col-md-8 col-md-push-2 col-md-pull-2">

  <h1>AGB</h1>

  <div class="page-static__text">

      感谢您阅读《来因盒导游合作协议》（下称“协议”）并使用来因盒平台德国礼包产品服务。 本平台的网络运营服务为网站所有者Digpanda GmbH(德国)有限公司（下称“公司”），本协议适用于公司和导游双方用户。 在完成申请注册流程之前，请认真阅读本协议并且点击同意本协议。请您务必审慎阅读、充分理解各条款内容。为了保证公司与注册导游之间愉快的合作，提供更完善服务, 便于规范业务流程和日常管理， 以任何方式进入平台并使用平台服务即表示您已充分阅读、理解并同意接受本协议的条款和条件。

      特此说明合作相关规定，具体内容如下：

      一 为了丰富在德游客的购物品类以及提高游客的购物体验，来因盒跨境购物平台与在德专业导游合作，为游客推出在线购物业务。平台合作的对象是在德专业导游，原则上采取双人推荐制。

      二 导游按照平台页面的提示提供真实、准确、完整、合法有效的注册信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），用户注册信息如有变动，应及时更新其注册信息。如有合理理由怀疑您提供的资料错误、不实或不完整的，平台有权要求您更改您的注册信息，并有权直接作出删除相应资料的处理，直至终止对您提供部分或全部服务。

      三 导游通过推广和介绍来因盒，积极指导及引导游客用微信公众服务号购物。游客扫二维码即可登录来因盒服务号购买产品，并使用每个导游专属的打折码打折并记录导游佣金。公司鼓励导游积极参与推广并回馈产品和用户相关信息，公司在推出新品及推荐相关事宜时，双方有责任及时沟通建议与意见。来因盒有责任和义务认真听取导游的意见反馈，努力提高服务质量。如果发现非导游身份的人参与来因盒游客推广，导游有义务告知来因盒运营并要求取消其推广资格。


      四 来因盒根据游客购买的品类提供导游10%-16%的佣金，公司提供给导游的佣金额度要求按照产品的不同种类与价格分别计算，佣金计算基础为来因盒平台实际销售额，不包括中国关税及运费。具体佣金比例如下：
      家居：Airy 16%
      保健品：藤黄果纯植物减肥胶囊 16%，ALP 12%, GSE 10%
      护肤品：Dr. Severin®脱毛修护16%， Lavera 10%
      酒类，食品：10%


      五 导游在登录系统后台后可以查询佣金状态，累计佣金100欧元起可以提出结算请求。来因盒运营审核核算请求，并在该月结束前将累计佣金转到导游提供的德国账号并开具账单。

      六 来因盒的运营者数字熊猫（德国）责任有限公司对该协议有最终解释权，请合作导游定期向运营者索要并参阅最新版的协议。运营者在更改协议内容后会通知注册导游。如有任何疑问，可向来因盒运营咨询。

    </div>

  </div>
</div>
