<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- Subheader -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back:  customer_referrer_path } %>

    <!-- Package sets -->
    <%= render partial: 'customer/referrer/provision/rates/brands', :locals => { brands: @brands } %>

    <!-- Services -->
    <%= render partial: 'customer/referrer/provision/rates/services', :locals => { services: @services } %>

  </div>
</div>
