<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: customer_referrer_path } %>

    <!-- PROVISION INSIGHT -->
    <%= render partial: 'customer/referrer/provision/insight', :locals => { referrer: @referrer } %>

    <!-- ORDERS -->
    <%= render partial: 'customer/referrer/provision/orders', :locals => { provisions: @referrer.provisions } %>

    <!-- OPERATIONS -->
    <%= render partial: 'customer/referrer/provision/operations', :locals => { operations: @referrer.provision_operations } %>


  </div>
</div>
