<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: customer_referrer_path } %>

    <div class="provision__insight">

      <!-- PROVISION INSIGHT -->
      <div class="provision__insight-title">
        Provision Insight
      </div>

      <!-- PROVISION DETAILS -->
      <div class="provision__insight-details">

        <div class="row">
          <div class="col-xs-6">
            <div class="provision__insight-details-total-earned">
              Total earned
              <div class="provision__insight-details-total-earned --digits">187.10 €</div>
            </div>
          </div>
          <div class="col-xs-6 +nopadding-left">
            <div class="provision__insight-details-current-balance">
              Current balance
              <div class="provision__insight-details-current-balance --digits">187.10 €</div>
              <div class="provision__insight-details-note">you can claim this money from 50.00 €</div>
            </div>
          </div>
        </div>

      </div>

      <!-- CLAIM THE MONEY -->
      <div class="+small-spacer"></div>
      <a href="#" class="big-button --blue">Claim your money</a>

    </div>

  </div>
</div>
