<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: customer_referrer_path } %>

    <!-- PROVISION INSIGHT -->
    <%= render partial: 'customer/referrer/provision/insight', :locals => { referrer: @referrer } %>

    <!-- BALANCE HISTORY -->
    <%= render partial: 'customer/referrer/provision/histories', :locals => { histories: @referrer.decorate.histories } %>

    <!-- + -->
    <% if @referrer.total_earned > 0.0 %>

      <!-- <a href="#" id="click-detail-tables" class="big-button --green"><%= I18n.t('referrer.more_details') %></a>
      <div class="+spacer"></div>

      <div id="detail-tables" class="+hidden"> -->

        <!-- ORDERS -->
        <!-- < render partial: 'customer/referrer/provision/orders', :locals => { provisions: @referrer.provisions } %> -->

        <!-- OPERATIONS -->
        <!-- < render partial: 'customer/referrer/provision/operations', :locals => { operations: @referrer.provision_operations } %> -->

      </div>

    <% end %>

  </div>
</div>
