<div class="+white-box +centered">
  <h2>欢迎<%= current_user.referrer_nickname %>!</h2>
  <% if current_user.referrer_coupons.empty? %>
      <div class="row">
        <h3>您已经成功注册!请到来因盒微信服务号给客服留言您的身份ID，我们将回复定制推广折扣码给您。</h3>

        <div class="col-md-3 col-md-offset-3">
          <h3><strong>1.</strong> 请复制您的身份ID</h3>
          <h4>Referral ID: <br/><strong><%= current_user.referrer_id %></strong></h4>
        </div>

        <div class="col-md-3">
          <h3><strong>2.</strong> 识别来因盒微信服务号二维码，"我的->在线客服"里留言粘贴发送身份ID</h3>
          <img src="/images/stickers/qrcode_for_gh.jpg" width="50%">
        </div>
      </div>
  <% else %>
      <p>您已经成功注册!请下载保存为您的订制的折扣码推广图片。</p>
      <p>请识别折扣码推广图片里来因盒微信服务号二维码并关注，欢迎联系我们: "我的->在线客服"里留言。</p>
      <% current_user.referrer_coupons.each do |coupon| %>
          <img src="<%= guest_coupon_flyer_path(coupon) %>" style="max-height: 500px;">
      <% end %>
  <% end %>
</div>
