<div class="+white-box +centered">
  <h4>专注德国精品</h4>
  <h4><%= current_user.nickname %>，您已经成功注册， 欢迎加入推广计划！</h4>
  <% if current_user.referrer.coupons.empty? %>
      <div class="row">
        <h5>您已经成功注册!请到来因盒微信服务号给客服留言您的身份ID，我们将回复定制推广折扣码给您。</h5>

        <div class="col-md-3 col-md-offset-3">
          <h5><strong>1.</strong> 请复制您的身份ID</h5>
          <h6>Referral ID: <br/><strong><%= current_user.referrer.reference_id %></strong></h6>
        </div>

        <div class="col-md-3">
          <h5><strong>2.</strong> 识别来因盒微信服务号二维码，"我的->在线客服"里留言粘贴发送身份ID</h5>
          <img src="/images/stickers/qrcode_for_gh.jpg" width="50%">
        </div>
      </div>
  <% else %>
    <%= link_to '账户查询', provision_customer_referrer_path %>
      <p>请保存您的专属折扣码图片</p>
      <% current_user.referrer.coupons.each do |coupon| %>
          <img src="<%= guest_coupon_flyer_path(coupon) %>" style="max-height: 500px;">
      <% end %>
  <% end %>
</div>
