<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/show/subheader' %>

    <div class="+spacer"></div>

    <!-- MENU -->
    <a href="#" class="big-button --blue">Provision Insight</a>
    <div class="+small-spacer"></div>
    <a href="#" class="big-button --green">Your Coupon</a>

  </div>
</div>
