<div class="col-md-12">
  <div class="row">
    <h3><%= I18n.('edit_product.product_seal') %>
      <%= js_tips(:id => :seals, :tip => I18n.('edit_product.product_seal_info')) %>
    </h3>
    <hr>
  </div>

  <div class="row">
    <% [:seal4, :seal5, :seal6, :seal7].each do |field| %>
    <div class="col-md-3">
      <%= js_file_upload(form: form, field: field) %>
    </div>
    <% end %>
  </div>

</div>
