<div class="col-md-12">
  <div class="row">
    <h3><%= I18n.t('edit_shop.shop_seal') %>
      <%= js_tips(:id => :seals, :tip => I18n.t('edit_shop.shop_seal_info')) %>
    </h3>
    <hr>
  </div>

  <div class="row">
    <% [:seal0, :seal1, :seal2, :seal3].each do |field| %>
    <div class="col-md-3">
      <%= js_file_upload(form: form, field: field) %>
    </div>
    <% end %>
  </div>

</div>
